﻿@font-face {
    font-family: 'stolz1';
    src: url('307740_0_0.eot') format('embedded-opentype'), url('307740_0_0.ttf') format('truetype'), url('307740_0_0.woff') format('woff');
}
@font-face {
    font-family: 'stolz2';
    src: url('307740_1_0.eot') format('embedded-opentype'), url('307740_1_0.ttf') format('truetype'), url('307740_1_0.woff') format('woff');
}
@font-face {
    font-family: 'stolz3';
    src: url('307740_2_0.eot') format('embedded-opentype'), url('307740_2_0.ttf') format('truetype'), url('307740_2_0.woff') format('woff');
}
@font-face {
    font-family: 'stolz4';
    src: url('307740_3_0.eot') format('embedded-opentype'), url('307740_3_0.ttf') format('truetype'), url('307740_3_0.woff') format('woff');
}
@font-face {
    font-family: 'stolz5';
    src: url('307740_4_0.eot') format('embedded-opentype'), url('307740_4_0.ttf') format('truetype'), url('307740_4_0.woff') format('woff');
}
@font-face {
    font-family: 'stolz6';
    src: url('307740_5_0.eot') format('embedded-opentype'), url('307740_5_0.ttf') format('truetype'), url('307740_5_0.woff') format('woff');
}

@font-face {
    font-family: 'OpenSans';
    src: url('OpenSans-Regular.ttf') format('truetype');
}


