﻿@using SD.Core.Data.Model

@model Article
@if (Model != null)
{


    <li>
        <span class="article_title">@Model.Title</span>
        <a href="#" class="remove btn" rel="@Model.Id">[x]</a>
    </li>}