﻿@using CMS.Helpers.HtmlExtensions
@using SD.Core.Data.Model
@using SD.Core.Common.Constants
@model Media

<li class="media_item thumbnail">
    @*<img src="@Html.GetMediaUri(MediaProfile.size_600x300, Model)" alt="@Model.Title" title="@Model.Title" class="edit-media-item-image" />*@
    @Html.GetMediaMarkup(MediaProfile.size_600x300, Model,"")
    <br/>
    @*<span class="caption">@Model.Title</span>*@
    <a href="#" class="media_remove" rel="@(Model.Id)">[x]</a>
</li>