﻿

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request. Please contact Support for assistance</h2>
@*@Model.Exception
@Model.ActionName*@

