﻿
@using SD.Core.Common.Constants
@using SD.Core.Services.Security
@using ScriptRegistrar = SD.Core.Common.Utils.ScriptRegistrar

<ul class="nav navbar-nav navbar-left">
    <li>
        @* <i class='fa fa-home'></i>  *@
        @*@Html.ActionLink("Home", "Index", "Home")*@
    </li>

    @if (LiveUser.CanDoAny(Permission.ViewUsers, Permission.EditUsers, Permission.AdminFunctions))
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Admin
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">


                @if (LiveUser.CanDoAny(Permission.EditUsers, Permission.ViewUsers))
                {
                    <li>@Html.ActionLink("Users", "Index", "User")</li>
                }
            </ul>
        </li>
    }
    @if (LiveUser.CanDoAny(Permission.ViewListings, Permission.ViewDocuments)
                        .Or(Permission.ViewDocuments))
    {
        <li class="dropdown">            
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Categories And Sponsors", "Index", "Tags")</li> 
                <li>@Html.ActionLink("Featured Listings", "Index", "FeaturedListing")</li>     
                <li>@Html.ActionLink("Listings", "Index", "Listing")</li>                
                <li>@Html.ActionLink("Members", "Index", "Members")</li>                           
                @*<li>@Html.ActionLink("Pages", "Index", "Pages")</li>*@    

            </ul>
        </li>
    }

    @if (LiveUser.CanDoAny(Permission.EditMedia, Permission.ViewMedia, Permission.EditMediaGalleries, Permission.ViewMediaGalleries))
    {
        @*<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Media
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    @if (LiveUser.CanDoAny(Permission.EditMedia, Permission.ViewMedia))
                    {
                        <li>@Html.ActionLink("Media", "Index", "Media")</li>

                    }
                </ul>
            </li>*@
    }




</ul>
