﻿@using SD.Core.ViewModels
@model PaginationModel

<div class="pagination">

    <div class="btn-group btn-group-md" role="group">

        @if (Model != null)
        {
            if (Model.CurrentPage > 1)
            {
                <a class="btn btn-default" href="@(Model.BaseUrl)page/@(Model.CurrentPage - 1)@Model.QueryString">
                    Previous
                </a>
            }
            // Find the total number of pages
            var pageCount = (int)Math.Round((decimal)(Model.TotalItemCount / Model.PageSize), MidpointRounding.AwayFromZero);
            // If theres a few on the last page then we need to extend the pageCount by one
            pageCount += (Model.TotalItemCount % Model.PageSize == 0) ? 0 : 1;
            for (var i = 1; i <= pageCount; i++)
            {
                var topRange = Model.CurrentPage + Model.PageRange;
                var bottomRange = Model.CurrentPage - Model.PageRange;

                if (bottomRange < 0) { topRange -= bottomRange; }
                if (topRange > pageCount) { bottomRange += (pageCount - topRange); }

                if (i > bottomRange && i < topRange)
                {
                    if (i != (Model.CurrentPage))
                    {
                        <a class="btn btn-default" href="@(Model.BaseUrl)page/@(i)@Model.QueryString">
                            @i.ToString()
                        </a>
                    }
                    else
                    {
                        <button type="button" class="btn btn-active">
                            @i
                        </button>
                    }
                }
            }
            if ((Model.CurrentPage * Model.PageSize) < Model.TotalItemCount &&
                Model.TotalItemCount > Model.PageSize)
            {
                <a class="btn btn-default" href="@(Model.BaseUrl)page/@(Model.CurrentPage + 1)@Model.QueryString">
                    Next
                </a>
            }
        }

    </div>

</div>

