﻿
@using CMS.Models
@using SD.Core.Common.Config
@using SD.Core.Common.HtmlExtensions
@using SD.Core.Data.Model
@using SD.Core.Common.Constants
@using SD.Core.Services.Security
@using ScriptRegistrar = SD.Core.Common.Utils.ScriptRegistrar

@{
    ScriptRegistrar.RegisterScript("~/Scripts/jquery.media-quick-upload.js");
    ScriptRegistrar.RegisterScript("~/Scripts/jquery.jqote2.js");
    
    ScriptRegistrar.RegisterStyle("~/Content/Styles/MediaQuickUpload.css");

    ScriptRegistrar.RegisterScript("~/Scripts/FileUploader/fileuploader.js");
    ScriptRegistrar.RegisterStyle("~/Scripts/FileUploader/fileuploader.css");

    ScriptRegistrar.RegisterScript("~/Scripts/ImgAreaSelect/jquery.imgareaselect.min.js");
    ScriptRegistrar.RegisterStyle("~/Scripts/ImgAreaSelect/imgareaselect-animated.css");

    ScriptRegistrar.RegisterScript("~/Scripts/jquery.todictionary.js");
    ScriptRegistrar.RegisterScript("~/Scripts/date.js");
    //ScriptRegistrar.RegisterScript("~/Scripts/jquery.parsedates.js");
    ///TODO: Add necessary ratios
    ScriptRegistrar.RegisterClientVariable("mediaRatios", new[] { MediaRatio.ratio_6x4  });
}

<script type="text/x-jqote-template" id="mediaQuickUploadTemplate">
    <![CDATA[

    <div id="mediaQuickUpload<*= this.instanceNumber *>" class="modal media-quick-uploader" style="display:none;">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Media Selector</h4>
                </div>
                <div class="modal-body">

                    <ul class="stage-labels">
                        <li class="stage-label" id="stage1Label">Stage 1: Upload</li>
                        <li class="stage-label" id="stage2Label">Stage 2: Crop</li>
                        <li class="stage-label" id="stage3Label">Stage 3: Basic Details</li>
                        <li class="stage-label" id="stage4Label">Stage 4: Save</li>
                    </ul>
                    <div class="media-selector-tabs">
                        <ul class="media-quick-upload-tab-container list-unstyled">
                            <li class="stage-view stage-1-view">
                                <p>Select the media you want to upload. Preferably a minimum of 1000w x 500h for best resolution.</p>
                                <div class="media-uploader">
                                    <noscript>
                                        <p>Please enable JavaScript to use the Quick Media Uploader.</p>
                                    </noscript>
                                </div>
                                <div class="media-uploader-drop-area">Or drop files here</div>
                            </li>
                            <li class="stage-view stage-2-view">
                                <p>Crop to the correct dimensions or click next: <span id="spanRatioInfo"></span></p>
                                <p></p>
                                <div class="crop-area"></div>
                            </li>
                            <li class="stage-view stage-3-view">
                                <h2>Add basic details</h2>
                                <ul class="list-unstyled">
                                    <li class="form-group">
                                        <label for="title">Title</label>
                                        <input type="text" name="title" class="form-control" />
                                    </li>
                                    <li class="form-group">
                                        <label>SEO Title</label>
                                        <input type="text" name="seoTitle" class="form-control" />
                                    </li>
                                    <li class="form-group">
                                        <label>Meta Description</label>
                                        <textarea name="metaDescription" class="form-control" />
                                    </li>
                                    <li class="form-group">
                                        <label>Credit</label>
                                        <input type="text" name="credit" class="form-control" />
                                    </li>
                                </ul>
                            </li>
                            <li class="stage-view stage-4-view">
                                <p>Select save to finish and add the media to this item.</p>
                                <ul class="unstyled user-responses"></ul>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="btn-group">
                        <a href="#" class="btn save stage-view stage-4-view">Save</a>
                        <a href="#" class="btn next-resize stage-view stage-2-view" title="Resize the image and move to next ratio">Resize</a>
                        <a href="#" class="btn next-crop stage-view stage-2-view" title="Next ratio">Next</a>
                        <a href="#" class="btn next-final stage-view stage-3-view">Next</a>
                        @*<a href="#" class="btn disable-ratio stage-view stage-2-view" title="Ignore resizing and move to next ratio" style="display:none">Don't crop</a>*@
                        <a href="#" class="btn cancel">Cancel</a>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->


    </div>
    ]]>
</script>

<script type="text/x-jqote-template" id="mediaQuickUploadResponseTemplate">
    <![CDATA[
        <* var alertClass = "";
        switch(this.Type) {
            case 2:
                alertClass = "alert-error";
                break;
            case 0:
                alertClass = "alert-success";
                break;
        }
        *>
        <li class="alert <*= alertClass*>">
            <a href="#" class="close" data-dismiss="alert">×</a>
            <span class="headline"><*= this.Headline*></span>
            <p><*= this.Details*></p>
        </li>
    ]]>
</script>