﻿




@using HN.Core.Data.Model
@model FileUploadViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head
{
    <!-- JQuery tools -->
    <!-- ImgAreaSelect -->
    <!-- Page styles -->
    <link href="@Url.CdnContent("~/Content/Styles/Form.css")" rel="Stylesheet" type="text/css" />
    <link href="@Url.CdnContent("~/Content/Styles/Media.css")" rel="Stylesheet" type="text/css" />
    <script src="@Url.CdnContent("~/Scripts/MediaEdit.js")" type="text/javascript"></script>
    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js" type="text/javascript"></script>




}
@section SideBar
{
    <li><a href="/Media"><i class="fa fa-chevron-left"></i>Back to list</a></li>
    <li><a href="#" id="hostingupload"><i class="icon-upload"></i>Hosting &amp; Upload</a></li>

}


@*@{ Html.RenderPartial("UserResponses", Model.Responses); }*@


<div class="row-fluid">

    <h2>New Media Item</h2>


</div>


<fieldset id="hostinguploadTab" class="row-fluid">
    <legend>Audio File Load (.mp3)</legend>
    <ul class="list-unstyled">


        @if (LiveUser.Can(Permission.EditMedia))
        {

            <li>

                <form action="@Model.FormAction" method="@Model.FormMethod" enctype="@Model.FormEnclosureType">
                    <input type="hidden" name="key" value="@Model.FileId" />
                    <input type="hidden" name="AWSAccessKeyId" value="@Model.AWSAccessKey" />
                    <input type="hidden" name="acl" value="@Model.Acl" />
                    <input type="hidden" name="policy" value="@Model.Base64EncodedPolicy" />
                    <input type="hidden" name="signature" value="@Model.Signature" />
                    <input type="hidden" name="redirect" value="@Model.RedirectUrl" />
                    <div>
                        Please specify a file for upload:
                        <input type="file" id="inputfile" name="file" size="100" />
                    </div>
                    <input type="submit" value="Upload" />
                </form>

            </li>
        }

    </ul>

</fieldset>


