﻿
@model MediaProfileEditPanelModel

<label>Edit Media Profile <span id="editProfileName" /></label>
<img src="@Html.GetMediaUri(MediaProfile.Original, Model.Media)" alt="" id="mediaFullCropbox" style="width:@(Model.FullSizeCropBoxWidth)px;" />

<div id="mediaProfilePreviewContainer">
    <div id="mediaProfilePreview"style="width: @(Model.ProfileConfig.Width)px; height: @(Model.ProfileConfig.Height)px;">
        <img src="@Html.GetMediaUri(MediaProfile.Original, Model.Media)" alt="" />
    </div>
</div>
<a href="#" id="saveMediaProfile">[ Save ]</a>
<a href="#" id="cancelMediaProfileEdit">[ Cancel ]</a>