﻿@using CMS.Helpers.HtmlExtensions
@using CMS.Models
@using SD.Core.Common.HtmlExtensions
@using SD.Core.Common.Utils
@using SD.Core.Common.Constants
@using SD.Core.Services.Security


@model MediaRatioEditItemModel

@{
    var className = Model.Media.AvailableRatios.Contains(Model.RatioConfig.RatioName) ? "enabled" : "disabled";
}

<li id="mediaRatio_@(Model.RatioConfig.RatioName)" class="@className thumbnail">
    @if (Model.Media.AvailableRatios.Contains(Model.RatioConfig.RatioName))
    {
        <img src="@(Html.GetMediaUri(Model.RatioConfig.RatioName, Model.Media))?cachebuster=@(Guid.NewGuid().ToString())" alt="@Model.RatioConfig.PrettyRatioName" class="ratio_edit_item_thumbnail" />
        <a href="#">@Model.RatioConfig.PrettyRatioName</a>
        if (LiveUser.Can(Permission.EditMedia))
        {
            <div class="btn-group">
                <a class="btn edit-cropping" title="Edit cropping" href="#" rel="@Model.RatioConfig.RatioName"><i title="Edit" class="fa fa-pencil"></i></a>
                @if (!Model.RatioConfig.IsRequired)
                {
                    <a class="btn disable-ratio" title="Enable ratio" href="#" rel="@Model.RatioConfig.RatioName"><i title="Disable" class="icon-ban-circle"></i></a>
                }
            </div>
        }
    }
    else
    {
        <img src="@Url.CdnContent("~/Content/Images/DisabledMediaRatio.png")" alt="@Model.RatioConfig.PrettyRatioName" class="ratio_edit_item_thumbnail" />
        <a href="#">@Model.RatioConfig.PrettyRatioName</a>
        
        if (MediaUtils.MediaRatioHasProfiles(Model.RatioConfig.RatioName) && LiveUser.Can(Permission.EditMedia))
        {
            <div class="btn-group">
                <a class="btn enable-ratio" title="Edit ratio" href="#" rel="@Model.RatioConfig.RatioName"><i title="Enable" class="icon-ok-circle"></i></a>
            </div>
        }
        else
        {
            <span class="label label-warning">Not in use.</span>
        }
    }
</li>