﻿
@using SD.Core.Common.Constants
@using SD.Core.Data.Model
@model MediaGallery

<li class="well">
    <h2>@Model.Title</h2>
    
    <div class="btn-group">
        <a class="btn btn-default" href="/Media/Edit/@Model.Id" title="Edit"><i class="fa fa-pencil" title="Edit"></i></a>
        @if (Model.Status != PublicationStatus.Deleted)
        {
            <a class="btn btn-default" href="/Media/DeleteGallery/@Model.Id" title="Delete"><i class="fa fa-trash" title="Delete"></i></a>
        }
        else
        {
            <a class="btn btn-default" href="/Media/HardDeleteGallery/@Model.Id" title="Remove from recycle bin (irreversible)"><i class="fa fa-exclamation-triangle"></i></a>
            <a class="btn btn-default" href="/Media/RestoreGallery/@Model.Id" title="Restore"><i class="fa fa-repeat"></i></a>
        }
    </div>
</li>