﻿
@using CMS.Helpers.HtmlExtensions
@using SD.Core.Common.Constants
@model CMS.Models.MediaRatioEditPanelModel
         @{
             //var aspectRatio = ((decimal)Model.RatioConfig.Height / (decimal)Model.RatioConfig.Width);
             //var height = (int)Math.Round((decimal)(Model.CropBoxPreviewWidth * aspectRatio));
             //var previewClass = aspectRatio < 1 ? "imgmargintop" : string.Empty;

             string imgAttributes = string.Format("id='mediaFullCropbox' style='width:{0}px;'", @Model.CropBoxEditWidth);
             // string styleWidthHeight = string.Format("width:{0}px;height:{1}px;",Model.CropBoxPreviewWidth,height);
         }  
@*<img src="@Html.GetMediaUri(MediaProfile.Original, Model.Media)" alt="" id="mediaFullCropbox" style="width:@(Model.CropBoxEditWidth)px;" />*@
@Html.GetMediaMarkup(MediaProfile.Original, Model.Media, @imgAttributes)
<div id="mediaRatioPreviewContainer">
    @{
        var aspectRatio = ((decimal)Model.RatioConfig.Height / (decimal)Model.RatioConfig.Width);
        var height = (int)Math.Round((decimal)(Model.CropBoxPreviewWidth * aspectRatio));
        var previewClass = aspectRatio < 1 ? "imgmargintop" : string.Empty;
    }
    <div id="mediaRatioPreview" class="@previewClass" style="width: @(Model.CropBoxPreviewWidth)px; height: @(height)px;">
    @*<div id="mediaRatioPreview" class="@previewClass" style="@styleWidthHeight">*@
        <img src="@(Html.GetMediaUri(MediaProfile.Original, Model.Media))" alt="" />
        @*@Html.GetMediaMarkup(MediaProfile.Original, Model.Media, "")*@
    </div>
</div>