﻿@using CheckBoxList.Mvc.Html
@using CMS.Models
@using CMS.Helpers
@using SD.Core.Common.Config
@using SD.Core.Common.HtmlExtensions
@using SD.Core.Data.Model
@using SD.Core.Common.Constants
@using SD.Core.Services.Security
@using ScriptRegistrar = SD.Core.Common.Utils.ScriptRegistrar
@using SD.Core.Common.Utilities
@model CMS.Models.FeaturedListingEditModel


@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ScriptRegistrar.RegisterScript("~/Scripts/featuredlistingedit.js");

    if (!string.IsNullOrEmpty(Model.FeaturedListing.Id))
    {
        ScriptRegistrar.RegisterClientVariable("featuredListingId", Model.FeaturedListing.Id);
    }

}

@section SideBar
{
    <li class="nav-header">
        Actions
    </li>
    <li role="presentation">
        <a href="/featuredlisting">
            <i class="fa fa-chevron-left"></i>
            Back to list
        </a>
    </li>

    <li class="divider"></li>

    <li role="presentation" class="active">
        <a href="#info" aria-controls="home" role="tab" data-toggle="tab">
            <i class="fa fa-info-circle"></i>
            General Info
        </a>
    </li>
}

@{ Html.RenderPartial("UserResponses", Model.Responses); }
@using (Html.BeginForm("EditAction", "FeaturedListing", FormMethod.Post, new { name = "editForm" }))
{
    <input type="hidden" id="featuredListingId" name="featuredListingId" value="@Model.FeaturedListing.Id" />    
    <div class="row">
        <div class="page-header">
            <h1>
                @if (!string.IsNullOrEmpty(Model.FeaturedListing.Id) && Model.FeaturedListing.Id != "0")
                {
                    <text>Editing Feature Listing for @Model.FeaturedListing.PageName Page</text>
                }
                else
                {
                    <text>Creating Feature Listing for @Model.FeaturedListing.PageName Page</text>
                }
            </h1>
        </div>
        <div id="row">

            <div class="affix-row row">
                
                    <div class="form-group pull-left">
                        <div class="form-group col-md-12">
                            <label class="control-label">
                                Status
                            </label>
                            <div>
                                <select class="form-control" id="featuredListingStatus" name="FeaturedListing.Status" autofocus>
                                    @foreach (PublicationStatus val in Enum.GetValues(typeof(PublicationStatus)))
                                    {
                                        if (Model.FeaturedListing.Status == val)
                                        {
                                            <option selected="selected" value="@val.ToString()">@val.ToString()</option>
                                        }
                                        else
                                        {
                                            <option value="@val.ToString()">@val.ToString()</option>
                                        }
                                    }
                                </select>
                            </div>
                            <label class="control-label">
                                Page
                            </label>
                            <div>
                                @Model.FeaturedListing.PageName
                            </div>
                        </div>
                    </div>                
                <div class="pull-right">

                    <label class="control-label">
                        &nbsp;
                    </label>
                    <div class="btn-group pull-left margin-right-10">

                        <input class="btn btn-default btn-lg" id="cancel" name="submit" type="submit" value="Cancel" />

                        <input class="btn btn-primary btn-lg" id="save" name="submit" type="submit" value="Save" />

                    </div>


                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        @if (Model.FeaturedListing.CreatedBy != null)
        {
            <strong>
                Created by
            </strong>
            <text>@Model.FeaturedListing.CreatedBy.Forename @Model.FeaturedListing.CreatedBy.Surname on @Model.FeaturedListing.CreatedOn.ToString("dd MMMM yyyy")</text>
        }
        @if (Model.FeaturedListing.UpdatedBy != null)
        {
            <strong>Last updated by</strong>
            <text>@Model.FeaturedListing.UpdatedBy.Forename @Model.FeaturedListing.UpdatedBy.Surname on @Model.FeaturedListing.UpdatedOn.ToString("dd MMMM yyyy")</text>
        }
    </div>
    <div class="tab-content row">

        <div class="clearfix"></div>

        <div role="tabpanel" class="tab-pane active" id="info">
            <h2>
                General Info
            </h2>


            <ul class="list-unstyled">

                <li class="form-group">
                    @*maxchars" maxchars="110"*@
                    <label for="title">
                        Company Name<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.FeaturedListing.ListingId)
                    </label>
                    <input type="text" class="form-control" id="listings" name="listings" placeholder="Enter a company name" value="@Model.FeaturedListing.RelatedListing.CompanyName">
                    <input type="hidden" id="listingId" name="listingId" value="@Model.FeaturedListing.ListingId" />
                </li>
                <li class="form-group">
                    <label for="locationName">
                        Live from (<a href="http://www.worldtimeserver.com/current_time_in_UTC.aspx" target="_blank">UTC Time is used</a>)<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.FeaturedListing.LiveFrom)
                    </label>
                    @Html.TextBoxFor(x => x.FeaturedListing.LiveFrom)
                </li>
                <li class="form-group">
                    <label for="locationName">
                        Expires on (<a href="http://www.worldtimeserver.com/current_time_in_UTC.aspx" target="_blank">UTC Time is used</a>)<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.FeaturedListing.LiveTo)
                    </label>
                    @Html.TextBoxFor(x => x.FeaturedListing.LiveTo)
                </li>
            </ul>
        </div>
    </div>
}
