﻿@using SD.Core.Data.Model
@using CMS.Helpers
@using SD.Core.Common.Constants
@using SD.Core.Common.Utils
@using SD.Core.Services.Security
@using SD.Core.Data.Model
@model List<Listing>
@if (Model != null && Model.Count != 0)
{
    foreach (var list in Model)
    {
        <div class="list-group-item">

            <div class="btn-group pull-right" role="group">
                @if (list.Status != PublicationStatus.Deleted)
                {

                    <a class="btn btn-default" href="#" target="_blank" title="View List">
                        <i class="fa fa-external-link" title="View List"></i>
                    </a>

                    <a class="btn btn-default" href="/Listing/Edit/@list.Id" title="Edit">
                        <i class="fa fa-pencil" title="Edit"></i>
                    </a>              
                }               
            </div>

            <h4>
              
                    <a href="/Listing/Edit/@list.Id" title="Edit">
                        @list.CompanyName
                    </a>
              
            </h4>

            <ul class="list-unstyled">
                <li class="form-group">
                    <strong>
                        @list.ListingType
                    </strong>
                </li>
                <li class="form-group">
                    <strong>
                        @list.Status
                    </strong>
                </li>                
                <li class="form-group">
                    <strong>
                        @list.Status
                    </strong>
                </li>  
                <li class="divider"></li>
                <li class="col-md-3 col-sm-2 ">
                    <i class="fa fa-calendar"></i>

                    Updated On: @(((DateTime)list.UpdatedOn).ToLocalTime())
                </li>
                <li class="col-md-3 col-sm-2 ">
                    <i class="fa fa-calendar"></i>
                    Live from: @(((DateTime)list.LiveFrom).ToLocalTime())

                </li>
                @if (list.LiveTo.HasValue)
                {
                    <li class="col-md-3 col-sm-2 ">
                        <i class="fa fa-calendar"></i>
                        Expires: @(((DateTime)list.LiveTo).ToLocalTime())

                    </li>
                }
                <li class="col-md-1 col-sm-2 ">
                    <span data-toggle="tooltip" data-placement="right" title="Unique Views">
                        <i class="fa fa-eye"></i>
                        @list.ViewCount
                    </span>
                </li>                                
            </ul>

        </div>
    }
}
else
{
    <li>
     Featured   Listings
    </li>
}

