﻿@using CMS.Models
@using SD.Core.Common.HtmlExtensions
@using SD.Core.Common.Constants
@using ScriptRegistrar = SD.Core.Common.Utils.ScriptRegistrar
@using SD.Core.Services.Security
@using SD.Core.Common.Utilities.Extensions.Enums;
@model FeaturedListingModel
@{
    ViewBag.Title = "Editorial > Featured Listings";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ScriptRegistrar.RegisterScript("~/Scripts/featuredlisting.js");
}
@section Head
{
    <link href="@Url.CdnContent("~/Content/Styles/Article.css")" rel="Stylesheet" type="text/css" />
}

@section SideBar
{
    <li class="nav-header">Actions</li>
    @foreach (SD.Core.Common.Constants.Page page in Enum.GetValues(typeof(SD.Core.Common.Constants.Page)).Cast<SD.Core.Common.Constants.Page>())
    {

        <li>
            @Html.ActionLink(string.Format("New {0} Feature Listing", page.DisplayName()), "edit", new { page = page.ToString(), edit = "0" }, new { @class = "sm_new_article" })
        </li>

    }
}


@{ Html.RenderPartial("UserResponses", Model.Responses); }
@using (Html.BeginForm("Index", "FeaturedListing", FormMethod.Post, new { name = "editForm" }))
{
    <input type="hidden" value="" name="orders" id="orders" />
    <input type="hidden" value="@Model.SelectedPage" name="selectedPage" id="selectedPage" />
    <ul class="list-unstyled">
        <li class="form-group">
            @*maxchars" maxchars="110"*@
            <label for="title">
                Select Page<span class="required_star">*</span>
            </label>
            @Html.DropDownList("page", (List<SelectListItem>)ViewBag.Pages, new { @class = "form-control", onchange = "this.form.submit();" })
        </li>
    </ul>


    <div class="row">
        <div class="page-header">
            @if (Model.FeaturedListings.Count > 0)
            {
                <h2>Featured Listings For @ViewBag.SelectedPage  Page</h2>
            }


        </div>
        <div class="col-md-12">

            @if (Model.FeaturedListings.Count > 0)
            {
                <ul id="sortable">
                    @foreach (var featuredListing in Model.FeaturedListings.OrderBy(x => x.Order))
                    {
                        <li id="@featuredListing.Id" style="margin-bottom:5px">
                            <div class="list-group-item">

                                <div class="btn-group pull-right" role="group">
                                    @if (featuredListing.Status != PublicationStatus.Deleted)
                                    {

                                        <a class="btn btn-default" href="/featuredListing/Edit/@featuredListing.Id?page=@featuredListing.PageName.ToString()" title="Edit">
                                            <i class="fa fa-pencil" title="Edit"></i>
                                        </a>

                                        if (LiveUser.Can(Permission.EditListings))
                                        {
                                            <a class="btn btn-danger" href="/featuredListing/Delete?id=@featuredListing.Id" title="Delete">
                                                <i class="fa fa-trash" title="Delete"></i>
                                            </a>
                                        }

                                    }
                                </div>

                                <h4>

                                    <a href="/featuredListing/Edit/@featuredListing.Id?page=@featuredListing.PageName.ToString()" title="Edit">
                                        @featuredListing.RelatedListing.CompanyName
                                    </a>

                                </h4>

                                <ul class="list-unstyled">
                                    <li class="form-group">
                                        <strong>
                                            @featuredListing.Status
                                        </strong>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="col-md-3 col-sm-2 ">
                                        <i class="fa fa-calendar"></i>

                                        Updated On: @(((DateTime)featuredListing.UpdatedOn).ToLocalTime())
                                    </li>
                                    <li class="col-md-3 col-sm-2 ">
                                        <i class="fa fa-calendar"></i>
                                        Live from: @(((DateTime)featuredListing.LiveFrom).ToLocalTime())

                                    </li>
                                    @if (featuredListing.LiveTo.HasValue)
                        {
                                        <li class="col-md-3 col-sm-2 ">
                                            <i class="fa fa-calendar"></i>
                                            Expires: @(((DateTime)featuredListing.LiveTo).ToLocalTime())

                                        </li>
                                    }
                                </ul>

                            </div>

                        </li>
                    }
                </ul>
            }
            else
            {
                <h2>No Listings Found</h2>
            }
        </div>
    </div>
}
