﻿
@using SD.Core.Data.Model
@model IList<MediaGallery>

@foreach (var mediaGallery in Model)
{
    <li>
        <ul class="gallery_items">
            @foreach (Media media in mediaGallery.Media)
            {
                <li>
                    @{ Html.RenderPartial("AvailableMediaItem", mediaGallery.Media); }
                </li>
            }
        </ul>
    </li>
}