﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About Us";
}


<div class="row">
    <div class="container">
        <div class="col-md-8 article">
            <div class="page-header">
                <h2>About Us</h2>
            </div>

            <br />
            
        </div>

    </div>
</div>
