﻿@using SD.Core.Common.Constants
@using SD.Core.Common.Utilities.Extensions.Html
@using Frontend.Helpers.HtmlExtensions
@using X.PagedList.Mvc
@model Frontend.Models.ListingResultViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Suppliers Directory";
}
@section Head
{
    <script src="@Url.Content("~/Assets/Scripts/app/search.js")" type="text/javascript"></script>

}

<div class="row">
    <div class="home-search">
        <div class="container">
            <h1>SUPPLIERS DIRECTORY</h1>
            <div class="col-md-9">
                <header>
                    <h2>Search from over 1,500 companies across the UK.</h2>
                </header>
                @{Html.RenderPartial("SearchListings", Model);}
            </div>
            <div class="col-md-3">
                <h3 class="home">
                    Sign up for a free listing!
                </h3>
                <a href="/listings/post" type="submit" class="btn btn-primary">Add your Company</a>
            </div>
        </div>

    </div>
</div>
@*Featured Listings*@
@{Html.RenderPartial("_FeaturedListing", Model);}

 @*Other Listings*@
<div class="row">
    <div class="container">
        <div class="col-md-8 col-xs-12 offset-top-20">
            @if (Model.Results.Count > 0)
            {
                @Html.PagedListPager((X.PagedList.IPagedList)ViewBag.ResultsPage, page => Url.Action("Category", new { page }))
                <div class="featured">

                    @foreach (var listing in Model.Results)
                    {
                        if (listing.ListingType == ListingType.Premium || listing.ListingType == ListingType.PremiumPlus)
                        {
                            <div class="listing row">
                                <div class="col-md-4">
                                    @if (listing.PrimaryMedia != null)
                        {
                                        <a href="/listings/detail/@listing.UrlSlug"><img src="@Html.GetMediaUri(MediaProfile.size_600x300, listing.PrimaryMedia)" alt="@listing.PrimaryMedia.Title" title="@listing.PrimaryMedia.Title" class="img-responsive" /></a>
                                    }
                                </div>
                                <div class="col-md-8">
                                    <h4><a href="/listings/detail/@listing.UrlSlug">@listing.CompanyName</a></h4>
                                    @if (listing.ListingType != ListingType.Standard)
                        {
                                        @listing.StandFirst
                                    }
                                </div>
                                @if (listing.RelatedTags.Count > 0)
                                {
                                    <div class="col-md-12">
                                        <div class="tag-group-s company-tags clearfix">
                                            <ul class="tags list-unstyled list-inline">
                                                @foreach (var tag in listing.RelatedTags)
                                                {
                                                    <li><a href="/listings/category?submit=browse&categoryurl=@tag.UrlSlug">@tag.DisplayText</a></li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                }

                            </div>
                        }
                        else
                        {
                            <div class="listing row">
                                <div class="col-md-4">
                                    @if (listing.PrimaryMedia != null)
                        {
                                        <a href="/listings/detail/@listing.UrlSlug"><img src="@Html.GetMediaUri(MediaProfile.size_600x300, listing.PrimaryMedia)" alt="@listing.PrimaryMedia.Title" title="@listing.PrimaryMedia.Title" class="img-responsive" /></a>
                                    }
                                </div>
                                <div class="col-md-8">
                                    <h4><a href="/listings/detail/@listing.UrlSlug">@listing.CompanyName</a></h4>
                                </div>
                            </div>
                        }
                    }
                </div>

            }
            else
            {
                <h2>No Results Found</h2>
            }
</div>
</div>
</div>
