﻿@model Frontend.Models.PagesViewModel
@{
    //ViewBag.Title = "Terms & Conditions";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.Title;
}


<div class="row">
    <div class="container">
        <div class="col-md-8 article">
            <div class="page-header">
                <h1>@Model.Title</h1>
            </div>

            <br />

            @Model.Body
        </div>

    </div>
</div>
