﻿@using SD.Core.Data.Model
@using SD.Core.Common.Constants
@using SD.Core.Common.Utilities.Extensions.Html
@using Frontend.Helpers.HtmlExtensions
@model Frontend.Models.ListingResultViewModel
@foreach (var featuredListing in Model.FeaturedListings)
{    
<div class="row">
    <div class="container">
        <div class="col-md-8 col-xs-12 offset-top-20">
            <div class="listing row">
                <h2 class="col-md-8">@featuredListing.RelatedListing.CompanyName</h2>
                <div class="col-md-4">
                    @if (featuredListing.RelatedListing.PrimaryMedia != null)
                    {
                        <img src="@Html.GetMediaUri(MediaProfile.size_600x300, featuredListing.RelatedListing.PrimaryMedia)" alt="@featuredListing.RelatedListing.PrimaryMedia.Title" title="@featuredListing.RelatedListing.PrimaryMedia.Title" class="edit-media-item-image img-responsive" /><br />
                    }
                </div>
                <div class="col-md-12">
                    <a href="/listings/detail/@featuredListing.RelatedListing.UrlSlug" class="btn btn-primary pull-right">Details</a>
                   @Html.Raw(featuredListing.RelatedListing.StandFirst)
                </div>

            </div>
        </div>
    </div>
</div>
}