﻿@using Frontend.Helpers.HtmlExtensions
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Assets/Styles/bootstrap/bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/Styles/bootstrap/bootstrap-3.3.6-dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Assets/Styles/font-awesome/font-awesome-4.5.0/css/font-awesome.min.css?v=1234" rel="stylesheet" />
    <link href="~/Assets/Styles/custom/layout.css" rel="stylesheet" />
    <link href="~/Assets/Fonts/webfonts/fonts.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Assets/Styles/custom/print.css" type="text/css" media="print">
    <link href="~/Assets/Scripts/jquery-ui-1.11.4.custom/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Assets/Scripts/jquery-ui-1.11.4.custom/jquery-ui.theme.min.css" rel="stylesheet" />
    <link href="~/Assets/Scripts/jquery-ui-1.11.4.custom/jquery-ui.structure.min.css" rel="stylesheet" />

    <script src="~/Assets/Scripts/jquery.js" type="text/javascript"></script>
    <script src="~/Assets/Scripts/bootstrap.js" type="text/javascript"></script>
    <script src="~/Assets/Scripts/jquery-ui-1.11.4.custom/jquery-ui.min.js" type="text/javascript"></script>
    @*<script src="~/Assets/Scripts/jquery/jquery-2.2.0.js"></script>*@
    <script>window.jQuery || document.write('<script src="~/Assets/Scripts/jquery/jquery-2.2.0.js"><\/script>')</script>
    @*<script src="~/Assets/Styles/bootstrap/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>*@
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    @RenderSection("Head", false)
</head>
<body>

    <!-- Static navbar -->
    <div class="nav-top clearfix">
        <div class="col-md-2">
            <img src="~/Assets/Images/logo.png" alt="" class="logo img-responsive" />
        </div>
        <ul class="nav navbar-nav navbar-right">
            @Html.Partial("_LoginPartial")
            @*<li><a href="/">Favourites<span class="sr-only">(current)</span></a></li>
            <li><a href="/Profile/Index">My Account (Sign in)</a></li>
            <li><a href="/Profile/register">Register</a></li>*@
        </ul>

    </div>

    <nav class="navbar navbar-default clearfix">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Browse Categories<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      @{  Html.RenderAction("PopularTags", "Tags", new { take = 10 }); }
                    </ul>
                    <li class="@Html.IsActiveMenu(actions: "Index", controllers: "Home")"><a href="/">Home</a></li>
                    <li class="@Html.IsActiveMenu(actions: "Results", controllers: "Listings")"><a href="/listings/results">View all listings</a></li>
                    <li class="@Html.IsActiveMenu(actions: "Post", controllers: "Listings")"><a href="/listings/post">Post a listing</a></li>
                    <li class="@Html.IsActiveMenu(actions: "About", controllers: "Home")"><a href="/about">About directory</a></li>
                    <li class="@Html.IsActiveMenu(actions: "ListWithUs", controllers: "Listings")"><a href="/listings/listwithus">Listing with us</a></li>
                </ul>
 
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>

                @RenderBody()
 
    <div class="container body-content">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Suppliers Directory <a href="/Home/TermsAndConditions">Terms and Conditions</a></p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
        
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

</body>
</html>
@*<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxN-_4qF8gcfuX7tOBs5w6Wo-RIxnYSrc"></script>*@  
