﻿@using SD.Core.Common.Constants
@using SD.Core.Common.Extensions
@using SD.Core.Common.Utilities
@using SD.Core.Common.Utilities.Extensions.Html
@using SD.Core.Services.Core
@using Frontend.Helpers;
@model Frontend.Models.ArticleFilterModel
@{
    var clickformoreshow = true;
    var _statsService = new StatsService(new SD.Core.Data.MongoRepository());

    const MediaProfile itemMediaProfile = SD.Core.Common.Constants.MediaProfile.size_600x300;
    var profileConfig = SD.Core.Common.Config.SDConfig.Instance.MediaProfiles.GetProfileConfig(itemMediaProfile);

}

<div class="clearfix"></div>

<h3>
    Total results returned: @Model.TotalItemCount
</h3>

@if (Model.Articles != null && Model.Articles.Any())
{

    foreach (var article in Model.Articles)
    {
        var url = ArticleUtilities.GetArticleUri(article);

        if (!string.IsNullOrEmpty(Model.Filter))
        {
            url += "?hub=" + Model.Filter;
        }


        switch (article.ArticleType)
        {
            case ArticleType.bulletin:


                <div id="DivArticleElement_@(article.Id)" class="list-group-item alt-color row bulletin @(!_statsService.IsArticleViewed(article.Id, LoginManager.CurrentUser.UniqueIdentification) ? "new-item" : "") @( article.ArticleType==ArticleType.group?"important":string.Empty)">

                    <h2>
                        @article.Title
                    </h2>

                    <div class="clearfix"></div>

                    <div class="article-number-and-date">
                        <div class="pull-left">
                            <span class="article-number">
                                @article.BrandArticleNumber
                            </span>
                        </div>
                        <div class="pull-left">
                            <h4 class="date">
                                <i class="fa fa-calendar"></i>
                                @Html.DateFormat(article.LiveFrom)
                                @if (article.VersionDate.HasValue && article.LiveFrom != article.VersionDate)
                                {
                                    <span class="_mobileHide">
                                        &dash;
                                        Last updated @Html.DateTimeAgo(article.VersionDate)
                                    </span>
                                }
                            </h4>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    @if (article.PrimaryMedia != null)
                    {
                        if (article.ArticleType == ArticleType.document && article.PrimaryMedia.Hosting == MediaHosting.Document)
                        {

                            string extension = System.IO.Path.GetExtension(article.PrimaryMedia.FileName).Substring(1);
                            <div class="thumbnail">
                                <div class="document-group text-center @extension">
                                    <h3>
                                        <a href="@Url.Action("download", "Download", new {  filename = @article.PrimaryMedia.FileName, urlslug = article.Title})">
                                            @switch (extension)
                                            {
                                                case "xlsx":
                                                    <i class="fa fa-file-excel-o"></i>
                                                    break;
                                                case "pdf":
                                                <i class="fa fa-file-pdf-o"></i>
                                                    break;
                                                case "docx":
                                                <i class="fa fa-file-word-o"></i>
                                                    break;
                                            }
                                            @article.PrimaryMedia.Title
                                        </a>
                                    </h3>
                                    <div class="text-center">
                                        <div class="btn-group" role="group">
                                            <a class="btn btn-primary btn-lg nrDownload" href="@Html.GetMediaUri(itemMediaProfile, article.PrimaryMedia, GlobalVariables.CurrentBrand)">
                                                <i class="fa fa-cloud-download"></i>
                                            </a>
                                            <a class="btn btn-primary btn-lg nrOpenDownload" href="@Html.GetMediaUri(itemMediaProfile, article.PrimaryMedia, GlobalVariables.CurrentBrand)">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {

                            <div class="col-md-12 row thumbnail">
                              
                                    @Html.GetMedia(itemMediaProfile, article.PrimaryMedia, profileConfig.Height, profileConfig.Width, true, false, false, GlobalVariables.CurrentBrand)
                               
                            </div>

                        }

                    }



                    @Html.Raw(article.Body)





                    <div class="clearfix"></div>

                    <div class="btn-group spaced altcolors" role="group" aria-label="...">
                        <label>
                            <i class="fa fa-tags"></i>
                        </label>
                        @foreach (var tag in article.RelatedTags)
                        {
                            <a class="btn btn-default" href="/hub/@tag.UrlSlug">@tag.DisplayText</a>
                        }
                    </div>
                    <div class="clearfix"></div>


                </div>



                        break;
            default:
            <div id="DivArticleElement_@(article.Id)" class="list-group-item alt-color row @(!_statsService.IsArticleViewed(article.Id, LoginManager.CurrentUser.UniqueIdentification) ? "new-item" : "") @( article.ArticleType==ArticleType.group?"important":string.Empty)">

                <div class="pull-left list-group-item-banners">

                    @if (!_statsService.IsArticleViewed(article.Id, LoginManager.CurrentUser.UniqueIdentification))
                    {
                        <span class="btn btn-primary new">
                            NEW
                        </span>
                    }
                    else if (article.VersionDate > LoginManager.CurrentUser.LastLoginDate)
                    {
                        <span class="btn btn-info">
                            UPDATED
                        </span>
                    }

                    @switch (article.ArticleType)
                    {
                        case ArticleType.article:
                            <span class="btn btn-info btn-article">
                                Article
                            </span>
                            break;

                        case ArticleType.group:
                        <span class="btn btn-info btn-group">
                            Group
                        </span>
                            break;

                        case ArticleType.document:
                        <span class="btn btn-info btn-document">
                            Document
                        </span>
                            break;

                        case ArticleType.news:
                        <span class="btn btn-info btn-news">
                            News
                        </span>
                            break;

                        case ArticleType.video:
                        <span class="btn btn-info btn-video">
                            Video
                        </span>
                            break;

                        case ArticleType.bulletin:
                        <span class="btn btn-info btn-video">
                            Bulletin
                        </span>
                            break;

                    }
                </div>
                <div class="pull-right btn-group spaced add-tools" role="group">


                    @{

                        var tooltipText = "Favourited by " + article.FavCount + " people";
                        if (article.FavCount == 1)
                            {
                            tooltipText = "Favourited by " + article.FavCount + " person";
                            }

                        if (article.IsFavoriteForCurrentUser)
                            {
                            <a class="btn btn-default" href="#" data-favourite="true" data-urlslug="@article.Id" data-toggle="tooltip" title="@tooltipText">
                                <i class="fa fa-star"></i>
                                <span class="favcount" data-count="@article.FavCount"></span>
                            </a>
                            }
                        else
                        {
                            <a class="btn btn-default" href="#" data-favourite="false" data-urlslug="@article.Id" data-toggle="tooltip" title="@tooltipText">
                                <i class="fa fa-star-o"></i>
                                <span class="favcount" data-count="@article.FavCount"></span>
                            </a>
                        }
                    }

                    @{
                    var readingListText = "Added to " + article.FavCount + " peoples reading list";
                    if (article.FavCount == 1)
                    {
                        readingListText = "Added to " + article.FavCount + " persons reading list";
                    }
                    }

                    <button class="btn btn-default" data-bind="click: function(){ showDialog(true); articleUrlSlug('@article.Id'); }" data-toggle="tooltip" title="@readingListText">
                        <i class="fa fa-bookmark-o"></i>
                        <span class="readinglistcount" id="@(article.Id)RL" data-count="@article.ReadingListCount"></span>

                    </button>

                    @if (Model.FilterType == Frontend.Models.Constants.ArticleFilterType.UserReading && ViewBag.ReadingList.UserId == LoginManager.CurrentUser.UniqueIdentification)
                    {
                        <a class="btn btn-danger" href="javascript:removeArticleFromReadingList('@article.Id')" data-toggle="tooltip" data-placement="top" title="Remove From The List">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                            Remove
                        </a>
                    }
                </div>
                <div class="clearfix"></div>

                <h2>
                    <a href="@url">
                        @article.Title
                    </a>
                </h2>

                <div class="clearfix"></div>

                <div class="article-number-and-date">
                    <div class="pull-left">
                        <span class="article-number">
                            @article.BrandArticleNumber
                        </span>
                    </div>
                    <div class="pull-left">
                        <h4 class="date">
                            <i class="fa fa-calendar"></i>
                            @Html.DateFormat(article.LiveFrom)
                            @if (article.VersionDate.HasValue && article.LiveFrom != article.VersionDate)
                            {
                                <span class="_mobileHide">
                                    &dash;
                                    Last updated @Html.DateTimeAgo(article.VersionDate)
                                </span>
                            }
                        </h4>
                    </div>
                </div>

                <div class="clearfix"></div>

                @if (article.PrimaryMedia != null)
                {
                    if (article.ArticleType == ArticleType.document && article.PrimaryMedia.Hosting == MediaHosting.Document)
                    {

                        string extension = System.IO.Path.GetExtension(article.PrimaryMedia.FileName).Substring(1);
                        <div class="thumbnail">
                            <div class="document-group text-center @extension">
                                <h3>
                                    <a href="@Url.Action("download", "Download", new {  filename = @article.PrimaryMedia.FileName, urlslug = article.Title})">
                                        @switch (extension)
                                        {
                                            case "xlsx":
                                                <i class="fa fa-file-excel-o"></i>
                                                break;
                                            case "pdf":
                                            <i class="fa fa-file-pdf-o"></i>
                                                break;
                                            case "docx":
                                            <i class="fa fa-file-word-o"></i>
                                                break;
                                        }
                                        @article.PrimaryMedia.Title
                                    </a>
                                </h3>
                                <div class="text-center">
                                    <div class="btn-group" role="group">
                                        <a class="btn btn-primary btn-lg nrDownload" href="@Html.GetDocumentUri(article.PrimaryMedia.Id, GlobalVariables.CurrentBrand, true)">
                                            <i class="fa fa-cloud-download"></i>
                                        </a>
                                        <a class="btn btn-primary btn-lg nrOpenDownload" href="@Html.GetDocumentUri(article.PrimaryMedia.Id, GlobalVariables.CurrentBrand, false)" target="_blank">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {

                        <div class="col-md-12 row thumbnail">
                            <a href="@url">
                                @Html.GetMedia(itemMediaProfile, article.PrimaryMedia, profileConfig.Height, profileConfig.Width, true, false, false, GlobalVariables.CurrentBrand)
                            </a>
                        </div>

                    }

                }

                <p class="standfirst">
                    @article.StandFirst
                </p>

                <p class="standfirst">
                    <a class="readmore" href="@url">
                        Read more
                    </a>
                </p>

                <div class="clearfix"></div>

                <div class="btn-group spaced altcolors" role="group" aria-label="...">
                    <label>
                        <i class="fa fa-tags"></i>
                    </label>
                    @foreach (var tag in article.RelatedTags)
                    {
                        <a class="btn btn-default" href="/hub/@tag.UrlSlug">@tag.DisplayText</a>
                    }
                </div>
                <div class="clearfix"></div>


            </div>


                    break;
        }

    }

    <!-- ko foreach: news -->
    <div data-bind="template: { name: 'news-template' }"></div>
    <!--/ko-->

    <div class="clearfix"></div><!-- ./ end of repeater run -->

    if (clickformoreshow)
    {
        <!-- ko if: noMoreNews() -->
        <div class="row text-center click-for-more">
            <a href="#" class="btn btn-lg btn-primary" data-bind="click: getNews">
                Click for more
                <i class="fa fa-plus"></i>
            </a>
        </div>
        <!--/ko-->
        <!-- ko ifnot: noMoreNews() -->
        <div class="row text-center click-for-more">
            <h6>
                No more results
            </h6>
        </div>
        <!--/ko-->
    }

}
else
{
    <div class="panel panel-default legend">
        <div class="panel-heading">
            No results found
        </div>
        <div class="panel-body">
            @if (Model.FilterType == Frontend.Models.Constants.ArticleFilterType.None)
            {
                <p>Your search did not return any News results.</p>
            }
            else if (Model.FilterType == Frontend.Models.Constants.ArticleFilterType.UserFav)
            {
                <p>You don't have any favourite articles.</p>
            }
            else if (Model.FilterType == Frontend.Models.Constants.ArticleFilterType.UserReading)
            {
                <p>You don't have any articles saved in the reading list</p>
            }
            else if (Model.FilterType == Frontend.Models.Constants.ArticleFilterType.History)
            {
                <p>You didn't see any article</p>
            }
        </div>
    </div>
}

<script type="text/javascript">

    var newsAction = {};

    newsAction.getNewsUrl = "@(Model.BaseUrl)";
    newsAction.paged = @((Model.TotalItemCount > 12).ToString().ToLower());
    newsAction.count = @(Model.TotalItemCount);
</script>


