﻿@{
    var activeMember = Frontend.Helpers.MembershipHelper.GetActiveUser();
}    
@if (activeMember != null)
    {
        //Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @*<li><a href="/">Favourites<span class="sr-only">(current)</span></a></li>*@
        <li><a href="/Profile/Index">My Account</a></li>
        <li>
            <a href="/Profile/Logout">Logout</a>
            @*@using (Html.BeginForm("Logout", "Profile", FormMethod.Post, new { id = "logoutForm" }))
                {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                }*@
        </li>
    }
    else
    {
        <li><a href="/profile/signin">Welcome (Sign in)</a></li>
        <li><a href="/profile/register">Register</a></li>
    }
