﻿@{
    ViewBag.Title = "404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="home-search">
        <div class="container">

            <h1>Page not found</h1>

            <div class="clear"></div>


           

            <div>
                <p>Unfortunately, we haven't been able to find the page you are looking for.</p>
                <p>
                    If you typed in a URL, please make sure you have entered it correctly. It is also
                    possible that the page you are looking for has been moved or deleted.
                </p>
                <p>Return to the <a href="/">homepage</a></p>
            </div>



        </div>






    </div>

</div>
