﻿@model Frontend.Models.ListingResultViewModel
@if (Model.LatestListings.Count > 0)
{
    <h2>Latest listings</h2>    
    <div class="listing row">
        @foreach (var listing in Model.LatestListings)
        {
            <h5>@listing.CompanyName</h5>
            <div class="col-md-12">
                <a href="/listings/detail/@listing.UrlSlug" class="btn btnsec pull-right">Details</a>
            </div>
        }
    </div>    
}