﻿@if (ViewBag.PopularCategories != null)
{
    foreach (SD.Core.Data.Model.Tags tag in ViewBag.PopularCategories)
    {
        <li><a href="/listings/category?submit=browse&categoryurl=@tag.UrlSlug">@tag.DisplayText</a></li>
        @*<li><a href="/listings/results?categoryName=@tag.UrlSlug">@tag.DisplayText</a></li>*@
    }
}