﻿@model Frontend.Models.ListingResultViewModel


@using (Html.BeginForm("Results", "Listings", FormMethod.Post, new { name = "editForm", @class = "form-inline" }))
{
    <div class="form-group">
        <input type="text" class="form-control" id="keyword" name="keyword" placeholder="Keyword" value="@Model.SearchFilter.Keyword">
    </div>
                    <div class="form-group">
                        @if (Model.SearchFilter.Location != null)
                        {
                             <input type="text" class="form-control" id="location" name="countryName" placeholder="location" value="@Model.SearchFilter.Location.Name">
                             <input type="hidden" id="countryId" name="countryId" value=""/>
                        }
                        else
                        {
                            <input type="text" class="form-control" id="location" name="countryName" placeholder="location" >
                            <input type="hidden" id="countryId" name="countryId" />
                        }
                    </div>
                    <div class="form-group">
                        @if (Model.SearchFilter.Category != null)
                        {
                            <input type="text" class="form-control" id="category" name="categoryName" placeholder="Category" value="@Model.SearchFilter.Category.DisplayText">
                            <input type="hidden" id="categoryId" name="categoryId" value="" />
                        }
                        else
                        {
                            <input type="text" class="form-control" id="category" name="categoryName" placeholder="Category">
                            <input type="hidden" id="categoryId" name="categoryId" />
                        }
                    </div>
                    <button type="submit" name="submit" value="search" class="btn btn-primary">Search Companies</button>
                    @*@if (Model.Category != null)
                    {
                        <input type="hidden" id="countryId" name="countryId" />
                    }
                    else
                    {
                    }
                    <input type="hidden" id="categoryId" name="categoryId" />*@
}