﻿
@using SD.Core.ViewModels
@model IList<UserResponseItem>

@if (Model != null && Model.Count != 0)
{
    <ul class="list-unstyled" id="userResponses">
        @foreach (var response in Model)
        {
            var alertClass = "";
            switch (response.Type)
            {
                case ResponseType.Error:
                    alertClass = "alert-error";
                    break;
                case ResponseType.Warning:
                    alertClass = "";
                    break;
                case ResponseType.Notice:
                    alertClass = "alert-success";
                    break;
            }
            <li class="alert @alertClass">
                <a href="#" class="close" data-dismiss="alert">×</a>
                <span class="headline">@response.Headline</span>
                <p>@response.Details</p>
            </li>
        }
    </ul>
}
