﻿@using CMS.Models
@using SD.Core.Common.Config
@using SD.Core.Common.HtmlExtensions
@using SD.Core.Data.Model
@using SD.Core.Common.Constants
@using SD.Core.Services.Security
@using ScriptRegistrar = SD.Core.Common.Utils.ScriptRegistrar
@model UserEditModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ScriptRegistrar.RegisterScript("~/Scripts/UserEdit.js");
    ScriptRegistrar.RegisterClientVariable("permissions", Enum.GetValues(typeof(Permission)));
    ScriptRegistrar.RegisterStyle("~/Content/Styles/User.css");
    
}

@section Head
{

}

@section SideBar
{
    <li><a href="/User"><i class="fa fa-chevron-left"></i> Back to list</a></li>
}

@{ Html.RenderPartial("UserResponses", Model.Responses); }

@using (Html.BeginForm("EditAction", "User", FormMethod.Post, new { name = "editForm" }))
{
    if (string.IsNullOrEmpty(Model.User.Id))
    {
        <h2>New User</h2>
    }
    else
    {
        <h2>Editing User @Model.User.Forename @Model.User.Surname</h2>
    }
    
    <p class="required_label"><strong>Note: </strong>Items marked with a <span class="required_star">*</span> are required.</p>
    
    <fieldset class="row-fluid tab">
        <legend>General Info</legend>
        <ul class="list-unstyled">
            <li class="form-group">
                <label>Forename<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.User.Forename)</label>
                @Html.TextBoxFor(x => x.User.Forename, new { @class = "form-control" })
            </li>
            <li class="form-group">
                <label>Surname<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.User.Surname)</label>
                @Html.TextBoxFor(x => x.User.Surname, new { @class = "form-control" })
            </li>
            <li class="form-group">
                <label>Email<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.User.Email)</label>
                @Html.TextBoxFor(x => x.User.Email, new { @class = "form-control" })
            </li>
            <li class="form-group">
                <label>New Password</label>
                <input type="password" id="newPassword" name="newPassword" placeholder="new password..." class="form-control" />
            </li>
            <li class="form-group">
                <label>Confirm New Password</label>
                <input type="password" id="newPasswordConfirmation" name="newPasswordConfirmation" placeholder="confirm new password..." class="form-control" />
            </li>
            <li class="form-group">
                <label for="standFirst">
                    Receive Notifications
                </label>
                @*<input type="checkbox" id="Version" />*@
                @Html.CheckBoxFor(x => x.User.ReceiveNotifications)
            </li>
            <li class="form-group">
                <label>Permissions</label>
                <ul id="permissions">
                    @foreach (var permissionConfig in Model.AllPermissionConfigurations)
                    {
                        var liClass = "disabled";
                        if (Model.User.Permissions != null && Model.User.Permissions.Contains(permissionConfig.Name))
                        {
                            liClass = "enabled";
                        }
                        <li class="@liClass">
                            <a href="#" id="@permissionConfig.Name.ToString()">
                                <span class="name">@permissionConfig.DisplayName</span>
                                <span class="subtext">@permissionConfig.Description</span>
                            </a>
                        </li>
                    }
                </ul>

                <div style="display:none; visibility: hidden" id="hiddenPermissions">
                    @if (Model.User.Permissions != null)
                    {
                        foreach (var permission in Model.User.Permissions)
                        {
                            <input type="hidden" name="User.Permissions" value="@permission.ToString()" />
                        }
                    }
                </div>
            </li>
        </ul>
    </fieldset>
    
    <div class="btn-group btn-group-fixed">
        @if (LiveUser.Can(Permission.EditUsers))
        {
            <input class="btn btn-default" id="cancel" name="submit" type="submit" value="Cancel" />
            <input class="btn btn-default" id="save" name="submit" type="submit" value="Save" />
        }
        else
        {
            <div class="btn disabled" id="cancel" title="You do not have permission to edit users">Cancel</div>
            <div class="btn disabled" id="save" title="You do not have permission to edit users">Save</div>
        }
    </div>
}
