﻿@using CMS.Models

@using SD.Core.Common.HtmlExtensions
@using ScriptRegistrar = SD.Core.Common.Utils.ScriptRegistrar
@{
    ViewBag.Title = "forgot";
    Layout = null;
}
@model UserEditModel

<html>
<head>
    <title>Password Reset</title>
    <link href="@Url.CdnContent("~/Content/Styles/Bootstrap/bootstrap.css")" type="text/css" rel="Stylesheet" />
    <link href="@Url.CdnContent("~/Content/Styles/Bootstrap/bootstrap-responsive.css")" type="text/css" rel="Stylesheet" />
    <link href="@Url.CdnContent("~/Content/Styles/Global.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.CdnContent("~/Content/Styles/Login.css")" type="text/css" rel="Stylesheet" />    
    <link href="@Url.CdnContent("~/Content/Styles/CMSOverride.css")" type="text/css" rel="Stylesheet" />
</head>
<body>
    @{ Html.RenderPartial("UserResponses", Model.Responses); }
    @using (Html.BeginForm("Reset", "User", FormMethod.Post))
    {
        <div id="loginContainer">
            <div class="modal-header">
                <h3>
                    Forgot your password?
                </h3>
            </div>
            <div class="modal-body">
                <p>
                    Enter your email address to reset your password. We will send it to you in an email.
                    Don't forget to check your spam folder if you don't see the email in your inbox.
                </p>
                <div class="field">
                    <label>
                        Username
                    </label>
                    <input type="text" id="username" name="username" class="input-block-level" placeholder="Email address" />
                </div>
                
            </div>
            <div class="modal-footer">
                <div align="center"><input type="submit" id="Reset" name="Reset" value="Reset" class="btn btn-primary" /> </div>
                <a href="/user/login" id="login" name="login">Back to Login</a>
                
            </div>
        </div>
        
    }
    <!-- Le javascript
    ================================================== -->

</body>
</html>
