﻿@using CMS.Models

@using SD.Core.Common.Constants

@model UserListModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head
{
    <link href="~/Content/Styles/User.css" rel="Stylesheet" type="text/css" />
    <script src="~/Scripts/UserList.js" type="text/javascript"></script>
}

@section SideBar
{
    <li class="nav-header">Actions</li>
    <li>@Html.ActionLink("New User", "Create")</li>
}

@{ Html.RenderPartial("UserResponses", Model.Responses); }

<div class="row-fluid" id="searchContainer">
    <input class="form-control" type="text" id="userSearchBox" placeholder="search..." />
</div>

<div class="row-fluid hide" id="userSearchResultsContainer">
    <div class="span8">
        <h2 id="searchHeading">Search results for <span id="searchTermsLabel" /></h2>
        <ul id="searchedUserList"></ul>
    </div>
</div>
<div class="row-fluid" id="userListContainer">
    <div class="span8">
        <h2>All Users</h2>
        <ul id="userList" class="list-unstyled">
            @if (Model != null && Model.Users.Count != 0)
            {
                foreach (var user in Model.Users)
                {
                    <li class="well">
                        <strong>@user.Surname</strong> @user.Forename (@user.Email) 
                        <div class="btn-group">
                            <a class="btn btn-default" href="/User/Edit/@user.Id" title="Edit"><i class="fa fa-pencil" title="Edit"></i></a>
                            <a class="btn btn-default" href="/User/Delete/@user.Id" title="Delete (irreversible)"><i class="fa fa-exclamation-triangle"></i></a>

                            @if (user.Permissions !=null && user.Permissions.Contains(Permission.UseCMS))
                            {
                                  <a class="btn btn-default" href="/User/RemoveCMSPermissions/@user.Id" title="Remove CMS Permissions"><i class="fa fa-minus-circle"></i></a>
                            }
                            else
                            {
                                 <a class="btn btn-default" href="/User/AddCMSPermissions/@user.Id" title="Add basic CMS Permissions"><i class="fa fa-plus-circle"></i></a>
                            }
                      
                        </div>
                    </li>
                }
            }
            else
            {
                <li>No users ( how are you logged in?? )</li>
            }
        </ul>

        @{ Html.RenderPartial("Pagination", Model.Pagination); }
    </div>
</div>