﻿@using SD.Core.Common.HtmlExtensions
@using ScriptRegistrar = SD.Core.Common.Utils.ScriptRegistrar
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link href="@Url.CdnContent("~/Content/Styles/Global.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.CdnContent("~/Assets/Scripts/jquery.js")" type="text/javascript"></script>
    <script src="@Url.CdnContent("~/Assets/Scripts/jquery.jqote.js")" type="text/javascript"></script>
    <script src="@Url.CdnContent("~/Assets/Scripts/knockout.js")" type="text/javascript"></script>
    <script src="@Url.CdnContent("~/Assets/Scripts/bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.CdnContent("~/Assets/Scripts/jquery/jquery-ui-1.12.0.custom/jquery-ui.min.js")" type="text/javascript"></script>  
    <script src="@Url.CdnContent("~/Scripts/Lib/MicrosoftAjax.js")" type="text/javascript"></script>
    <script src="@Url.CdnContent("~/Scripts/Lib/MicrosoftMvcValidation.js")" type="text/javascript"></script>
    <!-- Twitter Bootstrap -->
    <link href="@Url.CdnContent("~/Content/Styles/Bootstrap/bootstrap.css")" type="text/css" rel="Stylesheet" />
    <link href="@Url.CdnContent("~/Content/Styles/Bootstrap/bootstrap-responsive.css")" type="text/css" rel="Stylesheet" />
    <link href="@Url.CdnContent("~/Content/Styles/Login.css")" type="text/css" rel="Stylesheet" />
    <link href="@Url.CdnContent("~/Content/Styles/CMSOverride.css")" type="text/css" rel="Stylesheet" />
    
</head>
<body>
    @using (Html.BeginForm("Login", "User", FormMethod.Post))
    {
        <div id="loginContainer">
            <div class="modal-header">
                <h3>
                    Login
                </h3>
            </div>
            <div class="modal-body">
                @if (ViewBag.ErrorMessage != null)
                {
                    <p class="alert-error">@ViewBag.ErrorMessage</p>
                }
                <div class="field">
                    <label>
                        Username
                    </label>
                    <input type="text" id="username" name="username" placeholder="Username..." />
                </div>
                <div class="field">
                    <label>
                        Password
                    </label>
                    <input type="password" id="password" name="password" placeholder="Password..." />
                </div>
                <div class="field">
                    <label>
                        Remember me
                    </label>
                    <p>
                        Warning: this can be a security issue if your computer is shared or can be accessed
                        by other people.
                        <input type="checkbox" id="rememberMe" name="rememberMe" placeholder="Remember..." value="true" />
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <div align="center"><input type="submit" id="login" name="login" value="Login" class="btn btn-primary" /></div>
                <a href="/user/forgot" id="passwordReset" name="passwordReset">Forgotten password?</a> |
                <a href="#" id="securityAdvice" name="securityAdvice">Security advice</a>
            </div>
        </div>
    }
    <div class="modal hide fade" id="securityAdivceModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Security advice</h3>
        </div>
        <div class="modal-body">
            <p>We can only guarantee security between your browser and our servers. It is your responsibility to ensure that your computer and therefore the accounts that you access are not compromised.</p>
            <h4>Attack routes</h4>
            <p>Some common attacks include:</p>
            <ul>
                <li><strong>Keyloggers</strong> - Record your keystrokes and send them to remote servers with the intention of harvesting private information such as usernames, passwords and bank account details.</li>
                <li><strong>Trojans</strong> - Allow the attacker to access your computer to retrieve information as well as execute commands that could send spam email or perform attacks on other computers.</li>
                <li><strong>Rootkits</strong> - Nested at the deepest level of the victims computer, rootkits are notoriously difficult to detect and remove. Often they are used to spawn new viruses such as the ones detailed above. If your antivirus regularly detects and removes new viruses this can be a sign that you have a rootkit on your computer. The recommended action in this case is to wipe your computer and re-install the operating system (i.e. Windows, OSX, Linux).</li>
            </ul>
            <h4>Precautions and advice</h4>
            <p>We recommend that you take the following security precautions to avoid unauthorised access to your computer and the CMS system:</p>
            <ul>
                <li><strong>Install Anti-Virus software</strong> - There are many free options available such as Avast, AVG and ClamWin as well as commercial offerings such as Norton and McAffee. You should never use a computer without anti-virus installed.</li>
                <li><strong>Install Anti-Malware software</strong> - Malware is software that has malicious intent but generally not as dangerous as Viruses. Most modern, up-to-date operating systems (OS) come pre-installed with anti-malware. Free software is available for older OSs.</li>
                <li><strong>Install Network Firewall software</strong> - Control the flow of information between your computer and the internet. They can help protect against remote attacks that exploit vulnerabilities in the software installed on your computer. Again most recent OSs have firewalls built-in and free alternatives are available for older ones.</li>
                <li><strong>Install Application Firewall software</strong> - Control the execution of code on your computer, Application Firewalls are an excellent "final line of defence" solution that protect you when the above applications fail to detect an attack. We recommend the free Comodo Firewall software.</li>
                <li><strong>Never open unknown attachments</strong> - Email is the most common method of transmitting viruses. Be very sceptical of unexpected attachments, even from people you know. <strong>Never</strong> open attachments ending in .exe or .bat. Event PDFs and Word documents can contain viruses.</li>
                <li><strong>Don't use illegally obtained software</strong> - Pirated software is also a common delivery method for attackers.</li>
                <li><strong>Beware of sites that ask you to install software</strong> - Make sure you research any site that asks you to install software. Your search engine is a great starting point. Use the name of the site or the name of the software (if available) as your keywords and see what comes back. Adobe Flash Player is safe software but make sure you're downloading from the genuine Adobe site before installing.</li>
            </ul>
            <h4>Further reading</h4>
            <p>See the following links for more details:</p>
            <ul>
                <li><a href="http://www.getsafeonline.org/" target="_blank">http://www.getsafeonline.org/</a></li>
            </ul>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-default" id="closeSecurityAdviceModal">Close</a>
        </div>
    </div>

    <div class="modal hide fade" id="passwordResetModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Password reset</h3>
        </div>
        <div class="modal-body">
            <p>If you have forgotten your password then enter your email address below, select "Reset Password" and a new password will be sent to your inbox.</p>
            <span id="passwordResetRequestResponse" class="hide"></span>
            <input type="text" id="passwordResetEmailAddress" placeholder="email address..." />
        </div>
        <div class="modal-footer">

            <a href="#" class="btn btn-default" id="requestPasswordReset">Reset Password</a>
            <a href="#" class="btn btn-default" id="closePasswordResetModal">Close</a>
        </div>
    </div>

    @if (!string.IsNullOrWhiteSpace(ViewBag.PasswordResetTicketKey))
    {
        <div class="modal" id="passwordResetCompleteModal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Password reset</h3>
            </div>
            <div class="modal-body">
                @if (ViewBag.PasswordResetTicketHasTimedOut != null)
                {
                    <br />
                    <h4>Your password reset ticket has expired. </h4>
                    <p>You have 30 minutes from requesting a reset, to check your emails, follow the link, change your password and complete the process.</p>
                }
                else
                {
                    <p>You have requested to reset your password. Please enter and confirm the password you wish to use with your account and select confirm reset</p>
                    <span id="passwordResetCompleteResponse" class="hide"></span>
                    <div class="field">
                        <label>New Password</label>
                        <input type="password" id="passwordResetNewPassword" placeholder="new password..." />
                    </div>
                    <div class="field">
                        <label>Confirm New Password</label>
                        <input type="password" id="passwordResetNewPasswordConfirmation" placeholder="confirm new password..." />
                    </div>
                }
            </div>
            <div class="modal-footer">
                @if (!string.IsNullOrWhiteSpace(ViewBag.PasswordResetTicketKey) && ViewBag.PasswordResetTicketHasTimedOut == null)
                {
                    <a href="#" class="btn btn-default" id="completePasswordReset">Save Password</a>
                }
                <a href="#" class="btn btn-default" id="closePasswordResetCompleteModal">Close</a>
            </div>
        </div>
        <input type="hidden" id="passwordResetTicketKey" value="@ViewBag.PasswordResetTicketKey" />
    }









    <script src="@Url.CdnContent("~/Scripts/jquery.cookie.js")" type="text/javascript"></script>
    <script src="@Url.CdnContent("~/Scripts/popupScript.js")" type="text/javascript"></script>

    <script>


        $(document).ready(function () {

            if ($.browser.msie) {

                var cookiename = "true";

                if (cookie(cookiename)) {

                    var actioned = cookie(cookiename);

                    if (actioned.indexOf('|' + closedId + '|') > -1) {

                        return;
                    }

                } else {

                    $(".overlay-panel, .overlay-panel-content").width(600);

                    setTimeout(function () {
                        functionPopup("Browsing in Internet Explorer", "<p>The CMS website uses new features that do not display correctly in older versions of Internet Explorer. For best use of this website, we recommend downloading and/or browsing in Google Chrome or Mozilla Firefox.</p>");
                    }, 550);

                }

            }

        });


    </script>

    <div class="overlay-bg" title="Close"></div>
    <div class="overlay-panel">
        <img src="@Url.CdnContent("~/Content/Images/close-button.png")" class="close-overlay" title="Close" />
        <div class="overlay-panel-content">
            <div class="modal-header">
                <h3>Browsing in Internet Explorer</h3>
            </div>
            <div class="modal-body">
                <p>The CMS website uses new features that do not display correctly in older versions of Internet Explorer. For best use of this website, we recommend downloading and/or browsing in Google Chrome or Mozilla Firefox.</p>
            </div>
        </div>
    </div>










</body>
</html>
