﻿@using Frontend.Helpers.HtmlExtensions
<div class="list-group">
    <a href="/Profile/" class="list-group-item @Html.IsActiveMenu(actions: "Index", controllers: "Profile")">My Profile</a>
    <a href="/Listings/Post" class="list-group-item @Html.IsActiveMenu(actions: "Post", controllers: "Listings")">Create New Listing</a>
    <a href="/Listings/MyListings" class="list-group-item @Html.IsActiveMenu(actions: "MyListings", controllers: "Listings")">My Listings</a>
    <a href="/Profile/ChangePassword" class="list-group-item @Html.IsActiveMenu(actions: "ChangePassword", controllers: "Profile")">Change Password</a>
</div>
