﻿@{
    if (ViewBag.MessageType == "success")
    {
        ViewBag.Title = "Account Activation Successful";
        ViewBag.MessageColor = "green";
    }
    else if (ViewBag.MessageType == "completed")
    {
        ViewBag.Title = "Account Activation";
        ViewBag.MessageColor = "#ff9000";
    }
    else
    {
        ViewBag.Title = "Activation Failed";
        ViewBag.MessageColor = "red";
    }
}


<div class="row">
    <div class="container">
        <div class="col-md-7 article">
            <div class="page-header">
                <h2>@ViewBag.Title</h2>
            </div>

            <h3 style="color:@ViewBag.MessageColor;">@ViewBag.Message</h3>

            <br />
            <p class="text-center">
                @Html.ActionLink("Goto Login", "Signin", "Profile", new { @class = "btn btn-lg btn-primary" }) &nbsp; 

                @Html.ActionLink("View Listings", "Index", "Listings", new { @class="btn btn-lg btn-success"})
            </p>
        </div>

    </div>
</div>


