﻿@{
    ViewBag.Title = "Sign up - Step 2";
}


<div class="row">
    <div class="container">
        <div class="col-md-7 article">
            <div class="page-header">
                <h2>Activate Your Account</h2>
            </div>

            <h3 style="color:green;">@ViewBag.Message</h3>

            <br />
            <p class="text-center">
                @Html.ActionLink("Goto Login", "Signin", "Profile", new { @class = "btn btn-lg btn-primary" }) &nbsp;

                @Html.ActionLink("Goto Homepage", "Index", "Listings", new { @class = "btn btn-lg btn-success" })
            </p>

        </div>

    </div>
</div>
