﻿@{
    ViewBag.Title = "Forget Password";
}

@model Frontend.Models.ProfileForgetPasswordViewModel

<div class="row">
    <div class="container">
        <div class="col-md-7 article">
            <div class="page-header">
                <h1>Forgotten your password?</h1>
            </div>

            @if (ViewBag.Message != null)
            {
                <h3 style="color:green;">@ViewBag.Message</h3>
            }
            else
            {
                @using (Html.BeginForm("ForgetPassword", "Profile"))
                {
                    @Html.ValidationSummary(true)
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email)
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                    <button type="submit" class="btn btnalt">Reset my password</button>
                }
            }

        </div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Assets/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Assets/Scripts/jquery.validate.unobtrusive.min.js")
}

