﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "My Account";
}

@model Frontend.Models.ProfileEditModel


<div class="row">
    <div class="container">

        <div class="col-md-8 article">
            <div class="page-header">
                @Html.ActionLink("Change Password", "ChangePassword", "Profile", new { @class = "btn btn-lg btnalt pull-right" })
                <h1>My Account </h1>
                <p>Review and update your details</p>

            </div>
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()

                <h2>Personal Information</h2>
                @Html.HiddenFor(x => x.Id)
                
                <div class="form-group">
                    @Html.LabelFor(model => model.Email)
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email", @readonly = true } })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>

                <div class="form-group">
                    <div class="col-sm-3">

                        @Html.LabelFor(model => model.Title)
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", placeholder = "Title" } })
                        @Html.ValidationMessageFor(model => model.Title)
                    </div>
                    <div class="col-sm-4">

                        @Html.LabelFor(model => model.Firstname)
                        @Html.EditorFor(model => model.Firstname, new { htmlAttributes = new { @class = "form-control", placeholder = "Firstname" } })
                        @Html.ValidationMessageFor(model => model.Firstname)
                    </div>
                    <div class="col-sm-5">

                        @Html.LabelFor(model => model.Surname)
                        @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control", placeholder = "Surname" } })
                        @Html.ValidationMessageFor(model => model.Surname)
                    </div>
                </div>

                <div style="clear: both;">
                    <br />
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Telephone)
                    @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control", placeholder = "Telephone" } })
                    @Html.ValidationMessageFor(model => model.Telephone)
                </div>


                <div class="clearfix"></div>

                <h2 class="offset-top-20">Account Details</h2>

                <div class="checkbox">
                    <p>
                        <label>
                            @Html.RadioButtonFor(model => model.AccountType, SD.Core.Common.Constants.AccountType.Individual, new { @class = "account-type" }) I'm an individual
                        </label>
                    </p>
                    <p>
                        <label>
                            @Html.RadioButtonFor(model => model.AccountType, SD.Core.Common.Constants.AccountType.Company, new { @class = "account-type"}) I'm representing a company
                        </label>
                    </p>

                    @Html.ValidationMessageFor(model => model.AccountType)
                </div>

                
                <div class="company-detail">
                    <h2>Company Detail</h2>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CompanyName)
                        @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control", placeholder = "Company Name" } })
                        @Html.ValidationMessageFor(model => model.CompanyName)
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.CompanyDescription)
                        @Html.EditorFor(model => model.CompanyDescription, new { htmlAttributes = new { @class = "form-control", placeholder = "Company Description" } })
                        @Html.ValidationMessageFor(model => model.CompanyDescription)
                    </div>
                    <hr />
                </div>
                
                @*if individual show this*@
                <div class="personal-detail">

                    <div class="form-group">
                        @Html.LabelFor(model => model.CountryId)
                        @Html.DropDownListFor(model => model.CountryId, new SelectList(ViewBag.Countries, "Value", "Text", Model.CountryId), "--Choose One--",
                            new { @class = "form-control", @title = "Select Country" })
                        @*@Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control", placeholder = "Country" } })*@
                        @Html.ValidationMessageFor(model => model.CountryId)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Address1)
                        @Html.EditorFor(model => model.Address1, new { htmlAttributes = new { @class = "form-control", placeholder = "Address 1" } })
                        @Html.ValidationMessageFor(model => model.Address1)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Address2)
                        @Html.EditorFor(model => model.Address2, new { htmlAttributes = new { @class = "form-control", placeholder = "Address 2" } })
                        @Html.ValidationMessageFor(model => model.Address2)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Address3)
                        @Html.EditorFor(model => model.Address3, new { htmlAttributes = new { @class = "form-control", placeholder = "Address 3" } })
                        @Html.ValidationMessageFor(model => model.Address3)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Address4)
                        @Html.EditorFor(model => model.Address4, new { htmlAttributes = new { @class = "form-control", placeholder = "Address 4" } })
                        @Html.ValidationMessageFor(model => model.Address4)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Town)
                        @Html.EditorFor(model => model.Town, new { htmlAttributes = new { @class = "form-control", placeholder = "Town" } })
                        @Html.ValidationMessageFor(model => model.Town)
                    </div>
                    
                    <div class="form-group">
                        @Html.LabelFor(model => model.Postcode)
                        @Html.EditorFor(model => model.Postcode, new { htmlAttributes = new { @class = "form-control", placeholder = "Postal Code" } })
                        @Html.ValidationMessageFor(model => model.Postcode)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.County)
                        @Html.EditorFor(model => model.County, new { htmlAttributes = new { @class = "form-control", placeholder = "County" } })
                        @Html.ValidationMessageFor(model => model.County)
                    </div>


                </div>
                @*endindividual*@

                @*if company show this*@
                
            <div style="clear:both;">
                <br /> <br />
            </div>
                
                <button type="submit" class="btn pull-right btn-lg">Update Account</button>
            }

            <div style="clear:both;">
                <br /> <br />
                <br /> <br />
            </div>
        </div>
        <div class="col-md-4 offset-top-20">
            @Html.Partial("~/Views/Profile/_ProfileSideBar.cshtml")
        </div>

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/Assets/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Assets/Scripts/jquery.validate.unobtrusive.min.js")

    <script type="text/javascript">
        $(document).ready(function () {
           
            $('.company-detail').hide();
            if ($('.account-type[checked="True"').val() == "Company") {
                $('.company-detail').show();
            }
            $('.account-type').change(function () {
              
                if ($(this).val() == "Company") {
                    //$('.personal-detail').hide();
                    $('.company-detail').show();
                } else {
                    $('.company-detail').hide();
                    //$('.personal-detail').show();
                }
            })
        });
    </script>
}