﻿@{
    ViewBag.Title = "Recover Password";
}

@model Frontend.Models.ProfilePasswordRecoveryViewModel

<div class="row">
    <div class="container">
        <div class="col-md-7 article">
            <div class="page-header">
                <h1>@ViewBag.Title</h1>
            </div>
            @if (ViewBag.IsValid)
            {
                using (Html.BeginForm("RecoverPassword", "Profile", new { id = ViewBag.MemberId, passwordToken = ViewBag.MemberId }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.ValidationSummary(true)
                    @Html.AntiForgeryToken()


                    <div class="form-group">
                        @Html.LabelFor(model => model.Password)
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ConfirmPassword)
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Confirm Password" } })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </div>

                    <button type="submit" class="btn pull-right btn-lg">Change Password</button>
                    <div class="clearfix"></div>
                }
            }
            else
            {
                <h2 style="color:red;">@ViewBag.Message</h2>
            }

        </div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Assets/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Assets/Scripts/jquery.validate.unobtrusive.min.js")
}