﻿@{
    ViewBag.Title = "Register";
}

@model Frontend.Models.ProfileCreateViewModel
<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-md-7 article">
                <div class="page-header">
                    <h1>Register</h1>
                </div>

                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true)
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email)
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Password)
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ConfirmPassword)
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Confirm Password" } })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </div>

                    <p>
                        Haymarket Media Group is committed to reserving your right of privacy. Haymarket is registered under, and will process your data, in accordance with the Data Protection Act. See our Privacy Policy.
                    </p>

                    <div class="checkbox">
                        <p>
                            <label>
                                @Html.CheckBox("accept_terms", false) By clicking on the button you confirm that you agree to our Terms and Conditions.
                            </label>
                            <br />
                            @Html.ValidationMessageFor(model => model.accept_terms)
                        </p>
                    </div>

                    <button type="submit" class="btn btn-lg">Submit</button>

                }

            </div>
        </div>

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/Assets/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Assets/Scripts/jquery.validate.unobtrusive.min.js")
}