﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Signin";
}

@model Frontend.Models.ProfileLoginViewModel

<div class="row">
    <div class="container">
        <div class="col-md-7 article">
            <div class="page-header">
                <h1>Sign in to your account</h1>
                <p>Not been here before? Please <a href="/profile/register">Register</a></p>
            </div>
            @using (Html.BeginForm("Signin", "Profile", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()

                <div class="form-group">
                    @Html.LabelFor(model => model.Email)
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password)
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
                    @Html.ValidationMessageFor(model => model.Password)
                </div>

                <div class="checkbox pull-left">
                    <p>
                        <label>
                            @Html.CheckBoxFor(model => model.RememberMe) Stay signed in?
                        </label>
                    </p>
                </div>
                <button type="submit" class="btn pull-right btn-lg">login</button>
                <div class="clearfix"></div>
            }

            @using (Html.BeginForm("ForgetPassword", "Profile"))
            {
                @Html.ValidationSummary()
                @Html.AntiForgeryToken()

                <h2 class="offset-top-20">Forgotten your password?</h2>
                <div class="form-group">
                    <label for="InputPassword1">Password</label>
                    <input type="password" class="form-control" id="InputPassword1" placeholder="Password">
                </div>
                <button type="submit" class="btn btnalt">Reset my password</button>
            }

        </div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Assets/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Assets/Scripts/jquery.validate.unobtrusive.min.js")
}