﻿/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS cross-browser background resize */
/* rounded corner, default set to 5px */
/* CSS cross-browser box shadow, IE & non-IE considerations met */
/* CSS cross-browser box sizing */
/* CSS cross-browser gradient */
/* CSS cross-browser filter blur */
/* min-height cross-browser solution, default height set to 90px */
/* opacity, IE & non-IE opacity set at 50 and 0.5 respectively */
/* CSS cross-browser text-shadow */
/* rotate CSS transformation, default rotation set at 90deg */
/* scale CSS transformation, default x,y at 1.5,1.5 */
/* translateX CSS transformation, default x at 0px */
/* translateY CSS transformation, default x at 0px */
/* skew CSS transformation, default x,y at 20deg, 20deg */
/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS Spares */
/* CSS Spares */
/* CSS Spares */
/* CSS Spares */
/* circle, default height & width set to 100px. Uses .rounded_corner mixin */
/* CSS cross-browser clear fix */
/* CSS cross-browser ellipsis treatment */
/* CSS cross-browser 100%-width/auto-height images */
/* CSS cross-browser ratio */
/* CSS cross-browser text selection */
/* CSS transition, speed set at .150s, and action set to ease-out by default */
/* CSS Spares */
/* CSS Spares */
/* CSS Spares */
/* CSS Spares */
/* Colors library */
/* Colors library */
/* Colors library */
/* Colors library */
/* colors/social */
/*Facebook*/
/*Twitter*/
/*Google+*/
/*YouTube*/
/*LinkedIn*/
/*Instagram*/
/*Pinterest*/
/* */
/* */
/*Vimeo*/
/*Spotify*/
/*RSS*/
/* colors/social */
/* Colors library */
/* Colors library */
/* Colors library */
/* Colors library */
/* VWCV */
/* VWCV */
/* VW */
/* VW */
/* SEAT */
/* SEAT */
/* SKODA */
/* SKODA */
/* AUDI */
/* AUDI */
/*media queries*/
/*media queries*/
h1 {
  font-size: 30px;
  color: #333333;
  font-family: stolz6, sans-serif;
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 1.5em;
  }
}
h2 {
  font-size: 18px;
  color: #333333;
  font-family: stolz6, sans-serif;
}
h3 {
  font-size: 18px;
  color: #333333;
  font-family: stolz5, sans-serif;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 18px;
  color: #999999;
  font-family: stolz5, sans-serif;
}
h6 {
  font-size: 15px;
  color: #333333;
  font-family: stolz6, sans-serif;
}
@media only screen and (max-width: 480px) {
  ._mobileHide {
    display: none !important;
  }
}
._mobileShow {
  display: none !important;
}
@media only screen and (max-width: 480px) {
  ._mobileShow {
    display: block !important;
  }
}
@media only screen and (max-width: 768px) {
  ._tabletHide {
    display: none !important;
  }
}
html {
  height: 100%;
}
body {
  min-height: 100%;
}
/* branding */
/* branding */
body {
  font-family: OpenSans, sans-serif;
  letter-spacing: 0.025em;
  padding: 64px 0 0 0;
}
body.vwcv {
  background-color: #ffffff;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body.vwcv a {
  color: #4bafe8;
}
body.vwcv a:focus,
body.vwcv a:hover {
  color: #1e9be2;
}
body.vwcv h2 a {
  color: #333333;
}
body.vwcv h2 a:focus,
body.vwcv h2 a:hover {
  color: #333333;
}
body.vwcv .fa-star {
  color: #4bafe8;
}
body.vwcv .btn {
  color: #333333;
}
body.vwcv .btn i {
  color: #4bafe8;
}
body.vwcv .btn.active {
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=@s, Direction=@d, Color='@c')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=20px, Direction=135, Color='@c');
  -webkit-box-shadow: 1px 5px 20px transparent;
  -moz-box-shadow: 1px 5px 20px transparent;
  box-shadow: 1px 5px 20px transparent;
}
body.vwcv .btn.btn-default,
body.vwcv .btn.btn-primary {
  border: 1px solid #4bafe8;
}
@media only screen and (max-width: 768px) {
  body.vwcv .btn.btn-lg {
    font-size: 15px;
  }
}
body.vwcv .btn[data-toggle="collapse"] {
  background-color: #4bafe8 !important;
  color: #ffffff !important;
}
body.vwcv .btn[data-toggle="collapse"] > i {
  color: #ffffff !important;
}
body.vwcv .btn[data-toggle="collapse"].collapsed {
  background-color: transparent !important;
  color: #4bafe8 !important;
}
body.vwcv .btn[data-toggle="collapse"].collapsed > i {
  color: #4bafe8 !important;
}
body.vwcv .btn.btn-default {
  background-color: transparent;
}
body.vwcv .btn.btn-primary {
  background-color: #4bafe8;
  color: #ffffff;
}
body.vwcv .btn.btn-primary i {
  color: #ffffff;
}
body.vwcv .btn.btn-topnav .icon-bar {
  background-color: #4bafe8;
}
body.vwcv .btn.btn-article {
  background-color: #999999;
  border-color: #999999;
}
body.vwcv .btn.btn-group {
  background-color: #999999;
  border-color: #999999;
}
body.vwcv .btn.btn-document {
  background-color: #999999;
  border-color: #999999;
}
body.vwcv .btn.btn-news {
  background-color: #999999;
  border-color: #999999;
}
body.vwcv .btn.btn-video {
  background-color: #999999;
  border-color: #999999;
}
body.vwcv .btn.btn-filter {
  background-color: #e6e6e6;
}
body.vwcv .btn.btn-filter.active {
  background-color: #4bafe8;
  color: #ffffff;
}
body.vwcv .btn.btn-article,
body.vwcv .btn.btn-group,
body.vwcv .btn.btn-document,
body.vwcv .btn.btn-news,
body.vwcv .btn.btn-video {
  color: #ffffff;
}
body.vwcv .btn-group label {
  color: #666666;
}
body.vwcv .btn-group .btn-link {
  margin-left: 0;
}
body.vwcv .btn-group.altcolors label {
  color: #666666;
}
body.vwcv .btn-group.altcolors .btn {
  font-family: OpenSans, sans-serif;
  font-size: 14px;
}
body.vwcv .btn-group.altcolors .btn.btn-sm {
  font-size: 12px;
  color: #999999;
}
body.vwcv .btn-group.altcolors .btn.btn-default,
body.vwcv .btn-group.altcolors .btn.btn-primary {
  border: 1px solid #cccccc;
  color: #666666;
}
body.vwcv .btn-group.altcolors .btn.btn-default.tagsbc,
body.vwcv .btn-group.altcolors .btn.btn-primary.tagsbc {
  border: 1px solid #4bafe8;
  color: #333333;
}
body.vwcv .btn-group.altcolors .btn.btn-default i,
body.vwcv .btn-group.altcolors .btn.btn-primary i {
  color: #bdc82c;
}
@media only screen and (max-width: 768px) {
  body.vwcv .btn-group.altcolors .btn {
    padding: 0.2em 0.4em;
  }
}
body.vwcv .bulletin:before {
  background-color: #bdc82c;
}
body.vwcv .checklist label span {
  background-color: #ffffff;
  border: 1px solid #4bafe8;
}
body.vwcv .checklist input[type="checkbox"]:checked + span {
  background-color: #4bafe8;
  color: #ffffff;
}
body.vwcv .circle-user span {
  background-color: #bdc82c;
  color: #ffffff;
}
body.vwcv .circle-user i {
  color: #bdc82c;
}
body.vwcv .document-group {
  background-color: #e6e6e6;
}
body.vwcv .document-group .btn {
  margin: 0 5px;
}
body.vwcv .document-group span {
  font-size: 20px;
}
body.vwcv .document-group h3 {
  color: #333333;
}
body.vwcv .document-group h3 a {
  color: #333333;
}
body.vwcv .document-group .form-group h4 {
  color: #333333;
  font-size: 22px;
}
body.vwcv .form-control-feedback {
  color: #4bafe8;
}
body.vwcv .list-group-item-banners .btn {
  cursor: default;
}
body.vwcv .list-group-item-banners .btn.btn-primary.new {
  background-color: #333333;
  border: 1px solid #333333;
}
body.vwcv .list-group-item-banners:before {
  border-right-color: #0d0d0d;
}
body.vwcv .list-group-item-banners btn-info {
  border: 1px solid #4bafe8;
}
body.vwcv .list-group-item {
  border-bottom-color: #d9d9d9;
}
body.vwcv .logo-box {
  background-image: url('../../Images/logos/VWCV-EMM-Desktop.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 62px;
  width: 253px;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
@media only screen and (max-width: 480px) {
  body.vwcv .logo-box {
    background-image: url('../../Images/logos/VWCV-mobile.jpg');
    height: 50px;
    width: 107px;
  }
}
body.vwcv .logo-box + i {
  color: #bdc82c;
}
body.vwcv #navbar .navbar-nav {
  background-color: #4bafe8;
}
body.vwcv #navbar .navbar-nav a {
  color: #ffffff;
}
body.vwcv #navbar .navbar-nav a:focus {
  color: #4bafe8;
}
body.vwcv #navbar .navbar-nav .dropdown-menu a {
  color: #4bafe8;
}
body.vwcv .navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #000000 !important;
}
body.vwcv .navbar-default.navbar-search {
  background-color: #eeeeee;
  border-bottom-color: #bdc82c !important;
}
body.vwcv .form-control {
  border: 1px solid #4bafe8;
  color: #4bafe8;
  font-size: 18px;
  height: auto;
  padding: 10px;
}
body.vwcv .related-pages > li {
  border-top: 1px solid #78c3ee;
}
body.vwcv .related-pages > li:first-child {
  border-top: 0 none transparent;
}
body.vwcv .search .form-control {
  padding-top: 7px;
  height: 42px;
  padding-bottom: 7px;
}
body.vwcv .navbar-item.section {
  color: #333333;
}
body.vwcv .navbar-toggle {
  background-color: #177cb6;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
body.vwcv .navbar-toggle span {
  background-color: #ffffff !important;
}
body.vwcv .navbar-toggle.collapsed {
  background-color: #4bafe8;
}
body.vwcv .nav-tabs li a {
  color: #4bafe8 !important;
}
body.vwcv .page-header:after {
  background-color: #4bafe8;
}
body.vwcv .standfirst {
  color: #666666;
}
body.vwcv .standfirst > a {
  color: #666666;
}
body.vwcv .standfirst > a.readmore {
  color: #bdc82c;
  text-decoration: underline;
}
body.vwcv .tags i {
  color: #666666;
}
body.vwcv .tags a {
  border-color: #333333;
  color: #333333;
  font-size: 14px;
  padding: 5px 7px;
}
body.vwcv .tags a:focus,
body.vwcv .tags a:hover {
  border-bottom-color: #1e9be2;
  color: #1e9be2;
}
body.vwcv #sidebar .tags a {
  border-color: #cccccc;
  color: #666666;
  font-size: 14px;
}
body.vwcv #footer {
  color: #ffffff;
}
body.vwcv .article_body ul li:before {
  color: #4bafe8;
}
body.pb {
  background-color: #ffffff;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body.pb a {
  color: #0055a4;
}
body.pb a:focus,
body.pb a:hover {
  color: #003b71;
}
body.pb h2 a {
  color: #333333;
}
body.pb h2 a:focus,
body.pb h2 a:hover {
  color: #333333;
}
body.pb .fa-star {
  color: #0055a4;
}
body.pb .btn {
  color: #333333;
}
body.pb .btn i {
  color: #0055a4;
}
body.pb .btn.active {
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=@s, Direction=@d, Color='@c')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=20px, Direction=135, Color='@c');
  -webkit-box-shadow: 1px 5px 20px transparent;
  -moz-box-shadow: 1px 5px 20px transparent;
  box-shadow: 1px 5px 20px transparent;
}
body.pb .btn.btn-default,
body.pb .btn.btn-primary {
  border: 1px solid #0055a4;
}
@media only screen and (max-width: 768px) {
  body.pb .btn.btn-lg {
    font-size: 15px;
  }
}
body.pb .btn[data-toggle="collapse"] {
  background-color: #0055a4 !important;
  color: #ffffff !important;
}
body.pb .btn[data-toggle="collapse"] > i {
  color: #ffffff !important;
}
body.pb .btn[data-toggle="collapse"].collapsed {
  background-color: transparent !important;
  color: #0055a4 !important;
}
body.pb .btn[data-toggle="collapse"].collapsed > i {
  color: #0055a4 !important;
}
body.pb .btn.btn-default {
  background-color: transparent;
}
body.pb .btn.btn-primary {
  background-color: #0055a4;
  color: #ffffff;
}
body.pb .btn.btn-primary i {
  color: #ffffff;
}
body.pb .btn.btn-topnav .icon-bar {
  background-color: #0055a4;
}
body.pb .btn.btn-article {
  background-color: #999999;
  border-color: #999999;
}
body.pb .btn.btn-group {
  background-color: #999999;
  border-color: #999999;
}
body.pb .btn.btn-document {
  background-color: #999999;
  border-color: #999999;
}
body.pb .btn.btn-news {
  background-color: #999999;
  border-color: #999999;
}
body.pb .btn.btn-video {
  background-color: #999999;
  border-color: #999999;
}
body.pb .btn.btn-filter {
  background-color: #e6e6e6;
}
body.pb .btn.btn-filter.active {
  background-color: #0055a4;
  color: #ffffff;
}
body.pb .btn.btn-article,
body.pb .btn.btn-group,
body.pb .btn.btn-document,
body.pb .btn.btn-news,
body.pb .btn.btn-video {
  color: #ffffff;
}
body.pb .btn-group label {
  color: #666666;
}
body.pb .btn-group .btn-link {
  margin-left: 0;
}
body.pb .btn-group.altcolors label {
  color: #666666;
}
body.pb .btn-group.altcolors .btn {
  font-family: OpenSans, sans-serif;
  font-size: 14px;
}
body.pb .btn-group.altcolors .btn.btn-sm {
  font-size: 12px;
  color: #999999;
}
body.pb .btn-group.altcolors .btn.btn-default,
body.pb .btn-group.altcolors .btn.btn-primary {
  border: 1px solid #cccccc;
  color: #666666;
}
body.pb .btn-group.altcolors .btn.btn-default.tagsbc,
body.pb .btn-group.altcolors .btn.btn-primary.tagsbc {
  border: 1px solid #0055a4;
  color: #333333;
}
body.pb .btn-group.altcolors .btn.btn-default i,
body.pb .btn-group.altcolors .btn.btn-primary i {
  color: #0055a4;
}
@media only screen and (max-width: 768px) {
  body.pb .btn-group.altcolors .btn {
    padding: 0.2em 0.4em;
  }
}
body.pb .bulletin:before {
  background-color: #0055a4;
}
body.pb .checklist label span {
  background-color: #ffffff;
  border: 1px solid #0055a4;
}
body.pb .checklist input[type="checkbox"]:checked + span {
  background-color: #0055a4;
  color: #ffffff;
}
body.pb .circle-user span {
  background-color: #0055a4;
  color: #ffffff;
}
body.pb .circle-user i {
  color: #0055a4;
}
body.pb .document-group {
  background-color: #e6e6e6;
}
body.pb .document-group .btn {
  margin: 0 5px;
}
body.pb .document-group span {
  font-size: 20px;
}
body.pb .document-group h3 {
  color: #333333;
}
body.pb .document-group h3 a {
  color: #333333;
}
body.pb .document-group .form-group h4 {
  color: #333333;
  font-size: 22px;
}
body.pb .form-control-feedback {
  color: #0055a4;
}
body.pb .list-group-item-banners .btn {
  cursor: default;
}
body.pb .list-group-item-banners .btn.btn-primary.new {
  background-color: #333333;
  border: 1px solid #333333;
}
body.pb .list-group-item-banners:before {
  border-right-color: #0d0d0d;
}
body.pb .list-group-item-banners btn-info {
  border: 1px solid #0055a4;
}
body.pb .list-group-item {
  border-bottom-color: #d9d9d9;
}
body.pb .logo-box {
  background-image: url('../../Images/logos/VW_PaintAndBody.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 62px;
  width: 260px;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
@media only screen and (max-width: 480px) {
  body.pb .logo-box {
    background-image: url('../../Images/logos/PB-mobile.jpg');
    height: 50px;
    width: 122px;
  }
}
body.pb .logo-box + i {
  color: #0055a4;
}
body.pb #navbar .navbar-nav {
  background-color: #0055a4;
}
body.pb #navbar .navbar-nav a {
  color: #ffffff;
}
body.pb #navbar .navbar-nav a:focus {
  color: #0055a4;
}
body.pb #navbar .navbar-nav .dropdown-menu a {
  color: #0055a4;
}
body.pb .navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #000000 !important;
}
body.pb .navbar-default.navbar-search {
  background-color: #eeeeee;
  border-bottom-color: #0055a4 !important;
}
body.pb .form-control {
  border: 1px solid #0055a4;
  color: #0055a4;
  font-size: 18px;
  height: auto;
  padding: 10px;
}
body.pb .related-pages > li {
  border-top: 1px solid #006fd7;
}
body.pb .related-pages > li:first-child {
  border-top: 0 none transparent;
}
body.pb .search .form-control {
  padding-top: 7px;
  height: 42px;
  padding-bottom: 7px;
}
body.pb .navbar-item.section {
  color: #333333;
}
body.pb .navbar-toggle {
  background-color: #00203e;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
body.pb .navbar-toggle span {
  background-color: #ffffff !important;
}
body.pb .navbar-toggle.collapsed {
  background-color: #0055a4;
}
body.pb .nav-tabs li a {
  color: #0055a4 !important;
}
body.pb .page-header:after {
  background-color: #0055a4;
}
body.pb .standfirst {
  color: #666666;
}
body.pb .standfirst > a {
  color: #666666;
}
body.pb .standfirst > a.readmore {
  color: #0055a4;
  text-decoration: underline;
}
body.pb .tags i {
  color: #666666;
}
body.pb .tags a {
  border-color: #333333;
  color: #333333;
  font-size: 14px;
  padding: 5px 7px;
}
body.pb .tags a:focus,
body.pb .tags a:hover {
  border-bottom-color: #003b71;
  color: #003b71;
}
body.pb #sidebar .tags a {
  border-color: #cccccc;
  color: #666666;
  font-size: 14px;
}
body.pb #footer {
  color: #ffffff;
}
body.pb .article_body ul li:before {
  color: #0055a4;
}
body.vw {
  background-color: #ffffff;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body.vw a {
  color: #0055a4;
}
body.vw a:focus,
body.vw a:hover {
  color: #003b71;
}
body.vw h2 a {
  color: #333333;
}
body.vw h2 a:focus,
body.vw h2 a:hover {
  color: #333333;
}
body.vw .fa-star {
  color: #0055a4;
}
body.vw .btn {
  color: #333333;
}
body.vw .btn i {
  color: #0055a4;
}
body.vw .btn.active {
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=@s, Direction=@d, Color='@c')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=20px, Direction=135, Color='@c');
  -webkit-box-shadow: 1px 5px 20px transparent;
  -moz-box-shadow: 1px 5px 20px transparent;
  box-shadow: 1px 5px 20px transparent;
}
body.vw .btn.btn-default,
body.vw .btn.btn-primary {
  border: 1px solid #0055a4;
}
@media only screen and (max-width: 768px) {
  body.vw .btn.btn-lg {
    font-size: 15px;
  }
}
body.vw .btn[data-toggle="collapse"] {
  background-color: #0055a4 !important;
  color: #ffffff !important;
}
body.vw .btn[data-toggle="collapse"] > i {
  color: #ffffff !important;
}
body.vw .btn[data-toggle="collapse"].collapsed {
  background-color: transparent !important;
  color: #0055a4 !important;
}
body.vw .btn[data-toggle="collapse"].collapsed > i {
  color: #0055a4 !important;
}
body.vw .btn.btn-default {
  background-color: transparent;
}
body.vw .btn.btn-primary {
  background-color: #0055a4;
  color: #ffffff;
}
body.vw .btn.btn-primary i {
  color: #ffffff;
}
body.vw .btn.btn-topnav .icon-bar {
  background-color: #0055a4;
}
body.vw .btn.btn-article {
  background-color: #999999;
  border-color: #999999;
}
body.vw .btn.btn-group {
  background-color: #999999;
  border-color: #999999;
}
body.vw .btn.btn-document {
  background-color: #999999;
  border-color: #999999;
}
body.vw .btn.btn-news {
  background-color: #999999;
  border-color: #999999;
}
body.vw .btn.btn-video {
  background-color: #999999;
  border-color: #999999;
}
body.vw .btn.btn-filter {
  background-color: #e6e6e6;
}
body.vw .btn.btn-filter.active {
  background-color: #0055a4;
  color: #ffffff;
}
body.vw .btn.btn-article,
body.vw .btn.btn-group,
body.vw .btn.btn-document,
body.vw .btn.btn-news,
body.vw .btn.btn-video {
  color: #ffffff;
}
body.vw .btn-group label {
  color: #666666;
}
body.vw .btn-group .btn-link {
  margin-left: 0;
}
body.vw .btn-group.altcolors label {
  color: #666666;
}
body.vw .btn-group.altcolors .btn {
  font-family: OpenSans, sans-serif;
  font-size: 14px;
}
body.vw .btn-group.altcolors .btn.btn-sm {
  font-size: 12px;
  color: #999999;
}
body.vw .btn-group.altcolors .btn.btn-default,
body.vw .btn-group.altcolors .btn.btn-primary {
  border: 1px solid #cccccc;
  color: #666666;
}
body.vw .btn-group.altcolors .btn.btn-default.tagsbc,
body.vw .btn-group.altcolors .btn.btn-primary.tagsbc {
  border: 1px solid #0055a4;
  color: #333333;
}
body.vw .btn-group.altcolors .btn.btn-default i,
body.vw .btn-group.altcolors .btn.btn-primary i {
  color: #0055a4;
}
@media only screen and (max-width: 768px) {
  body.vw .btn-group.altcolors .btn {
    padding: 0.2em 0.4em;
  }
}
body.vw .bulletin:before {
  background-color: #0055a4;
}
body.vw .checklist label span {
  background-color: #ffffff;
  border: 1px solid #0055a4;
}
body.vw .checklist input[type="checkbox"]:checked + span {
  background-color: #0055a4;
  color: #ffffff;
}
body.vw .circle-user span {
  background-color: #0055a4;
  color: #ffffff;
}
body.vw .circle-user i {
  color: #0055a4;
}
body.vw .document-group {
  background-color: #e6e6e6;
}
body.vw .document-group .btn {
  margin: 0 5px;
}
body.vw .document-group span {
  font-size: 20px;
}
body.vw .document-group h3 {
  color: #333333;
}
body.vw .document-group h3 a {
  color: #333333;
}
body.vw .document-group .form-group h4 {
  color: #333333;
  font-size: 22px;
}
body.vw .form-control-feedback {
  color: #0055a4;
}
body.vw .list-group-item-banners .btn {
  cursor: default;
}
body.vw .list-group-item-banners .btn.btn-primary.new {
  background-color: #333333;
  border: 1px solid #333333;
}
body.vw .list-group-item-banners:before {
  border-right-color: #0d0d0d;
}
body.vw .list-group-item-banners btn-info {
  border: 1px solid #0055a4;
}
body.vw .list-group-item {
  border-bottom-color: #d9d9d9;
}
body.vw .logo-box {
  background-image: url('../../Images/logos/VW-desktop.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 62px;
  width: 133px;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
@media only screen and (max-width: 480px) {
  body.vw .logo-box {
    background-image: url('../../Images/logos/VW-mobile.jpg');
    height: 50px;
    width: 115px;
  }
}
body.vw .logo-box + i {
  color: #0055a4;
}
body.vw #navbar .navbar-nav {
  background-color: #0055a4;
}
body.vw #navbar .navbar-nav a {
  color: #ffffff;
}
body.vw #navbar .navbar-nav a:focus {
  color: #0055a4;
}
body.vw #navbar .navbar-nav .dropdown-menu a {
  color: #0055a4;
}
body.vw .navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #000000 !important;
}
body.vw .navbar-default.navbar-search {
  background-color: #eeeeee;
  border-bottom-color: #0055a4 !important;
}
body.vw .form-control {
  border: 1px solid #0055a4;
  color: #0055a4;
  font-size: 18px;
  height: auto;
  padding: 10px;
}
body.vw .related-pages > li {
  border-top: 1px solid #006fd7;
}
body.vw .related-pages > li:first-child {
  border-top: 0 none transparent;
}
body.vw .search .form-control {
  padding-top: 7px;
  height: 42px;
  padding-bottom: 7px;
}
body.vw .navbar-item.section {
  color: #333333;
}
body.vw .navbar-toggle {
  background-color: #00203e;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
body.vw .navbar-toggle span {
  background-color: #ffffff !important;
}
body.vw .navbar-toggle.collapsed {
  background-color: #0055a4;
}
body.vw .nav-tabs li a {
  color: #0055a4 !important;
}
body.vw .page-header:after {
  background-color: #0055a4;
}
body.vw .standfirst {
  color: #666666;
}
body.vw .standfirst > a {
  color: #666666;
}
body.vw .standfirst > a.readmore {
  color: #0055a4;
  text-decoration: underline;
}
body.vw .tags i {
  color: #666666;
}
body.vw .tags a {
  border-color: #333333;
  color: #333333;
  font-size: 14px;
  padding: 5px 7px;
}
body.vw .tags a:focus,
body.vw .tags a:hover {
  border-bottom-color: #003b71;
  color: #003b71;
}
body.vw #sidebar .tags a {
  border-color: #cccccc;
  color: #666666;
  font-size: 14px;
}
body.vw #footer {
  color: #ffffff;
}
body.vw .article_body ul li:before {
  color: #0055a4;
}
body.seat {
  background-color: #ffffff;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body.seat a {
  color: #c62831;
}
body.seat a:focus,
body.seat a:hover {
  color: #9c1f26;
}
body.seat h2 a {
  color: #333333;
}
body.seat h2 a:focus,
body.seat h2 a:hover {
  color: #333333;
}
body.seat .fa-star {
  color: #c62831;
}
body.seat .btn {
  color: #333333;
}
body.seat .btn i {
  color: #c62831;
}
body.seat .btn.active {
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=@s, Direction=@d, Color='@c')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=20px, Direction=135, Color='@c');
  -webkit-box-shadow: 1px 5px 20px transparent;
  -moz-box-shadow: 1px 5px 20px transparent;
  box-shadow: 1px 5px 20px transparent;
}
body.seat .btn.btn-default,
body.seat .btn.btn-primary {
  border: 1px solid #c62831;
}
@media only screen and (max-width: 768px) {
  body.seat .btn.btn-lg {
    font-size: 15px;
  }
}
body.seat .btn[data-toggle="collapse"] {
  background-color: #c62831 !important;
  color: #ffffff !important;
}
body.seat .btn[data-toggle="collapse"] > i {
  color: #ffffff !important;
}
body.seat .btn[data-toggle="collapse"].collapsed {
  background-color: transparent !important;
  color: #c62831 !important;
}
body.seat .btn[data-toggle="collapse"].collapsed > i {
  color: #c62831 !important;
}
body.seat .btn.btn-default {
  background-color: transparent;
}
body.seat .btn.btn-primary {
  background-color: #c62831;
  color: #ffffff;
}
body.seat .btn.btn-primary i {
  color: #ffffff;
}
body.seat .btn.btn-topnav .icon-bar {
  background-color: #c62831;
}
body.seat .btn.btn-article {
  background-color: #999999;
  border-color: #999999;
}
body.seat .btn.btn-group {
  background-color: #999999;
  border-color: #999999;
}
body.seat .btn.btn-document {
  background-color: #999999;
  border-color: #999999;
}
body.seat .btn.btn-news {
  background-color: #999999;
  border-color: #999999;
}
body.seat .btn.btn-video {
  background-color: #999999;
  border-color: #999999;
}
body.seat .btn.btn-filter {
  background-color: #e6e6e6;
}
body.seat .btn.btn-filter.active {
  background-color: #c62831;
  color: #ffffff;
}
body.seat .btn.btn-article,
body.seat .btn.btn-group,
body.seat .btn.btn-document,
body.seat .btn.btn-news,
body.seat .btn.btn-video {
  color: #ffffff;
}
body.seat .btn-group label {
  color: #666666;
}
body.seat .btn-group .btn-link {
  margin-left: 0;
}
body.seat .btn-group.altcolors label {
  color: #666666;
}
body.seat .btn-group.altcolors .btn {
  font-family: OpenSans, sans-serif;
  font-size: 14px;
}
body.seat .btn-group.altcolors .btn.btn-sm {
  font-size: 12px;
  color: #999999;
}
body.seat .btn-group.altcolors .btn.btn-default,
body.seat .btn-group.altcolors .btn.btn-primary {
  border: 1px solid #cccccc;
  color: #666666;
}
body.seat .btn-group.altcolors .btn.btn-default.tagsbc,
body.seat .btn-group.altcolors .btn.btn-primary.tagsbc {
  border: 1px solid #c62831;
  color: #333333;
}
body.seat .btn-group.altcolors .btn.btn-default i,
body.seat .btn-group.altcolors .btn.btn-primary i {
  color: #c62831;
}
@media only screen and (max-width: 768px) {
  body.seat .btn-group.altcolors .btn {
    padding: 0.2em 0.4em;
  }
}
body.seat .bulletin:before {
  background-color: #c62831;
}
body.seat .checklist label span {
  background-color: #ffffff;
  border: 1px solid #c62831;
}
body.seat .checklist input[type="checkbox"]:checked + span {
  background-color: #c62831;
  color: #ffffff;
}
body.seat .circle-user span {
  background-color: #c62831;
  color: #ffffff;
}
body.seat .circle-user i {
  color: #c62831;
}
body.seat .document-group {
  background-color: #e6e6e6;
}
body.seat .document-group .btn {
  margin: 0 5px;
}
body.seat .document-group span {
  font-size: 20px;
}
body.seat .document-group h3 {
  color: #333333;
}
body.seat .document-group h3 a {
  color: #333333;
}
body.seat .document-group .form-group h4 {
  color: #333333;
  font-size: 22px;
}
body.seat .form-control-feedback {
  color: #c62831;
}
body.seat .list-group-item-banners .btn {
  cursor: default;
}
body.seat .list-group-item-banners .btn.btn-primary.new {
  background-color: #333333;
  border: 1px solid #333333;
}
body.seat .list-group-item-banners:before {
  border-right-color: #0d0d0d;
}
body.seat .list-group-item-banners btn-info {
  border: 1px solid #c62831;
}
body.seat .list-group-item {
  border-bottom-color: #d9d9d9;
}
body.seat .logo-box {
  background-image: url('../../Images/logos/Seat-desktop.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 62px;
  width: 265px;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
@media only screen and (max-width: 480px) {
  body.seat .logo-box {
    background-image: url('../../Images/logos/Seat-mobile.jpg');
    height: 50px;
    width: 121px;
  }
}
body.seat .logo-box + i {
  color: #c62831;
}
body.seat #navbar .navbar-nav {
  background-color: #c62831;
}
body.seat #navbar .navbar-nav a {
  color: #ffffff;
}
body.seat #navbar .navbar-nav a:focus {
  color: #c62831;
}
body.seat #navbar .navbar-nav .dropdown-menu a {
  color: #c62831;
}
body.seat .navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #000000 !important;
}
body.seat .navbar-default.navbar-search {
  background-color: #eeeeee;
  border-bottom-color: #c62831 !important;
}
body.seat .form-control {
  border: 1px solid #c62831;
  color: #c62831;
  font-size: 18px;
  height: auto;
  padding: 10px;
}
body.seat .related-pages > li {
  border-top: 1px solid #da474f;
}
body.seat .related-pages > li:first-child {
  border-top: 0 none transparent;
}
body.seat .search .form-control {
  padding-top: 7px;
  height: 42px;
  padding-bottom: 7px;
}
body.seat .navbar-item.section {
  color: #333333;
}
body.seat .navbar-toggle {
  background-color: #71171c;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
body.seat .navbar-toggle span {
  background-color: #ffffff !important;
}
body.seat .navbar-toggle.collapsed {
  background-color: #c62831;
}
body.seat .nav-tabs li a {
  color: #c62831 !important;
}
body.seat .page-header:after {
  background-color: #c62831;
}
body.seat .standfirst {
  color: #666666;
}
body.seat .standfirst > a {
  color: #666666;
}
body.seat .standfirst > a.readmore {
  color: #c62831;
  text-decoration: underline;
}
body.seat .tags i {
  color: #666666;
}
body.seat .tags a {
  border-color: #333333;
  color: #333333;
  font-size: 14px;
  padding: 5px 7px;
}
body.seat .tags a:focus,
body.seat .tags a:hover {
  border-bottom-color: #9c1f26;
  color: #9c1f26;
}
body.seat #sidebar .tags a {
  border-color: #cccccc;
  color: #666666;
  font-size: 14px;
}
body.seat #footer {
  color: #ffffff;
}
body.seat .article_body ul li:before {
  color: #c62831;
}
body.skoda {
  background-color: #ffffff;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body.skoda a {
  color: #42b74c;
}
body.skoda a:focus,
body.skoda a:hover {
  color: #34923c;
}
body.skoda h2 a {
  color: #333333;
}
body.skoda h2 a:focus,
body.skoda h2 a:hover {
  color: #333333;
}
body.skoda .fa-star {
  color: #42b74c;
}
body.skoda .btn {
  color: #333333;
}
body.skoda .btn i {
  color: #42b74c;
}
body.skoda .btn.active {
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=@s, Direction=@d, Color='@c')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=20px, Direction=135, Color='@c');
  -webkit-box-shadow: 1px 5px 20px transparent;
  -moz-box-shadow: 1px 5px 20px transparent;
  box-shadow: 1px 5px 20px transparent;
}
body.skoda .btn.btn-default,
body.skoda .btn.btn-primary {
  border: 1px solid #42b74c;
}
@media only screen and (max-width: 768px) {
  body.skoda .btn.btn-lg {
    font-size: 15px;
  }
}
body.skoda .btn[data-toggle="collapse"] {
  background-color: #42b74c !important;
  color: #ffffff !important;
}
body.skoda .btn[data-toggle="collapse"] > i {
  color: #ffffff !important;
}
body.skoda .btn[data-toggle="collapse"].collapsed {
  background-color: transparent !important;
  color: #42b74c !important;
}
body.skoda .btn[data-toggle="collapse"].collapsed > i {
  color: #42b74c !important;
}
body.skoda .btn.btn-default {
  background-color: transparent;
}
body.skoda .btn.btn-primary {
  background-color: #42b74c;
  color: #ffffff;
}
body.skoda .btn.btn-primary i {
  color: #ffffff;
}
body.skoda .btn.btn-topnav .icon-bar {
  background-color: #42b74c;
}
body.skoda .btn.btn-article {
  background-color: #999999;
  border-color: #999999;
}
body.skoda .btn.btn-group {
  background-color: #999999;
  border-color: #999999;
}
body.skoda .btn.btn-document {
  background-color: #999999;
  border-color: #999999;
}
body.skoda .btn.btn-news {
  background-color: #999999;
  border-color: #999999;
}
body.skoda .btn.btn-video {
  background-color: #999999;
  border-color: #999999;
}
body.skoda .btn.btn-filter {
  background-color: #e6e6e6;
}
body.skoda .btn.btn-filter.active {
  background-color: #42b74c;
  color: #ffffff;
}
body.skoda .btn.btn-article,
body.skoda .btn.btn-group,
body.skoda .btn.btn-document,
body.skoda .btn.btn-news,
body.skoda .btn.btn-video {
  color: #ffffff;
}
body.skoda .btn-group label {
  color: #666666;
}
body.skoda .btn-group .btn-link {
  margin-left: 0;
}
body.skoda .btn-group.altcolors label {
  color: #666666;
}
body.skoda .btn-group.altcolors .btn {
  font-family: OpenSans, sans-serif;
  font-size: 14px;
}
body.skoda .btn-group.altcolors .btn.btn-sm {
  font-size: 12px;
  color: #999999;
}
body.skoda .btn-group.altcolors .btn.btn-default,
body.skoda .btn-group.altcolors .btn.btn-primary {
  border: 1px solid #cccccc;
  color: #666666;
}
body.skoda .btn-group.altcolors .btn.btn-default.tagsbc,
body.skoda .btn-group.altcolors .btn.btn-primary.tagsbc {
  border: 1px solid #42b74c;
  color: #333333;
}
body.skoda .btn-group.altcolors .btn.btn-default i,
body.skoda .btn-group.altcolors .btn.btn-primary i {
  color: #42b74c;
}
@media only screen and (max-width: 768px) {
  body.skoda .btn-group.altcolors .btn {
    padding: 0.2em 0.4em;
  }
}
body.skoda .bulletin:before {
  background-color: #42b74c;
}
body.skoda .checklist label span {
  background-color: #ffffff;
  border: 1px solid #42b74c;
}
body.skoda .checklist input[type="checkbox"]:checked + span {
  background-color: #42b74c;
  color: #ffffff;
}
body.skoda .circle-user span {
  background-color: #42b74c;
  color: #ffffff;
}
body.skoda .circle-user i {
  color: #42b74c;
}
body.skoda .document-group {
  background-color: #e6e6e6;
}
body.skoda .document-group .btn {
  margin: 0 5px;
}
body.skoda .document-group span {
  font-size: 20px;
}
body.skoda .document-group h3 {
  color: #333333;
}
body.skoda .document-group h3 a {
  color: #333333;
}
body.skoda .document-group .form-group h4 {
  color: #333333;
  font-size: 22px;
}
body.skoda .form-control-feedback {
  color: #42b74c;
}
body.skoda .list-group-item-banners .btn {
  cursor: default;
}
body.skoda .list-group-item-banners .btn.btn-primary.new {
  background-color: #333333;
  border: 1px solid #333333;
}
body.skoda .list-group-item-banners:before {
  border-right-color: #0d0d0d;
}
body.skoda .list-group-item-banners btn-info {
  border: 1px solid #42b74c;
}
body.skoda .list-group-item {
  border-bottom-color: #d9d9d9;
}
body.skoda .logo-box {
  background-image: url('../../Images/logos/Skoda-desktop.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 62px;
  width: 294px;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
@media only screen and (max-width: 480px) {
  body.skoda .logo-box {
    background-image: url('../../Images/logos/Skoda-mobile.jpg');
    height: 50px;
    width: 114px;
  }
}
body.skoda .logo-box + i {
  color: #42b74c;
}
body.skoda #navbar .navbar-nav {
  background-color: #42b74c;
}
body.skoda #navbar .navbar-nav a {
  color: #ffffff;
}
body.skoda #navbar .navbar-nav a:focus {
  color: #42b74c;
}
body.skoda #navbar .navbar-nav .dropdown-menu a {
  color: #42b74c;
}
body.skoda .navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #000000 !important;
}
body.skoda .navbar-default.navbar-search {
  background-color: #eeeeee;
  border-bottom-color: #42b74c !important;
}
body.skoda .form-control {
  border: 1px solid #42b74c;
  color: #42b74c;
  font-size: 18px;
  height: auto;
  padding: 10px;
}
body.skoda .related-pages > li {
  border-top: 1px solid #65c76d;
}
body.skoda .related-pages > li:first-child {
  border-top: 0 none transparent;
}
body.skoda .search .form-control {
  padding-top: 7px;
  height: 42px;
  padding-bottom: 7px;
}
body.skoda .navbar-item.section {
  color: #333333;
}
body.skoda .navbar-toggle {
  background-color: #276c2d;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
body.skoda .navbar-toggle span {
  background-color: #ffffff !important;
}
body.skoda .navbar-toggle.collapsed {
  background-color: #42b74c;
}
body.skoda .nav-tabs li a {
  color: #42b74c !important;
}
body.skoda .page-header:after {
  background-color: #42b74c;
}
body.skoda .standfirst {
  color: #666666;
}
body.skoda .standfirst > a {
  color: #666666;
}
body.skoda .standfirst > a.readmore {
  color: #42b74c;
  text-decoration: underline;
}
body.skoda .tags i {
  color: #666666;
}
body.skoda .tags a {
  border-color: #333333;
  color: #333333;
  font-size: 14px;
  padding: 5px 7px;
}
body.skoda .tags a:focus,
body.skoda .tags a:hover {
  border-bottom-color: #34923c;
  color: #34923c;
}
body.skoda #sidebar .tags a {
  border-color: #cccccc;
  color: #666666;
  font-size: 14px;
}
body.skoda #footer {
  color: #ffffff;
}
body.skoda .article_body ul li:before {
  color: #42b74c;
}
body.audi {
  background-color: #f0f2f3;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body.audi a {
  color: #222222;
}
body.audi a:focus,
body.audi a:hover {
  color: #080808;
}
body.audi h2 a {
  color: #333333;
}
body.audi h2 a:focus,
body.audi h2 a:hover {
  color: #333333;
}
body.audi .fa-star {
  color: #222222;
}
body.audi .btn {
  color: #333333;
}
body.audi .btn i {
  color: #222222;
}
body.audi .btn.active {
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=@s, Direction=@d, Color='@c')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=20px, Direction=135, Color='@c');
  -webkit-box-shadow: 1px 5px 20px transparent;
  -moz-box-shadow: 1px 5px 20px transparent;
  box-shadow: 1px 5px 20px transparent;
}
body.audi .btn.btn-default,
body.audi .btn.btn-primary {
  border: 1px solid #222222;
}
@media only screen and (max-width: 768px) {
  body.audi .btn.btn-lg {
    font-size: 15px;
  }
}
body.audi .btn[data-toggle="collapse"] {
  background-color: #222222 !important;
  color: #ffffff !important;
}
body.audi .btn[data-toggle="collapse"] > i {
  color: #ffffff !important;
}
body.audi .btn[data-toggle="collapse"].collapsed {
  background-color: transparent !important;
  color: #222222 !important;
}
body.audi .btn[data-toggle="collapse"].collapsed > i {
  color: #222222 !important;
}
body.audi .btn.btn-default {
  background-color: transparent;
}
body.audi .btn.btn-primary {
  background-color: #222222;
  color: #ffffff;
}
body.audi .btn.btn-primary i {
  color: #ffffff;
}
body.audi .btn.btn-topnav .icon-bar {
  background-color: #222222;
}
body.audi .btn.btn-article {
  background-color: #999999;
  border-color: #999999;
}
body.audi .btn.btn-group {
  background-color: #999999;
  border-color: #999999;
}
body.audi .btn.btn-document {
  background-color: #999999;
  border-color: #999999;
}
body.audi .btn.btn-news {
  background-color: #999999;
  border-color: #999999;
}
body.audi .btn.btn-video {
  background-color: #999999;
  border-color: #999999;
}
body.audi .btn.btn-filter {
  background-color: #e6e6e6;
}
body.audi .btn.btn-filter.active {
  background-color: #222222;
  color: #ffffff;
}
body.audi .btn.btn-article,
body.audi .btn.btn-group,
body.audi .btn.btn-document,
body.audi .btn.btn-news,
body.audi .btn.btn-video {
  color: #ffffff;
}
body.audi .btn-group label {
  color: #666666;
}
body.audi .btn-group .btn-link {
  margin-left: 0;
}
body.audi .btn-group.altcolors label {
  color: #666666;
}
body.audi .btn-group.altcolors .btn {
  font-family: OpenSans, sans-serif;
  font-size: 14px;
}
body.audi .btn-group.altcolors .btn.btn-sm {
  font-size: 12px;
  color: #999999;
}
body.audi .btn-group.altcolors .btn.btn-default,
body.audi .btn-group.altcolors .btn.btn-primary {
  border: 1px solid #cccccc;
  color: #666666;
}
body.audi .btn-group.altcolors .btn.btn-default.tagsbc,
body.audi .btn-group.altcolors .btn.btn-primary.tagsbc {
  border: 1px solid #222222;
  color: #333333;
}
body.audi .btn-group.altcolors .btn.btn-default i,
body.audi .btn-group.altcolors .btn.btn-primary i {
  color: #b3123a;
}
@media only screen and (max-width: 768px) {
  body.audi .btn-group.altcolors .btn {
    padding: 0.2em 0.4em;
  }
}
body.audi .bulletin:before {
  background-color: #b3123a;
}
body.audi .checklist label span {
  background-color: #ffffff;
  border: 1px solid #222222;
}
body.audi .checklist input[type="checkbox"]:checked + span {
  background-color: #222222;
  color: #ffffff;
}
body.audi .circle-user span {
  background-color: #b3123a;
  color: #ffffff;
}
body.audi .circle-user i {
  color: #b3123a;
}
body.audi .document-group {
  background-color: #e6e6e6;
}
body.audi .document-group .btn {
  margin: 0 5px;
}
body.audi .document-group span {
  font-size: 20px;
}
body.audi .document-group h3 {
  color: #333333;
}
body.audi .document-group h3 a {
  color: #333333;
}
body.audi .document-group .form-group h4 {
  color: #333333;
  font-size: 22px;
}
body.audi .form-control-feedback {
  color: #222222;
}
body.audi .list-group-item-banners .btn {
  cursor: default;
}
body.audi .list-group-item-banners .btn.btn-primary.new {
  background-color: #333333;
  border: 1px solid #333333;
}
body.audi .list-group-item-banners:before {
  border-right-color: #0d0d0d;
}
body.audi .list-group-item-banners btn-info {
  border: 1px solid #222222;
}
body.audi .list-group-item {
  border-bottom-color: #c6cdd1;
}
body.audi .logo-box {
  background-image: url('../../Images/logos/Audi-desktop.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 62px;
  width: 343px;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
@media only screen and (max-width: 480px) {
  body.audi .logo-box {
    background-image: url('../../Images/logos/Audi-mobile.jpg');
    height: 50px;
    width: 167px;
  }
}
body.audi .logo-box + i {
  color: #b3123a;
}
body.audi #navbar .navbar-nav {
  background-color: #222222;
}
body.audi #navbar .navbar-nav a {
  color: #ffffff;
}
body.audi #navbar .navbar-nav a:focus {
  color: #222222;
}
body.audi #navbar .navbar-nav .dropdown-menu a {
  color: #222222;
}
body.audi .navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #000000 !important;
}
body.audi .navbar-default.navbar-search {
  background-color: #ffffff;
  border-bottom-color: #b3123a !important;
}
body.audi .form-control {
  border: 1px solid #222222;
  color: #222222;
  font-size: 18px;
  height: auto;
  padding: 10px;
}
body.audi .related-pages > li {
  border-top: 1px solid #3c3c3c;
}
body.audi .related-pages > li:first-child {
  border-top: 0 none transparent;
}
body.audi .search .form-control {
  padding-top: 7px;
  height: 42px;
  padding-bottom: 7px;
}
body.audi .navbar-item.section {
  color: #333333;
}
body.audi .navbar-toggle {
  background-color: #000000;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
body.audi .navbar-toggle span {
  background-color: #ffffff !important;
}
body.audi .navbar-toggle.collapsed {
  background-color: #222222;
}
body.audi .nav-tabs li a {
  color: #222222 !important;
}
body.audi .page-header:after {
  background-color: #222222;
}
body.audi .standfirst {
  color: #666666;
}
body.audi .standfirst > a {
  color: #666666;
}
body.audi .standfirst > a.readmore {
  color: #b3123a;
  text-decoration: underline;
}
body.audi .tags i {
  color: #666666;
}
body.audi .tags a {
  border-color: #333333;
  color: #333333;
  font-size: 14px;
  padding: 5px 7px;
}
body.audi .tags a:focus,
body.audi .tags a:hover {
  border-bottom-color: #080808;
  color: #080808;
}
body.audi #sidebar .tags a {
  border-color: #cccccc;
  color: #666666;
  font-size: 14px;
}
body.audi #footer {
  color: #ffffff;
}
body.audi .article_body ul li:before {
  color: #222222;
}
.signin-screen {
  background-color: #cccccc;
}
h1 {
  margin-bottom: 15px;
}
h1 span {
  display: block;
  font-family: stolz6, sans-serif;
}
h2 {
  font-family: stolz6, sans-serif;
  margin-top: 0;
}
@media only screen and (max-width: 480px) {
  h2 {
    font-size: 20px;
  }
}
h2 > a {
  color: #333333;
}
@media only screen and (max-width: 768px) {
  h2 > a {
    display: block;
    float: none;
  }
}
h2 .btn {
  float: left;
  margin-right: 10px;
}
h3 {
  font-weight: 400;
  margin-top: 0;
  line-height: normal;
}
h4.date {
  color: #999999;
  font-family: stolz5, sans-serif;
  font-size: 14px;
  line-height: normal;
  margin: 0;
}
@media only screen and (max-width: 768px) {
  h4.date {
    font-size: 13px;
  }
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
p a {
  font-weight: bold;
  text-decoration: underline;
}
label {
  display: block;
  padding-top: 5px;
}
.affix-row {
  width: 100%;
}
#back-to-top {
  bottom: 20px;
  display: none;
  position: fixed;
  right: 20px;
}
#back-to-top a {
  font-size: 18px;
}
@media only screen and (max-width: 768px) {
  #back-to-top {
    display: none !important;
  }
}
.btn-group label {
  float: left;
  font-size: 18px;
  padding-right: 10px;
}
.btn-group.spaced label {
  font-family: stolz5, sans-serif;
  padding-right: 10px;
  padding-top: 3px;
}
.btn-group.spaced .btn {
  float: left;
  margin-bottom: 5px;
  margin-right: 5px;
}
.btn-group.spaced.add-tools .btn {
  font-family: stolz5, sans-serif;
  border: 0 !important;
}
.btn-group.no-plus .btn {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
}
.btn-group.no-plus .btn > i {
  display: none;
}
.btn-group .btn i {
  font-size: 20px;
}
.btn-group.pull-right {
  text-align: right;
}
.btn-group.pull-right label,
.btn-group.pull-right .btn {
  display: inline-block;
  float: none;
}
.btn-group.pull-right.spaced label {
  padding-left: 0;
  padding-right: 5px;
}
.btn-group.pull-right.spaced .btn {
  margin-left: 5px;
  margin-right: 0;
}
.buttons-reveal {
  padding: 10px 0;
}
button.close {
  font-size: 40px;
  line-height: 20px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@ieo)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
.checklist {
  padding-top: 20px;
  text-align: left;
}
.checklist input[type="checkbox"] {
  display: none;
  float: left;
}
.checklist label {
  box-sizing: border-box;
  display: block;
  float: left;
  margin: 0;
  padding: 0 0 0 10px;
  width: 80%;
}
.checklist label span {
  cursor: pointer;
  font-family: stolz6, sans-serif;
  display: block;
  padding: 7px 10px;
  text-align: center;
  width: 100% !important;
}
.checklist .col-md-6 {
  padding-bottom: 10px;
}
.checklist .col-md-6:nth-child(2n-1) {
  clear: left;
}
.click-for-more {
  padding: 20px 0 80px;
}
#content {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.document-group {
  display: block;
  padding: 40px;
}
@media only screen and (max-width: 768px) {
  .document-group {
    padding: 20px 1.5em;
  }
}
.document-group .form-group h4 {
  padding-top: 10px;
}
#footer {
  min-height: 150px;
  height: auto !important;
  height: 150px;
}
.margin-bottom-5 {
  margin-bottom: 5px;
}
.btn {
  font-family: stolz6, sans-serif;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=@s, Direction=@d, Color='@c')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=0, Color='@c');
  -webkit-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  background-color: transparent;
  /*background:@g2c;*/
  /* for non-css3 browsers */
  /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=@g1c, endColorstr=@g2c);*/
  /* for IE */
  background-image: linear-gradient(to top, transparent, transparent);
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, transparent, transparent);
  /* for firefox 3.6+ */
  text-shadow: 0px 0px 10px transparent;
  background-color: #ffffff;
}
.btn:before {
  text-shadow: 0px 0px 0px transparent;
}
.btn.btn-topnav {
  border-width: 0 !important;
  height: 40px;
  width: 40px;
}
.btn.btn-topnav .icon-bar {
  display: block;
  height: 3px;
  margin-bottom: 3px;
  margin-top: 3px;
  width: 100%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.btn.logo {
  padding: 0;
}
.dropdown-menu a {
  font-family: stolz5, sans-serif;
  font-size: 16px;
  padding: 10px 20px !important;
}
.open .dropdown-menu {
  background-color: #ffffff !important;
  border: 1px solid #cccccc !important;
  position: absolute !important;
  float: none !important;
  min-width: 200px !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=@s, Direction=@d, Color='@c')" !important;
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=20px, Direction=135, Color='@c') !important;
  -webkit-box-shadow: 1px 5px 20px transparent !important;
  -moz-box-shadow: 1px 5px 20px transparent !important;
  box-shadow: 1px 5px 20px transparent !important;
}
.open .dropdown-menu.right {
  left: auto !important;
  right: 0 !important;
}
.open .dropdown-menu.left {
  right: auto !important;
  left: 0 !important;
}
.open .dropdown-toggle {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@ieo)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
.dropdown-toggle {
  font-family: stolz6, sans-serif;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
[class^="col-"].no-padding {
  padding-left: 0;
  padding-right: 0;
}
.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
[data-toggle="collapse"] span.showText {
  display: none;
}
[data-toggle="collapse"] span.hideText {
  display: block;
}
[data-toggle="collapse"].collapsed span.showText {
  display: block;
}
[data-toggle="collapse"].collapsed span.hideText {
  display: none;
}
.alert-info {
  margin-bottom: 0;
}
.blog-post,
.post-tags {
  font-size: 1.3em;
  margin-bottom: 40px;
  padding: 0;
}
.blog-post .tags,
.post-tags .tags {
  padding-top: 40px;
}
.blog-post .tags i,
.post-tags .tags i {
  line-height: 3.3rem;
}
.blog-post img {
  box-sizing: border-box;
  display: block;
  height: auto;
  width: 120%;
  max-width: 120%;
}
@media only screen and (max-width: 768px) {
  .blog-post img {
    box-sizing: border-box;
    display: block;
    height: auto;
    width: 100%;
    max-width: 100%;
  }
}
.post-tags {
  padding: 0 15px;
}
.post-tags .tags {
  padding-top: 0;
}
.buttons {
  padding-top: 10px;
}
.buttons .btn {
  margin-bottom: 5px;
  margin-right: 5px;
}
#article .mainimg {
  border: none;
  text-align: center;
  display: block;
  float: none;
  height: auto;
  width: 100%;
  max-width: 1000px;
}
#article .mainimg img {
  display: block;
  height: auto;
  width: 100%;
  max-width: 1000px;
}
#article .mainimg.thumbnail {
  margin: auto;
  margin-bottom: 0 !important;
}
#article h2 {
  margin: 1.5em 0 1.2em 0;
  font-size: 24px;
}
@media only screen and (min-width: 768px) {
  #article h2 {
    font-size: 1.4em;
  }
}
@media only screen and (max-width: 768px) {
  #article {
    padding-left: 0;
    padding-right: 0;
  }
}
#article .article_body ul {
  list-style: none;
  position: relative;
  padding: 0;
  margin: 1em 0;
}
#article .article_body ul li {
  padding-left: 1em;
  margin-left: 1.5em;
  margin-bottom: 0.4em;
  color: #666666;
  position: relative;
}
#article .article_body ul li:before {
  position: absolute;
  font-family: FontAwesome;
  font-size: 0.5em;
  content: "\f111";
  left: 0;
  top: 0.8em;
}
.article-number-and-date {
  display: block;
  height: auto;
  overflow: hidden;
  padding-bottom: 20px;
}
.article-number-and-date .pull-left {
  line-height: 20px;
  padding-right: 40px;
}
.article-number-and-date .pull-left:last-child {
  padding-right: 0;
}
.article-number-and-date .pull-left .date {
  font-size: 15px;
}
.article-number-and-date .pull-left .date i {
  font-size: 18px;
}
.article-number {
  color: #999999;
  display: block;
  font-family: stolz5, sans-serif;
  font-size: 15px;
  padding: 0 0 5px 0;
}
.article-number:empty {
  display: none;
}
@media only screen and (max-width: 768px) {
  .article-number {
    font-size: 14px;
  }
}
.divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #cccccc;
}
.input-append {
  display: block;
  height: auto;
  overflow: hidden;
  padding-bottom: 40px;
}
.list-group {
  margin-bottom: 0;
  padding: 0 !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  -o-border-radius: 0px !important;
  border-radius: 0px !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=@s, Direction=@d, Color='@c')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=20px, Direction=135, Color='@c');
  -webkit-box-shadow: 1px 5px 20px transparent;
  -moz-box-shadow: 1px 5px 20px transparent;
  box-shadow: 1px 5px 20px transparent;
}
.list-group-item-banners {
  position: relative;
}
.list-group-item-banners .btn {
  padding: 3px 8px;
  font-family: stolz5, sans-serif;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .list-group-item-banners:before {
    left: -10px;
    top: 0;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .list-group-item-banners:before {
    border-color: rgba(194, 225, 245, 0);
    border-width: 10px;
    margin-top: -10px;
    border-bottom-width: 0;
  }
}
.list-group-item {
  border: 1px solid #dddddd;
  height: auto;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  -o-border-radius: 0px !important;
  border-radius: 0px !important;
}
.list-group-item.alt-color {
  margin-bottom: 20px;
  overflow: visible;
  padding: 20px 25px;
}
.list-group-item.alt-color h2 {
  margin-bottom: 20px;
  font-size: 30px;
}
@media only screen and (max-width: 768px) {
  .list-group-item.alt-color {
    border: 0;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 0;
    padding: 20px 10px 10px 10px;
  }
  .list-group-item.alt-color h2 {
    margin-bottom: 10px;
    font-size: 1.6em;
  }
}
.list-group-item.alt-color .list-group-item-banners {
  margin-bottom: 20px;
  margin-left: -35px;
}
@media only screen and (max-width: 768px) {
  .list-group-item.alt-color .list-group-item-banners {
    margin-left: 0;
  }
}
.list-group-item.bulletin {
  border-width: 4px;
  position: relative;
}
.list-group-item.bulletin:before {
  content: "";
  display: block;
  position: absolute;
  height: calc(100% - 40px);
  left: -4px;
  top: 20px;
  width: 10px;
}
.list-group-item .btn-group.pull-right {
  margin-left: 10px;
}
.list-group-item .list-unstyled {
  margin-bottom: 0;
}
.list-group-item .row {
  padding-left: 0;
  padding-right: 0;
}
.list-group-item .row a {
  font-family: stolz5, sans-serif;
  font-size: 18px;
}
.list-group-item.ov {
  overflow: visible;
}
.list-group-item.ov a {
  font-family: stolz5, sans-serif;
  font-size: 18px;
  color: #666666;
}
.list-group-item.reduced {
  padding: 10px 0;
}
.list-group-item.reduced .date {
  padding-top: 0;
}
.list-group-item.reduced + h4 {
  padding-top: 20px;
}
iframe {
  display: block;
  float: left;
}
.logo-box {
  display: block;
  float: left;
  position: relative;
}
.logo-box + i {
  font-size: 20px;
  line-height: 50px;
  padding-left: 5px;
}
.logo-box:after {
  background-color: #cc0000;
  color: #ffffff;
  content: "Beta";
  display: block;
  font-size: 12px;
  font-family: stolz5, sans-serif;
  line-height: 12px;
  padding: 2px 2px;
  position: absolute;
  right: -15px;
  text-transform: uppercase;
  top: 5px;
}
.offset-below-10 {
  margin-bottom: 10px !important;
}
.offset-below-20 {
  margin-bottom: 20px !important;
}
.offset-top-10 {
  margin-top: 10px !important;
}
.offset-top-20 {
  margin-top: 20px !important;
}
.page-header {
  border-bottom-width: 0;
  margin-top: 20px;
  padding-bottom: 10px;
  position: relative;
}
.page-header h1,
.page-header h4 {
  display: block;
  margin-bottom: 0;
}
.page-header + .page-header {
  margin-top: 0;
}
.page-header .btn > i {
  padding-right: 5px;
}
.page-header h1 + .btn-group {
  margin-left: 10px;
  margin-top: 20px;
}
.page-header h1 + .btn-group .btn i {
  font-size: 14px;
}
.pagination {
  margin: 4px 0;
}
.panel .alert.alert-info {
  margin: 15px;
}
.panel-body,
.panel-default {
  background-color: rgba(255, 255, 255, 0.8);
  border-width: 0;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=@s, Direction=@d, Color='@c')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=20px, Direction=135, Color='@c');
  -webkit-box-shadow: 1px 5px 20px transparent;
  -moz-box-shadow: 1px 5px 20px transparent;
  box-shadow: 1px 5px 20px transparent;
}
.panel-body.signin,
.panel-default.signin {
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=@s, Direction=@d, Color='@c')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=20px, Direction=135, Color='@c');
  -webkit-box-shadow: 1px 5px 20px #595959;
  -moz-box-shadow: 1px 5px 20px #595959;
  box-shadow: 1px 5px 20px #595959;
}
.panel-body .panel-footer,
.panel-default .panel-footer,
.panel-body .panel-body,
.panel-default .panel-body,
.panel-body .panel-heading,
.panel-default .panel-heading {
  border-width: 0;
  /*background:@g2c;*/
  /* for non-css3 browsers */
  /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=@g1c, endColorstr=@g2c);*/
  /* for IE */
  background-image: linear-gradient(to top, transparent, transparent);
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, transparent, transparent);
  /* for firefox 3.6+ */
  background-color: transparent;
}
.panel-body.signin,
.panel-default.signin {
  margin: auto;
  max-width: 440px;
  padding: 20px 0;
}
.panel-body.signin .panel-footer,
.panel-default.signin .panel-footer,
.panel-body.signin .panel-body,
.panel-default.signin .panel-body,
.panel-body.signin .panel-heading,
.panel-default.signin .panel-heading {
  padding: 20px 20px 20px;
  text-align: center;
}
.panel-body.signin h1,
.panel-default.signin h1 {
  font-size: 27px;
  margin-bottom: 0;
}
.panel-body.signin .user-setup h1,
.panel-default.signin .user-setup h1 {
  font-size: 20px;
  margin-bottom: 10px;
}
.panel-body.signin .user-setup .user-setup-logo,
.panel-default.signin .user-setup .user-setup-logo {
  margin-bottom: 10px;
}
.panel-body.signin .user-setup p,
.panel-default.signin .user-setup p {
  font-size: 14px;
  margin: 0 40px 10px 40px;
}
.panel-body.signin .user-setup .checklist label,
.panel-default.signin .user-setup .checklist label {
  width: 100%;
  font-weight: normal;
}
.panel-body.signin .user-setup .checklist label input,
.panel-default.signin .user-setup .checklist label input {
  box-sizing: border-box;
  padding-right: 5px;
  float: left;
  width: 15%;
}
.panel-body.signin .user-setup .checklist label span,
.panel-default.signin .user-setup .checklist label span {
  display: block;
  float: left;
  width: 85%;
}
.panel-body.signin .user-setup .checklist .col-md-6,
.panel-default.signin .user-setup .checklist .col-md-6,
.panel-body.signin .user-setup .checklist .col-sm-6,
.panel-default.signin .user-setup .checklist .col-sm-6 {
  padding-right: 7px;
  padding-left: 7px;
}
.panel-collapse .panel-body.list-group {
  border-top: 1px solid #ddd;
}
.tab-content {
  border-top-width: 0;
  margin-bottom: 40px;
  padding: 15px 0 0 15px;
}
.navbar-brand {
  height: auto;
  max-width: 150px;
  padding: 10px;
}
.navbar-brand img {
  box-sizing: border-box;
  display: block;
  height: auto;
  width: 100%;
  max-width: 100%;
}
.navbar-form {
  height: auto;
  margin: 0;
  padding: 0;
}
.navbar-form .form-control {
  border: 0 none transparent;
  font-size: 18px;
  height: auto;
  margin: 7px 10px;
  padding: 5px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.navbar-nav {
  margin: 0;
}
#navbar {
  padding: 0;
  overflow: hidden;
}
.navbar-default {
  background-color: #ffffff;
  background-image: none;
  border-width: 0;
  border-bottom: 1px solid #cccccc;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=@s, Direction=@d, Color='@c')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=20px, Direction=135, Color='@c');
  -webkit-box-shadow: 1px 5px 20px transparent;
  -moz-box-shadow: 1px 5px 20px transparent;
  box-shadow: 1px 5px 20px transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.navbar-default.navbar-fixed-top {
  min-height: 64px;
  height: auto !important;
  height: 64px;
}
.navbar-default.navbar-search {
  background-color: #ffffff;
  border-bottom: 2px solid #d2d7dc;
  padding: 10px 0;
}
.navbar-default.navbar-search .search {
  background-color: #ffffff;
}
.navbar-default .dropdown-animation {
  position: absolute;
  top: 100%;
}
.navbar-default .dropdown-animation#demo {
  left: 0;
}
.navbar-default .dropdown-animation#navbar {
  right: 0;
}
.navbar-default .navbar-item {
  height: 64px;
}
.navbar-default .navbar-item.nbl {
  border-left-width: 0;
}
.navbar-default .navbar-item.br {
  border-right: 1px solid #cccccc;
}
.navbar-default .navbar-item .btn-link i {
  font-size: 20px;
}
.navbar-default .navbar-item .circle-user span {
  display: block;
  float: left;
  font-family: stolz5, sans-serif;
  line-height: 40px;
  text-align: center;
  white-space: nowrap;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.navbar-default .navbar-item .circle-user span + i {
  line-height: 40px;
  margin-left: 5px;
}
.navbar-default .pull-left,
.navbar-default .pull-right {
  display: table;
}
.navbar-default .pull-left .navbar-item,
.navbar-default .pull-right .navbar-item {
  display: table-cell;
  padding: 5px 10px;
  vertical-align: middle;
}
.navbar-default .pull-left .navbar-item.navbar-logo,
.navbar-default .pull-right .navbar-item.navbar-logo {
  padding-bottom: 0;
  padding-top: 0;
  vertical-align: top;
}
.navbar-default .pull-left.centermenu .mobile-group .navbar-item,
.navbar-default .pull-right.centermenu .mobile-group .navbar-item {
  padding-left: 0;
  padding-right: 0;
}
@media only screen and (max-width: 480px) {
  .navbar-default .pull-left.profile,
  .navbar-default .pull-right.profile {
    position: absolute;
    top: 0;
    right: 0;
  }
}
.nav-sidebar li.nav-header {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
}
.nav-sidebar li.nav-header:first-child {
  padding-top: 0;
}
.nav-sidebar li i {
  width: 20px;
}
.nav-tabs {
  background-color: #d1d7da;
  border-bottom: 1px solid #d1d7da;
  padding: 1px 1px 0 1px;
}
.nav-tabs li {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.nav-tabs li a {
  border-width: 0 !important;
  font-family: stolz6, sans-serif;
  font-size: 15px;
  margin-right: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.tab-content.row {
  border-top: 1px solid #d1d7da;
}
.tab-content.row h2 {
  margin-top: 0;
}
.progress {
  margin-left: 20px;
  margin-right: 20px;
}
.standfirst {
  font-size: 18px;
  margin-bottom: 20px;
}
.standfirst img {
  box-sizing: border-box;
  display: block;
  height: auto;
  width: 100%;
  max-width: 100%;
}
.tags {
  height: auto;
  overflow: hidden;
  margin-top: 10px;
}
.tags i {
  float: left;
  line-height: 26px;
  margin-right: 10px;
}
.tags a {
  border: 1px solid #666666;
  display: block;
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 0.4em;
  color: #333333;
}
.tags a:focus,
.tags a:hover {
  border-bottom-color: #23527c;
  border-bottom-style: solid;
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  .tags a {
    font-size: 14px;
  }
}
.thumbnail {
  border-width: 0;
  overflow: hidden;
  padding: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=@s, Direction=@d, Color='@c')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10px, Direction=0, Color='@c');
  -webkit-box-shadow: 0 0 10px #dddddd;
  -moz-box-shadow: 0 0 10px #dddddd;
  box-shadow: 0 0 10px #dddddd;
}
.thumbnail img {
  box-sizing: border-box;
  display: block;
  height: auto;
  width: 100%;
  max-width: 100%;
}
.thumbnail.no-offset {
  margin-bottom: 0;
}
.thumbnail .thumbnail {
  margin-bottom: 0;
}
.thumbnail .video-iframe,
.thumbnail .video-js {
  position: relative;
  /* to assign position absolute elements inside the div */
  width: 100%;
  /* assign width - in this case, @w width for a responsive example */
  overflow: hidden;
  height: auto !important;
  width: 100% !important;
}
.thumbnail .video-iframe:after,
.thumbnail .video-js:after {
  content: "";
  display: block;
  padding-top: 56%;
  /* @h:@w ratio - taking in @h of the width of this div (@w) to achieve @h:@w ratio */
}
.thumbnail .video-iframe > iframe,
.thumbnail .video-js > iframe,
.thumbnail .video-iframe > video,
.thumbnail .video-js > video {
  height: 100% !important;
  left: 0;
  position: absolute;
  top: 0;
  width: 100% !important;
}
@media only screen and (min-width: 768px) {
  [data-target="#relatedtagscollapse"] {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) {
  #relatedtagscollapse {
    display: block !important;
    height: auto !important;
    overflow: hidden;
  }
}
@media only screen and (max-width: 768px) {
  #relatedtagscollapse h4 {
    display: none;
  }
}
#sidebar {
  height: auto;
  overflow: hidden;
  position: relative;
}
#sidebar h4 {
  font-size: 20px;
}
@media only screen and (min-width: 1000px) {
  #sidebar {
    padding-left: 40px;
  }
}
#sidebar.pull-left {
  padding-right: 40px;
}
#sidebar.pull-right {
  padding-left: 40px;
}
#sidebar .row {
  padding-left: 0;
  padding-right: 0;
}
#sidebar .affix-sidebar {
  overflow: hidden;
  width: 330px;
  min-height: 300px;
  height: auto !important;
  height: 300px;
}
#sidebar .affix-sidebar #relatedtags {
  width: 330px;
}
@media only screen and (max-width: 1200px) {
  #sidebar .affix-sidebar {
    width: 350px;
  }
  #sidebar .affix-sidebar #relatedtags {
    width: 350px;
  }
}
@media only screen and (max-width: 1000px) {
  #sidebar .affix-sidebar {
    width: 100%;
  }
  #sidebar .affix-sidebar #relatedtags {
    width: 100%;
  }
}
@media only screen and (max-width: 1000px) {
  #sidebar {
    padding: 0 0 40px 0 !important;
  }
  #sidebar .affix,
  #sidebar .affix-bottom {
    top: auto !important;
  }
}
@media only screen and (min-width: 1000px) {
  #sidebar {
    position: initial !important;
  }
  #sidebar .affix {
    position: fixed !important;
    top: 70px;
  }
  #sidebar .affix-bottom {
    position: absolute !important;
  }
}
.related-articles {
  border-top: 1px solid #cccccc;
  padding: 30px 0;
  margin-top: 20px;
}
.related-articles h2 {
  padding-bottom: 30px;
}
.related-articles h4 {
  font-size: 15px;
  color: #333333;
  font-family: stolz6, sans-serif;
  line-height: normal;
}
@media only screen and (min-width: 480px) {
  .related-articles .related-article-item:nth-child(3n-1) {
    clear: left;
  }
}
.related-pages > li > a {
  display: block;
  font-family: stolz6, sans-serif;
  padding: 10px 0;
}
.related-pages > li > a > span {
  display: block;
  font-family: stolz5, sans-serif;
}
.article-tools {
  overflow: auto;
}
.return-home {
  margin-top: 70px;
  clear: both;
}
.print-link {
  margin-right: 2em;
}
#articleComment {
  width: 600px;
  height: 5em;
}
@media only screen and (max-width: 480px) {
  #articleComment {
    width: 300px;
  }
}
.header-tools .article-number {
  display: inline;
  margin-right: 40px;
}
.header-tools h4.date {
  display: inline;
}
@media only screen and (max-width: 480px) {
  .header-tools h4.date {
    display: block;
  }
}
.home-tags {
  margin-top: 30px;
}
.job-roles b {
  padding: 0 1.5em 0 0.2em;
  color: #666666;
}
table {
  margin: 1.5em 0;
}
table thead {
  background-color: #cccccc;
  font-family: stolz6, sans-serif;
}
table td {
  font-weight: 100;
  height: auto;
  overflow: hidden;
  padding: 10px 8px;
  min-height: 20px;
  font-size: 0.77em;
}
table tr:nth-child(even) {
  background-color: #e6e6e6;
}
.panel-teaser {
  display: block;
  height: auto;
  overflow: hidden;
}
#relatedtags {
  height: auto;
  overflow: hidden;
}
#relatedtags .btn-default {
  background-color: #ffffff;
  color: #666666;
  border-color: #cccccc;
  float: left;
  font-size: 14px;
  font-family: OpenSans, sans-serif;
  margin: 0 5px 5px 0;
}
#relatedtags .btn-default i {
  color: #999999 !important;
  font-size: 16px;
}
#relatedtags .btn-link {
  color: #666666;
}
.related-media a {
  display: block;
  font-family: stolz5, sans-serif;
  font-size: 17px;
  margin-bottom: 0.7em;
}
.related-media a:before {
  font-family: FontAwesome;
  font-size: 1.5em;
  padding-right: 0.5em;
  content: "\f019";
}
.bc_container {
  position: relative;
  /* to assign position absolute elements inside the div */
  width: 100%;
  /* assign width - in this case, @w width for a responsive example */
}
.bc_container:after {
  content: "";
  display: block;
  padding-top: 66%;
  /* @h:@w ratio - taking in @h of the width of this div (@w) to achieve @h:@w ratio */
}
.bc_container .BrightcoveExperience {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.loginscreen #main {
  min-height: 80%;
}
.loginscreen #main .btn {
  background-color: #0055a4;
}
footer {
  margin-top: 3em;
  padding: 2em 0;
  background-color: #333333;
  color: #999999;
  font-size: 12px;
}
footer a {
  color: #cccccc !important;
}
footer .pull-right {
  text-align: right;
}
iframe.BrightcoveExperience {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 Aspect Ratio */
  padding-top: 25px;
}
iframe.BrightcoveExperience #stage0 {
  position: absolute;
  width: 100%!important;
  height: 100%!important;
}
