﻿@import "_custom-library";

@depth: 40px;

@alt: #e6e6e6;
@black: #000000;
@grey: #333333;
@link: #337ab7;
@link_hover: #23527c;
@white: #FFFFFF;
@bgc: #CCCCCC;
@bgc_alt: #DDDDDD;
@lightgrey: #999999;
@midgrey: #666666;
@middgrey: #555555;
@midlgrey: #888888;

@search: #eeeeee;
@search_alt: #d2d7dc;

@article: @lightgrey;
@group: @lightgrey;
@video: @lightgrey;
@document: @lightgrey;
@news: @lightgrey;

/* VWCV */
@vwcv: #4bafe8;
@vwcv_alt: #bdc82c;
/* VWCV */

/* VW */
@vw: #0055a4;
@vw_alt: #0055a4;
/* VW */

/* SEAT */
@seat: #c62831;
@seat_alt: #c62831;
/* SEAT */

/* SKODA */
@skoda: #42b74c;
@skoda_alt: #42b74c;
/* SKODA */

/* AUDI */
@audi: #222222;
@audi_alt: #b3123a;
@audi_bg: #f0f2f3;
/* AUDI */



/*media queries*/
@_mobile: 480px;
@_tablet: 768px;
@_tablet_desktop: 860px;
@_desktop: 1000px;
@_fullwidth: 1200px;
/*media queries*/


@stolzreg: stolz5, sans-serif;
@stolzmed: stolz6, sans-serif;
@OpenSans: OpenSans, sans-serif;

h1 {
    font-size: 30px;
    color: @grey;
    font-family: @stolzmed;

    @media only screen and (max-width: @_tablet) {
        font-size: 1.5em;
    }
}

h2 {
    font-size: 18px;
    color: @grey;
    font-family: @stolzmed;
}

h3 {
    font-size: 18px;
    color: @grey;
    font-family: @stolzreg;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 18px;
    color: @lightgrey;
    font-family: @stolzreg;
}

h6 {
    font-size: 15px;
    color: @grey;
    font-family: @stolzmed;
}


&._mobileHide {
    @media only screen and (max-width: @_mobile) {
        display: none !important;
    }
}

&._mobileShow {
    display: none !important;

    @media only screen and (max-width: @_mobile) {
        display: block !important;
    }
}

&._tabletHide {
    @media only screen and (max-width: @_tablet) {
        display: none !important;
    }
}

html {
  height: 100%;
}
body {
  min-height: 100%;
}

/* branding */
.branding(@bc: @vwcv, @bc_alt: @vwcv_alt, @logodk: url('../../Images/logos/VWCV-EMM-Desktop.jpg'), @logomb: url('../../Images/logos/VWCV-mobile.jpg'), @logowdk: 253px, @logowmb: 107px, @fc: @white, @bg: @white, @sc: @search) {

    background-color: @bg;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    height: 100%;
    .background_size(cover);

    a {
        color: @bc;

        &:focus,
        &:hover {
            color: darken(@bc, 10%);
        }
    }

    h2 {
        a {
            color: @grey;

            &:focus,
            &:hover {
                color: @grey;
            }
        }
    }
    

    .fa-star {
        color: @bc;
    }


    .btn {
        color: @grey;

        i {
            color: @bc;
        }

        &.active {
            .box_shadow(transparent);
        }

        &.btn-default,
        &.btn-primary {
            border: 1px solid @bc;
        }
        &.btn-lg {
              @media only screen and (max-width: @_tablet) {
        font-size: 15px;
    }
        }

        &[data-toggle="collapse"] {
            background-color: @bc !important;
            color: @fc !important;
            & > i {
                color: @fc !important;
            }
            &.collapsed {
                background-color: transparent !important;
                color: @bc !important;
                & > i {
                    color: @bc !important;
                }
            }
        }

        &.btn-default {
            background-color: transparent;
        }

        &.btn-primary {
            background-color: @bc;
            color: @fc;

            i {
                color: @fc;
            }
        }

        &.btn-topnav {
            .icon-bar {
                background-color: @bc;
            }
        }

        &.btn-article {
            background-color: @article;
            border-color: @article;
        }

        &.btn-group {
            background-color: @group;
            border-color: @group;
        }

        &.btn-document {
            background-color: @document;
            border-color: @document;
        }

        &.btn-news {
            background-color: @news;
            border-color: @news;
        }

        &.btn-video {
            background-color: @video;
            border-color: @video;
        }



        &.btn-filter {
            background-color: @alt;

            &.active {
                background-color: @bc;
                color: @fc;
            }
        }



        &.btn-article,
        &.btn-group,
        &.btn-document,
        &.btn-news,
        &.btn-video {
            color: @white;
        }
    }

    .btn-group {
        label {
            color: @midgrey;
        }

        .btn-link {
            margin-left: 0;
        }

        &.altcolors {

            label {
                color: @midgrey;
            }

            .btn {
                font-family: @OpenSans;
                font-size: 14px;
                &.btn-sm {
                    font-size: 12px;
                    color: @lightgrey;
                }

                &.btn-default,
                &.btn-primary {
                    border: 1px solid @bgc;
                    color: @midgrey;

                    &.tagsbc {
                        border: 1px solid @bc;
                        color: @grey;
                    }

                    i {
                        color: @bc_alt;
                    }
                }
            
                  @media only screen and (max-width: @_tablet) {
        padding: 0.2em 0.4em;
    }
                
                }
        }
    }
   

    
    .bulletin {
        &:before {
            background-color:@bc_alt;
        }
    }



    
    .checklist {    
        label {
            span {
                background-color: @white;
                border: 1px solid @bc;
            }
        }
        input[type="checkbox"] {
            &:checked {
                & + span {
                    background-color: @bc;
                    color: @white;
                }
            }
        }
    }


    .circle-user {
        span {
            background-color: @bc_alt;
            color: @fc;
        }

        i {
            color: @bc_alt;
        }
    }

    .document-group {
        background-color: @alt;

        .btn {
            margin: 0 5px;
        }

        span {
            font-size: 20px;
        }

        h3 {
            color: @grey;

            a {
                color: @grey;
            }
        }

        .form-group {
            h4 {
                color: @grey;
                font-size: 22px;
            }
        }
    }

    .form-control-feedback {
        color: @bc;
    }

    .list-group-item-banners {
        .btn  {
            cursor: default;
            &.btn-primary {
                &.new {
                    background-color: @grey;
                    border: 1px solid @grey;
                }     
            }     
        }     
        &:before {
            border-right-color: darken(@grey, 15%);
        }
        btn-info {
            border: 1px solid @bc;
        }
    }
    

    .list-group-item {
        border-bottom-color: darken(@bg, 15%);
    }


    .logo-box {

        background-image: @logodk;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        height: 62px;
        width: @logowdk;
        .background_size(contain);
        
        @media only screen and (max-width: @_mobile) {
            background-image: @logomb;
            height: 50px;
            width: @logowmb;
        }

        & + i {
            color: @bc_alt;
        }
    }

    #navbar {
        .navbar-nav {
            background-color: @bc;

            a {
                color: @white;

                &:focus {
                    color: @bc;
                }
            }

            .dropdown-menu {
                a {
                    color: @bc;
                }
            }
        }
    }

    .navbar-default {
        .navbar-nav {
            .open {
                .dropdown-menu {
                    & > li {
                        & > a {
                            color: @black !important;
                        }
                    }
                }
            }
        }

        &.navbar-search {
            background-color: @sc;
            border-bottom-color: @bc_alt !important;
        }
    }

    
    .form-control {
        border: 1px solid @bc;
        color: @bc;
        font-size: 18px;
        height: auto;
        padding: 10px;
    }
    
    .related-pages {
        & > li {
            border-top: 1px solid lighten(@bc, 10%);
            &:first-child {
                border-top: 0 none transparent;
            }
        }
    }

    .search {
        .form-control {
            padding-top: 7px;
            height: 42px;
            padding-bottom: 7px;
        }
    }

    .navbar-item {
        &.section {
            color: @grey;
        }
    }

    .navbar-toggle {
        background-color: darken(@bc, 20%);
        .border_radius(0);

        span {
            background-color: @fc !important;
        }

        &.collapsed {
            background-color: @bc;
        }
    }

    .nav-tabs {
        li {
            a {
                color: @bc !important;
            }
        }
    }

    .page-header {
        &:after {
            background-color: @bc;
        }
    }

    .standfirst {
        color: @midgrey;

        & > a {
            color: @midgrey;

            &.readmore {
                color: @bc_alt;
                text-decoration: underline;
            }
        }
    }

    .tags {
        i {
            color: @midgrey;
        }

        a {
            border-color: @grey;
            color: @grey;
            font-size: 14px;
            padding:5px 7px;

            &:focus,
            &:hover {
                border-bottom-color: darken(@bc, 10%);
                color: darken(@bc, 10%);
            }
        }
    }

    #sidebar {
        .tags {
            a {
                border-color: @bgc;
                color: @midgrey;
                font-size: 14px;
            }
        }
    }



    #footer {
        color: @white;
    }

    .article_body {
        ul {
            li:before {
                color: @bc;
            }
        }
    }
}
/* branding */





body {
    font-family: @OpenSans;
    letter-spacing: 0.025em;
    padding: 64px 0 0 0;

    &.vwcv {
        .branding;
    }

    &.pb {
        .branding(@vw, @vw_alt, url('../../Images/logos/VW_PaintAndBody.jpg'), url('../../Images/logos/PB-mobile.jpg'), 260px, 122px);
    }

    &.vw {
        .branding(@vw, @vw_alt, url('../../Images/logos/VW-desktop.jpg'), url('../../Images/logos/VW-mobile.jpg'), 133px, 115px);
    }
    
    &.seat {
        .branding(@seat, @seat_alt, url('../../Images/logos/Seat-desktop.jpg'), url('../../Images/logos/Seat-mobile.jpg'), 265px, 121px);
    }

    &.skoda {
        .branding(@skoda, @skoda_alt, url('../../Images/logos/Skoda-desktop.jpg'), url('../../Images/logos/Skoda-mobile.jpg'), 294px, 114px);
    }

    &.audi {
        .branding(@audi, @audi_alt, url('../../Images/logos/Audi-desktop.jpg'), url('../../Images/logos/Audi-mobile.jpg'), 343px, 167px, @white, @audi_bg, @white);
    }
}

.signin-screen {
    background-color: @bgc;
}






h1 {
    margin-bottom: 15px;

    span {
        display: block;
        font-family: @stolzmed;
    }
}

h2 {
    font-family: @stolzmed;
    margin-top: 0;

    @media only screen and (max-width: @_mobile) {
        font-size: 20px;
    }

    & > a {
        color: #333333;

        @media only screen and (max-width: @_tablet) {
            display: block;
            float: none;
        }
    }

    .btn {
        float: left;
        margin-right: @depth/4;
    }
}

h3 {
    font-weight: 400;
    margin-top: 0;
    line-height: normal;
}


h4 {
    &.date {
        color: @lightgrey;
        font-family: @stolzreg;
        font-size: 14px;
        line-height: normal;
        margin: 0;
        
          @media only screen and (max-width: @_tablet) {
          font-size: 13px;
        }
    }
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

p {
    a {
        font-weight: bold;
        text-decoration: underline;
    }
}

label {
    display: block;
    padding-top: @depth/8;
}

.affix-row {
    width: 100%;
}

#back-to-top {
    bottom: @depth/2;
    display: none;
    position: fixed;
    right: @depth/2;

    a {
        font-size: 18px;
    }
       @media only screen and (max-width: @_tablet) {
            display: none !important;
        }
}

.btn-group {
    label {
        float: left;
        font-size: 18px;
        padding-right: @depth/4;
    }

    &.spaced {
           
        label {
            font-family: @stolzreg;
            padding-right: @depth/4;
            padding-top: 3px;
        }

        .btn {
            float: left;
            margin-bottom: @depth/8;
            margin-right: @depth/8;
        }
       &.add-tools { 
              .btn {           
            font-family: @stolzreg;
            border: 0 !important;
             }
        }
    }

    &.no-plus {

        .btn {
            display: block;
            float: left;
            margin: 0 @depth/8 @depth/8 0;
            & > i {
                display: none;
            }
        }

    }

    .btn {
        i {
            font-size: @depth/2;
        }
    }

    &.pull-right {
        text-align: right;

        label, .btn {
            display: inline-block;
            float: none;
        }

        &.spaced {
            label {
                padding-left: 0;
                padding-right: @depth/8;
            }

            .btn {
                margin-left: @depth/8;
                margin-right: 0;
            }
        }
    }
}

.buttons-reveal {
    padding: @depth/4 0;
}

button {
    &.close {
        font-size: 40px;
        line-height: 20px;
        .opacity(100, 1);
    }
}

.checklist {
    padding-top: @depth/2;
    text-align: left;

    input[type="checkbox"] {
        display: none;
        float: left;
    }

    label {
        box-sizing: border-box;
        display: block;
        float: left;
        margin: 0;
        padding: 0 0 0 10px;
        width: 80%;
        span {
            cursor: pointer;
            font-family: @stolzmed;
            display: block;
            padding: 7px 10px;
            text-align: center;
            width: 100% !important;
        }
    }
     
    .col-md-6 {
        padding-bottom: @depth/4;
            &:nth-child(2n-1) {
                clear: left;
            }
    }



}

.click-for-more {
    padding: @depth/2 0 @depth*2;
}

#content {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.document-group {
    display: block;
    padding: @depth;

    @media only screen and (max-width: @_tablet) {
        padding: @depth/2 1.5em;
    }

    .form-group {
        h4 {
            padding-top: @depth/4;
        }
    }
}

#main {
}

#footer {
    .min_height(150px);
}

.margin-bottom-5 {
    margin-bottom: @depth/8;
}

.btn {
    font-family: @stolzmed;
    .border_radius(0);
    .box_shadow(transparent, 0, 0, 0, 0);
    .gradient(transparent, transparent);
    .text_shadow(transparent);
    background-color: @white;

    &.btn-primary {
    }

    &.btn-topnav {
        border-width: 0 !important;
        height: @depth;
        width: @depth;

        .icon-bar {
            display: block;
            height: 3px;
            margin-bottom: 3px;
            margin-top: 3px;
            width: 100%;
            .border_radius(2px);
        }
    }

    &.logo {
        padding: 0;
    }
}

.dropdown-menu {
    a {
        font-family: @stolzreg;
        font-size: 16px;
        padding: @depth/4 @depth/2 !important;
    }
}

.open {
    .dropdown-menu {
        background-color: @white !important;
        border: 1px solid @bgc !important;
        position: absolute !important;
        float: none !important;
        min-width: 200px !important;
        .box_shadow(transparent) !important;

        &.right {
            left: auto !important;
            right: 0 !important;
        }

        &.left {
            right: auto !important;
            left: 0 !important;
        }
    }

    .dropdown-toggle {
        .opacity;
    }
}

.dropdown-toggle {
    font-family: @stolzmed;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

[class^="col-"] {
    &.no-padding {
        padding-left: 0;
        padding-right: 0;
    }
}

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

[data-toggle="collapse"] {
    span {
        &.showText {
            display: none;
        }

        &.hideText {
            display: block;
        }
    }

    &.collapsed {
        span {
            &.showText {
                display: block;
            }

            &.hideText {
                display: none;
            }
        }
    }
}

.alert-info {
    margin-bottom: 0;
}

.blog-post,
.post-tags {
    font-size: 1.3em;
    margin-bottom: @depth;
    padding: 0;

    .tags {
        padding-top: @depth;

        i {
            line-height: 3.3rem;
        }
    }
}
.blog-post {
    img {
        .image_width(120%);
          @media only screen and (max-width: @_tablet) {
            .image_width;
          }
    }
}

.post-tags {
    padding: 0 15px;

    .tags {
        padding-top: 0;
    }
}

.buttons {
    padding-top: 10px;

    .btn {
        margin-bottom: 5px;
        margin-right: 5px;
    }
}

#article {
    .mainimg {
        border: none;
        text-align: center;
        display: block;
        float:none;
        height: auto;
        width: 100%;
        max-width: 1000px;

        img {
            display: block;
            height: auto;
            width: 100%;
            max-width: 1000px;
        }

        &.thumbnail {
            margin: auto;
            margin-bottom: 0 !important;
        }
    }

    h2 {
        margin: 1.5em 0 1.2em 0;
        font-size: 24px;
          @media only screen and (min-width: @_tablet) {
              font-size: 1.4em;
          }
    }

    @media only screen and (max-width: @_tablet) {
        padding-left: 0;
        padding-right: 0;
    }

    .article_body {
        
        ul {
            list-style: none;
            position: relative;
            padding: 0;
            margin: 1em 0;

            li {
                padding-left: 1em;
                margin-left: 1.5em;
                margin-bottom: 0.4em;
                color: @midgrey;
                position: relative;
            }

            li:before {
                position: absolute;
                font-family: FontAwesome;
                font-size: 0.5em;
                content: "\f111";
                left: 0;
                top: 0.8em;
            }
        }
    }
}


.article-number-and-date {
    display: block;
    height: auto;
    overflow: hidden;
    padding-bottom: @depth/2;

    .pull-left {
        line-height: @depth/2;
        padding-right: @depth;

        &:last-child {
            padding-right: 0;
        }

        .date {
            font-size: 15px;

            i {
                font-size: 18px;
            }
        }
    }
}

.article-number {
    color: @lightgrey;
    display: block;
    font-family: @stolzreg;
    font-size: 15px;
    padding: 0 0 @depth/8 0;

    &:empty {
        display: none;
    }
      @media only screen and (max-width: @_tablet) {
        font-size: 14px;
    }
}

.divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: @bgc;
}

.input-append {
    display: block;
    height: auto;
    overflow: hidden;
    padding-bottom: @depth;
}

.list-group {
    margin-bottom: 0;
    padding: 0 !important;
    .border_radius(0px) !important;
    .box_shadow(transparent);
}

.list-group-item-banners {
    position: relative;
    .btn {
            padding: 3px 8px;
            font-family: @stolzreg;
            text-transform:uppercase;
    }
    @media only screen and (min-width: @_tablet) {
        &:before {
            left: -10px;
            top: 0;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        &:before {
            border-color: rgba(194, 225, 245, 0);
            border-width: 10px;
            margin-top: -10px;
            border-bottom-width: 0;
        }
    }
}

.list-group-item {
    border: 1px solid @bgc_alt;
    height: auto;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    .border_radius(0px) !important;

    &.alt-color {
        margin-bottom: @depth/2;
        overflow: visible;
        padding: @depth/2 @depth/2+5;

        h2 {
            margin-bottom: @depth/2;
            font-size: 30px;
        }

        @media only screen and (max-width: @_tablet) {
            h2 {
                margin-bottom: @depth/4;
                font-size: 1.6em;
            }
            border: 0;
            border-bottom: 1px solid @bgc_alt;
            margin-bottom: 0;
            padding: @depth/2 @depth/4 @depth/4 @depth/4;
        }
        @media only screen and (max-width: @_mobile) {
           
        }
        .list-group-item-banners {
            margin-bottom: @depth/2;
            margin-left: -@depth+5;

            @media only screen and (max-width: @_tablet) {
                margin-left: 0;
            }
        }
    }

    &.bulletin {
        border-width:@depth/10;
        position: relative;
        &:before {
            content:"";
            display:block;
            position: absolute;
            height: calc(~"100% - 40px");
            left: -@depth/10; 
            top: @depth/2;
            width: @depth/4;
        }
    }

    .btn-group {
        &.pull-right {
            margin-left: @depth/4;
        }
    }

    .list-unstyled {
        margin-bottom: 0;
    }

    .row {
        padding-left: 0;
        padding-right: 0;

        a {
            font-family: @stolzreg;
            font-size: 18px;
        }
    }

    &.ov {
        overflow: visible;

        a {
            font-family: @stolzreg;
            font-size: 18px;
            color: @midgrey;
        }
    }

    &.reduced {
        padding: @depth/4 0;

        .date {
            padding-top: 0;
        }

        & + h4 {
            padding-top: @depth/2;
        }
    }
}

iframe {
    display: block;
    float: left;
}

.logo-box {
    display: block;
    float: left;
    position: relative;

    & + i {
        font-size: @depth/2;
        line-height: 50px;
        padding-left: @depth/8;
    }

    &:after {
        background-color: #cc0000;
        color: @white;
        content: "Beta";
        display:block;
        font-size: 12px;
        font-family: @stolzreg;
        line-height: 12px;
        padding: 2px 2px;
        position: absolute;
        right: -15px;
        text-transform: uppercase;
        top: 5px;
    }
}

.offset-below-10 {
    margin-bottom: @depth/4 !important;
}

.offset-below-20 {
    margin-bottom: @depth/2 !important;
}

.offset-top-10 {
    margin-top: @depth/4 !important;
}

.offset-top-20 {
    margin-top: @depth/2 !important;
}

.page-header {
    border-bottom-width: 0;
    margin-top: @depth/2;
    padding-bottom: @depth/4;
    position: relative;

    h1,
    h4 {
        display: block;
        margin-bottom: 0;
    }

    & + .page-header {
        margin-top: 0;
    }

    .btn {
        & > i {
            padding-right: @depth/8;
        }
    }

    h1 {
        & + .btn-group {
            margin-left: @depth/4;
            margin-top: @depth/2;
            .btn {
                i {
                    font-size: 14px;
                }
            }
        }
    }
}

.pagination {
    margin: @depth/10 0;
}

.panel {
    .alert {
        &.alert-info {
            margin: 15px;
        }
    }
}

.panel-body,
.panel-default {
    background-color: rgba(255, 255, 255, 0.8);
    border-width: 0;
    .border_radius(0) !important;
    .box_shadow(transparent);

    &.signin {
        .box_shadow(lighten(@black, 35%));
    }

    .panel-footer,
    .panel-body,
    .panel-heading {
        border-width: 0;
        .gradient(transparent, transparent);
        background-color: transparent;
    }

    &.signin {
        margin: auto;
        max-width: @depth*11;
        padding: @depth/2 0;

        .panel-footer,
        .panel-body,
        .panel-heading {
            padding: @depth/2 @depth/2 @depth/2;
            text-align: center;
        }

        h1 {
            font-size: 27px;
            margin-bottom: 0;
        }

        .user-setup {
            h1 {
                font-size: 20px;
                margin-bottom: @depth/4;
            }

            .user-setup-logo {
                margin-bottom: @depth/4;
            }

            p {
                font-size: 14px;
                margin: 0 @depth @depth/4 @depth;
            }

            .checklist {
                label {
                    width: 100%;
                    font-weight: normal;

                    input {
                        box-sizing: border-box;
                        padding-right: 5px;
                        float: left;
                        width: 15%;
                    }

                    span {
                        display: block;
                        float: left;
                        width: 85%;
                    }
                }

                .col-md-6,
                .col-sm-6 {
                    padding-right: 7px;
                    padding-left: 7px;
                }
            }
        }
    }
}

.panel-collapse {
    .panel-body {
        &.list-group {
            border-top: 1px solid #ddd;
        }
    }
}

.tab-content {
    border-top-width: 0;
    margin-bottom: 40px;
    padding: 15px 0 0 15px;
}

.navbar-brand {
    height: auto;
    max-width: 150px;
    padding: @depth/4;

    img {
        .image_width;
    }
}

.navbar-form {
    height: auto;
    margin: 0;
    padding: 0;

    .form-control {
        border: 0 none transparent;
        font-size: 18px;
        height: auto;
        margin: 7px @depth/4;
        padding: @depth/8;
        .border_radius(0);
    }
}

.form-control {
}

.navbar-nav {
    margin: 0;
}

#navbar {
    padding: 0;
    overflow: hidden;
}

.navbar-default {
    background-color: @white;
    background-image: none;
    border-width: 0;
    border-bottom: 1px solid @bgc;
    .box_shadow(transparent);
    .border_radius(0);

    &.navbar-fixed-top {
        .min_height(64px);
    }

    &.navbar-search {
        background-color: @white;
        border-bottom: 2px solid @search_alt;
        padding: @depth/4 0;

        .search {
            background-color: lighten(@search, 10%);
        }
    }

    .dropdown-animation {
        position: absolute;
        top: 100%;

        &#demo {
            left: 0;
        }

        &#navbar {
            right: 0;
        }
    }

    .navbar-item {
        height: 64px;

        &.nbl {
            border-left-width: 0;
        }

        &.br {
            border-right: 1px solid @bgc;
        }

        .btn-link {
            i {
                font-size: 20px;
            }
        }

        .circle-user {
            span {
                display: block;
                float: left;
                font-family: @stolzreg;
                line-height: @depth;
                text-align: center;
                white-space: nowrap;
                .circle(@depth, @depth);

                & + i {
                    line-height: @depth;
                    margin-left: @depth/8;
                }
            }
        }
    }

    .pull-left,
    .pull-right {
        display: table;

        .navbar-item {
            display: table-cell;
            padding: @depth/8 @depth/4;
            vertical-align: middle;
            &.navbar-logo {
                padding-bottom: 0;
                padding-top: 0;
                vertical-align: top;
            }
        }
        
        &.leftmenu {
            .navbar-item {
            }
        }
        
        &.centermenu {
            .mobile-group {
                .navbar-item {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
        
        @media only screen and (max-width: @_mobile) {
            &.profile {
                position:absolute; 
                top: 0;
                right: 0;
            }
        }
    }

    .pull-left {
        .navbar-item {
        }
    }

    .pull-right {
        .navbar-item {
        }
    }
}

.nav-sidebar {
    li {
        &.nav-header {
            padding-left: @depth/2;
            padding-right: @depth/2;
            padding-top: @depth;

            &:first-child {
                padding-top: 0;
            }
        }

        i {
            width: @depth/2;
        }
    }
}

.nav-tabs {
    background-color: #d1d7da;
    border-bottom: 1px solid #d1d7da;
    padding: 1px 1px 0 1px;

    li {
        .border_radius(0);

        a {
            border-width: 0 !important;
            font-family: @stolzmed;
            font-size: 15px;
            margin-right: 0;
            .border_radius(0);
        }
    }
}

.tab-content {
    &.row {
        border-top: 1px solid #d1d7da;

        h2 {
            margin-top: 0;
        }
    }
}

.progress {
    margin-left: @depth/2;
    margin-right: @depth/2;
}

.standfirst {
    font-size: 18px;
    margin-bottom: @depth/2;
    img {
        .image_width;
    }
}

.tags {
    height: auto;
    overflow: hidden;
    margin-top: @depth/4;

    i {
        float: left;
        line-height: 26px;
        margin-right: @depth/4;
    }

    a {
        border: 1px solid @midgrey;
        display: block;
        float: left;
        margin-bottom: @depth/4;
        margin-right: @depth/4;
        padding: 0.4em;
        color: @grey;

        &:focus,
        &:hover {
            border-bottom-color: @link_hover;
            border-bottom-style: solid;
            text-decoration: none;
        }

        @media only screen and (max-width: @_tablet) {
            font-size: 14px;
        }
    }
}

.thumbnail {
    border-width: 0;
    overflow: hidden;
    padding: 0;
    .border_radius(3px);
    .box_shadow(#ddd, 10px, 0, 0, 0);

    img {
        .image_width;
    }

    &.no-offset {
        margin-bottom: 0;
    }

    .thumbnail {
        margin-bottom: 0;
    }

    .video-iframe,
    .video-js {
        .ratio(56%);
        overflow: hidden;
        height: auto !important;
        width: 100% !important;
        & > iframe,
        & > video {
            height: 100% !important;
            left: 0;
            position: absolute;
            top: 0;
            width: 100% !important;
        }
    }
}


[data-target="#relatedtagscollapse"] {
    @media only screen and (min-width: @_tablet) {
        display: none !important;
    }
}

#relatedtagscollapse {
    @media only screen and (min-width: @_tablet) {
        display: block !important;
        height: auto !important;
        overflow: hidden;
    }
    @media only screen and (max-width: @_tablet) {
        h4 {
            display: none;
        }
    }
}

#sidebar {
    height: auto;
    overflow: hidden;
    position: relative;

    h4 {
        font-size: 20px;
    }

    @media only screen and (min-width: @_desktop) {
        padding-left: @depth;
    }

    &.pull-left {
        padding-right: @depth;
    }

    &.pull-right {
        padding-left: @depth;
    }

    .row {
        padding-left: 0;
        padding-right: 0;
    }

    .affix-sidebar {
        overflow: hidden;
        width: 330px;
        .min_height(300px);

        #relatedtags {
            width: 330px;
        }

        @media only screen and (max-width: @_fullwidth) {
            width: 350px;

            #relatedtags {
                width: 350px;
            }
        }

        @media only screen and (max-width: @_desktop) {
            width: 100%;

            #relatedtags {
                width: 100%;
            }
        }
    }

    @media only screen and (max-width: @_desktop) {
        padding: 0 0 @depth 0 !important;

        .affix,
        .affix-bottom {
            top: auto !important;
        }
    }

    @media only screen and (min-width: @_desktop) {
        position: initial !important;

        .affix {
            position: fixed !important;
            top: 70px;
        }

        .affix-bottom {
            position: absolute !important;
        }
    }
}


.related-articles {
    border-top: 1px solid @bgc;
    padding: 30px 0;
    margin-top: 20px;

    h2 {
        padding-bottom: 30px;
    }

    h4 {
        font-size: 15px;
        color: @grey;
        font-family: @stolzmed;
        line-height: normal;
    }

    .related-article-item {
        @media only screen and (min-width: @_mobile) {
            &:nth-child(3n-1) {
                clear: left;
            }
        }
    }
}

.related-pages {
    & > li {
        & > a {
            display: block; 
            font-family: @stolzmed;
            padding: @depth/4 0;
            & > span {
                display:block;
                font-family: @stolzreg;
            }
        }
    }
}

.article-tools {
   
    overflow: auto;
}

.return-home {
    margin-top: 70px;
    clear: both;
}

.print-link {
    margin-right: 2em;
}

#articleComment {
    width: 600px;
    height: 5em;

    @media only screen and (max-width: @_mobile) {
        width: 300px;
    }
}

.header-tools {

    .article-number {
        display: inline;
        margin-right: 40px;
    }

    h4.date {
        display: inline;

        @media only screen and (max-width: @_mobile) {
            display: block;
        }
    }
}


.home-tags {
    margin-top: 30px;
}

.job-roles {
    b {
        padding: 0 1.5em 0 0.2em;
        color: @midgrey;
    }
}

table {
    margin: 1.5em 0;
    thead { 
        background-color: @bgc;
        font-family: @stolzmed;
    }
    td {
    font-weight: 100;
    height: auto;
    overflow: hidden;
    padding: 10px 8px;
    min-height: 20px;
    font-size: 0.77em;
    }
    tr:nth-child(even) {
        background-color: @alt;
    }
}

.panel-teaser {
    display: block;
    height: auto;
    overflow: hidden;
}

#relatedtags {
    height: auto;
    overflow: hidden;
    .btn-default {
        background-color: @white;
        color: @midgrey;
        border-color: @bgc;
        float: left;
        font-size: 14px;
        font-family: @OpenSans; 
        margin: 0 @depth/8 @depth/8 0;
        i {
            color: @lightgrey !important;
            font-size:16px;
        }
    }
    .btn-link {
        color: @midgrey;
    }
}

.related-media {
    a{
display: block;
font-family: @stolzreg;
font-size: 17px;
margin-bottom: 0.7em;
    }
    a:before {
                
                font-family: FontAwesome;
                font-size: 1.5em;
                padding-right: 0.5em;
                content: "\f019";
            }
}

.bc_container {
    .ratio(66%);
    .BrightcoveExperience {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.loginscreen{
    #main{
    min-height: 80%;
    .btn {
        background-color: @vw;
    }
    }
}

footer {
    margin-top: 3em;
    padding: 2em 0;
    background-color: @grey;
    color: @lightgrey;
    font-size: 12px;
    a{
        color: @bgc !important;
    }
    .pull-right {
        text-align: right;
    }

}




iframe.BrightcoveExperience {

position: relative;

padding-bottom: 56.25%; /* 16:9 Aspect Ratio */

padding-top: 25px;

}

iframe.BrightcoveExperience #stage0 {

position: absolute;

width: 100%!important;

height: 100%!important;

}
