﻿@import "_custom-library";

@base: #333333;
@alt: #e6e6e6;
@black: #000000;

@white: #FFFFFF;
@grey: #CCCCCC;
@bgc_alt: #DDDDDD;
@bgcl: #f2f2f2;
@lightgrey: #999999;
@midgrey: #666666;
@middgrey: #555555;
@midlgrey: #888888;

@red: #d40849;
@blue: #44a9b8;

@search: #eeeeee;
@search_alt: #d2d7dc;


/*media queries*/
@_mobile: 480px;
@_tablet: 768px;
@_tablet_desktop: 860px;
@_desktop: 1000px;
@_fullwidth: 1200px;
/*media queries*/



/* Font */
@font-face {
    font-family: 'SD-Bold';
    src: url('../../Fonts/Lato-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'SD-regular';
    src: url('../../Fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'SD-light';
    src: url('../../Fonts/Lato-Light.ttf') format('truetype');
}

@basefont: SD-regular, sans-serif;
@titlefont: SD-Bold, sans-serif;
@lightfont: SD-light, sans-serif;


html {
  height: 100%;
}
body {
  min-height: 100%;
  color: @base;
  font-family: @basefont;
  font-size: 16px;
  line-height: 1.5em;
}


h1 {font-family: @basefont; font-size: 2.3em; color: @midgrey}
h2 {font-family: @basefont; font-size: 1.9em; color: @midgrey}
h3 {font-family: @basefont; font-size: 1.7em;color: @midgrey}
h4 {font-family: @lightfont; font-size: 1.8em; font-weight:500;}
h5 {font-family: @titlefont; font-size: 1.2em}
h6 {font-family: @titlefont; font-size: 1em}

h1.results {font-family: @titlefont; font-size: 1.5em; margin: 1.2em 0;}

.titlelight {
    font-weight: normal;
    font-family: @lightfont;
}


p{
    margin-bottom: 1.4em;
}

.logo{
    margin: 1.3em 0;
    width: 80%;
}

/*forms*/
    .form-panel {
        form {
            margin: 3em 0;
        }
    }


/*buttons*/
    .btn {
        color: @white;
            font-family: Arial;
                font-size: 0.85em;
                text-transform: uppercase;
                background: @red;
                border: @white;

        i {
            color: @white;
        }

        &.active {
            .box_shadow(transparent);
        }
        &hover {
            background: darken(@red, 15%);
            color: @grey;
        }

            &.btnalt {
                        border: 1px solid @red;
                        color: @red;
                        background: transparent;
                        border-radius:0;
                    }
               &.btnsec {
                        border: 1px solid @blue;
                        color: @blue;
                        background: transparent;
                        border-radius:0;
                    }
        &.btn-lg {
              @media only screen and (max-width: @_tablet) {
        font-size: 15px;
            height: 34px;
    }
        }
        }



    .aside-right {
              @media only screen and (min-width: @_tablet) {
                  float: right;
              }

    }

    /*tags*/
    .tags    {
        margin: 2em 0;
   a {   
    border: 1px solid @grey;
    color: @midgrey;
    padding: 0.4em 0.8em;
    margin: 0 1.3em 1.3em 0;
    font-size: 0.9em;
    &:hover {
        text-decoration: none;
        background-color: @blue;
        color: @white;
    }
      }
}

    .tag-group {
        .tags    {
        margin: 1em 0;
        li{
            margin: 0.5em 0.3em 0.7em 0;
                 a {   
                     padding: 0.4em 0.8em;
                     font-size: 0.9em;
                     margin: 0;
                     }
             }
        }
    }

       .tag-group-s {
           margin-left: 20px;
        ul.tags    {
        margin: 1em 0;
        position: relative;
        li{
            margin: 0.5em 0.3em 0.7em 0;
                 a {   
                     padding: 0.4em 0.8em;
                     font-size: 0.9em;
                     margin: 0;
                     }
             
        &:first-child  {
               padding-left: 30px;
              
        }

        }
        li:first-child:before  {
                position: absolute;
                font-family: FontAwesome;
                font-size: 1.15em;
                left: 0;
                content: "\f02c";
              
        }
        }
    }


      /*promoted*/

    .promoted {
        padding: 1.5em;
        background-color: @bgc_alt;

    }


    .home-search {
        background:  url('../../Images/home-main.jpg'); 
        padding: 70px 0;
        color: @white;
        h1 {margin: 1em 15px;}
        h1,h2,h5 {
            color: @white;
            margin-top: 0;
        }
           h5 {
               line-height: 1.7em;
        }
    }
   

   ul.list-icons   { 
                 
            list-style: none;
            position: relative;
            padding: 0;
            margin: 1em 0;

            li {
                padding-left: 1.8em;
                margin-left: 1.5em;
                margin-bottom: 0.8em;
                color: @midgrey;
                position: relative;
                list-style: none;
            }

            li:before {
                position: absolute;
                font-family: FontAwesome;
                font-size: 1.15em;
                left: 0;
            }
            
            .tel:before {
                content: "\f095";
                }
             .email:before {
                content: "\f1fa";
                }
              .www:before {
                content: "\f109";
                }
               .contact:before {
                content: "\f007";
                }
                 .location:before {
                content: "\f041";
                }
         
        }

           .social-profiles{
             h3 {
                 margin-top: 0;
             }
                     .social-tools {
                         li {
                             font-size: 1.4em;
                padding-left: 0;
                margin-left: 0;
                margin-right: 1em;

                         }
                     }
                 }
             


    .social-tools{ 
        i {
    border: 2px solid @grey;
    background-color: @grey;
    color: @middgrey;
    border-radius: 100%;
    height: 2em;
    width: 2em;
    text-align: center;
    margin-left: .3em;
    padding-top: .4em;
}
                  }




    .listing {
        padding: 1.3em 1.5em;
        margin-bottom: 2em;
        border: 1px solid @grey;
    }

    
    .free-listing {
        padding: 0.7em;
        margin-bottom: 1em;
        border-bottom: 1px solid @grey;
    }


    .offset-top-20 {
        margin-top: 2em;
    }


    .page-header {
        overflow: auto;
        margin-bottom: 40px;
    }

    .sd-panel{
        margin: 2em 0;
        padding: 2em 0;
        border-top: 1px solid @bgc_alt;
        overflow: auto;
        clear: both;
    }

        .sd-panel-s{
        margin: 0.3em 0;
        padding: 1.5em 0;
        overflow: auto;
        clear: both;       
            font-size: 0.9em;
       
    }

        .boost {
            background-color: @alt;
        }

        .sponsored {
            padding: 1em 0;
             background-color: @bgcl;
        }
        .intro{
        margin-bottom: 2em;
        overflow: auto;
        clear: both;
    }

       #map {
        height: 100%;
      }



             /*tabs*/

       .tab-system {
           .tab-pane {
               padding: 1.4em;
           }

       }