﻿/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS cross-browser background resize */
/* rounded corner, default set to 5px */
/* CSS cross-browser box shadow, IE & non-IE considerations met */
/* CSS cross-browser box sizing */
/* CSS cross-browser gradient */
/* CSS cross-browser filter blur */
/* min-height cross-browser solution, default height set to 90px */
/* opacity, IE & non-IE opacity set at 50 and 0.5 respectively */
/* CSS cross-browser text-shadow */
/* rotate CSS transformation, default rotation set at 90deg */
/* scale CSS transformation, default x,y at 1.5,1.5 */
/* translateX CSS transformation, default x at 0px */
/* translateY CSS transformation, default x at 0px */
/* skew CSS transformation, default x,y at 20deg, 20deg */
/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS Spares */
/* CSS Spares */
/* CSS Spares */
/* CSS Spares */
/* circle, default height & width set to 100px. Uses .rounded_corner mixin */
/* CSS cross-browser clear fix */
/* CSS cross-browser ellipsis treatment */
/* CSS cross-browser 100%-width/auto-height images */
/* CSS cross-browser ratio */
/* CSS cross-browser text selection */
/* CSS transition, speed set at .150s, and action set to ease-out by default */
/* CSS Spares */
/* CSS Spares */
/* CSS Spares */
/* CSS Spares */
/* Colors library */
/* Colors library */
/* Colors library */
/* Colors library */
/* colors/social */
/*Facebook*/
/*Twitter*/
/*Google+*/
/*YouTube*/
/*LinkedIn*/
/*Instagram*/
/*Pinterest*/
/* */
/* */
/*Vimeo*/
/*Spotify*/
/*RSS*/
/* colors/social */
/* Colors library */
/* Colors library */
/* Colors library */
/* Colors library */
/*media queries*/
/*media queries*/
/* Font */
@font-face {
  font-family: 'SD-Bold';
  src: url('../../Fonts/Lato-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'SD-regular';
  src: url('../../Fonts/Lato-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'SD-light';
  src: url('../../Fonts/Lato-Light.ttf') format('truetype');
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  color: #333333;
  font-family: SD-regular, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}
h1 {
  font-family: SD-regular, sans-serif;
  font-size: 2.3em;
  color: #666666;
}
h2 {
  font-family: SD-regular, sans-serif;
  font-size: 1.9em;
  color: #666666;
}
h3 {
  font-family: SD-regular, sans-serif;
  font-size: 1.7em;
  color: #666666;
}
h3.home {
  color: #fff;
}
h4 {
  font-family: SD-light, sans-serif;
  font-size: 1.8em;
  font-weight: 500;
}
h5 {
  font-family: SD-Bold, sans-serif;
  font-size: 1.2em;
}
h6 {
  font-family: SD-Bold, sans-serif;
  font-size: 1em;
}
h1.results {
  font-family: SD-Bold, sans-serif;
  font-size: 1.5em;
  margin: 1.2em 0;
}
.titlelight {
  font-weight: normal;
  font-family: SD-light, sans-serif;
}
p {
  margin-bottom: 1.4em;
}
.logo {
  margin: 1.3em 0;
  width: 80%;
}
/*forms*/
.form-panel form {
  margin: 3em 0;
}
/*buttons*/
.btn {
  color: #ffffff;
  font-family: Arial;
  font-size: 0.85em;
  text-transform: uppercase;
  background: #d40849;
  border: #ffffff;
}
.btn i {
  color: #ffffff;
}
.btn.active {
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=@s, Direction=@d, Color='@c')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=20px, Direction=135, Color='@c');
  -webkit-box-shadow: 1px 5px 20px transparent;
  -moz-box-shadow: 1px 5px 20px transparent;
  box-shadow: 1px 5px 20px transparent;
}
.btnhover {
  background: #8a0530;
  color: #cccccc;
}
.btn.btnalt {
  border: 1px solid #d40849;
  color: #d40849;
  background: transparent;
  border-radius: 0;
}
.btn.btnsec {
  border: 1px solid #44a9b8;
  color: #44a9b8;
  background: transparent;
  border-radius: 0;
}
.btn.btnok {
  border: 1px solid #5CB85C;
  color: #5CB85C;
  background: transparent;
  border-radius: 0;
}
@media only screen and (max-width: 768px) {
  .btn.btn-lg {
    font-size: 15px;
    height: 34px;
  }
}
@media only screen and (min-width: 768px) {
  .aside-right {
    float: right;
  }
}
/*tags*/
.tags {
  margin: 2em 0;
}
.tags a {
  border: 1px solid #cccccc;
  color: #666666;
  padding: 0.4em 0.8em;
  margin: 0 1.3em 1.3em 0;
  font-size: 0.9em;
}
.tags a:hover {
  text-decoration: none;
  background-color: #44a9b8;
  color: #ffffff;
}
.tag-group .tags {
  margin: 1em 0;
}
.tag-group .tags li {
  margin: 0.5em 0.3em 0.7em 0;
}
.tag-group .tags li a {
  padding: 0.4em 0.8em;
  font-size: 0.9em;
  margin: 0;
}
.tag-group-s {
  margin-left: 20px;
}
.tag-group-s ul.tags {
  margin: 1em 0;
  position: relative;
}
.tag-group-s ul.tags li {
  margin: 0.5em 0.3em 0.7em 0;
}
.tag-group-s ul.tags li a {
  padding: 0.4em 0.8em;
  font-size: 0.9em;
  margin: 0;
}
.tag-group-s ul.tags li:first-child {
  padding-left: 30px;
}
.tag-group-s ul.tags li:first-child:before {
  position: absolute;
  font-family: FontAwesome;
  font-size: 1.15em;
  left: 0;
  content: "\f02c";
}
/*promoted*/
.promoted {
  padding: 1.5em;
  background-color: #dddddd;
}
.home-search {
  background: url('../../Images/home-main.jpg');
  padding: 70px 0;
  color: #ffffff;
}
.home-search h1 {
  margin: 1em 15px;
}
.home-search h1,
.home-search h2,
.home-search h5 {
  color: #ffffff;
  margin-top: 0;
}
.home-search h5 {
  line-height: 1.7em;
}
ul.list-icons {
  list-style: none;
  position: relative;
  padding: 0;
  margin: 1em 0;
}
ul.list-icons li {
  padding-left: 1.8em;
  margin-left: 1.5em;
  margin-bottom: 0.8em;
  color: #666666;
  position: relative;
  list-style: none;
}
ul.list-icons li:before {
  position: absolute;
  font-family: FontAwesome;
  font-size: 1.15em;
  left: 0;
}
ul.list-icons .tel:before {
  content: "\f095";
}
ul.list-icons .email:before {
  content: "\f1fa";
}
ul.list-icons .www:before {
  content: "\f109";
}
ul.list-icons .contact:before {
  content: "\f007";
}
ul.list-icons .location:before {
  content: "\f041";
}
.social-profiles h3 {
  margin-top: 0;
}
.social-profiles .social-tools li {
  font-size: 1.4em;
  padding-left: 0;
  margin-left: 0;
  margin-right: 1em;
}
.social-tools i {
  border: 2px solid #cccccc;
  background-color: #cccccc;
  color: #555555;
  border-radius: 100%;
  height: 2em;
  width: 2em;
  text-align: center;
  margin-left: .3em;
  padding-top: .4em;
}
.listing {
  padding: 1.3em 1.5em;
  margin-bottom: 2em;
  border: 1px solid #cccccc;
}
.free-listing {
  padding: 0.7em;
  margin-bottom: 1em;
  border-bottom: 1px solid #cccccc;
}
.offset-top-20 {
  margin-top: 2em;
}
.page-header {
  overflow: auto;
  margin-bottom: 40px;
}
.sd-panel {
  margin: 2em 0;
  padding: 2em 0;
  border-top: 1px solid #dddddd;
  overflow: auto;
  clear: both;
}
.sd-panel-s {
  margin: 0.3em 0;
  padding: 1.5em 0;
  overflow: auto;
  clear: both;
  font-size: 0.9em;
}
.boost {
  background-color: #e6e6e6;
}
.sponsored {
  padding: 1em 0;
  background-color: #f2f2f2;
}
.intro {
  margin-bottom: 2em;
  overflow: auto;
  clear: both;
}
#map {
  height: 100%;
}
/*tabs*/
.tab-system .tab-pane {
  padding: 1.4em;
}

/* styles for validation helpers */
.field-validation-error {
    color: #f00; /*#b94a48*/
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #f00; /*#b94a48*/
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #f00; /*#b94a48*/
}

.validation-summary-valid {
    display: none;
}
