﻿/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS cross-browser background resize */
/* rounded corner, default set to 5px */
/* CSS cross-browser box shadow, IE & non-IE considerations met */
/* CSS cross-browser box sizing */
/* CSS cross-browser gradient */
/* CSS cross-browser filter blur */
/* min-height cross-browser solution, default height set to 90px */
/* opacity, IE & non-IE opacity set at 50 and 0.5 respectively */
/* CSS cross-browser text-shadow */
/* rotate CSS transformation, default rotation set at 90deg */
/* scale CSS transformation, default x,y at 1.5,1.5 */
/* translateX CSS transformation, default x at 0px */
/* translateY CSS transformation, default x at 0px */
/* skew CSS transformation, default x,y at 20deg, 20deg */
/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS Spares */
/* CSS Spares */
/* CSS Spares */
/* CSS Spares */
/* circle, default height & width set to 100px. Uses .rounded_corner mixin */
/* CSS cross-browser clear fix */
/* CSS cross-browser ellipsis treatment */
/* CSS cross-browser 100%-width/auto-height images */
/* CSS cross-browser ratio */
/* CSS cross-browser text selection */
/* CSS transition, speed set at .150s, and action set to ease-out by default */
/* CSS Spares */
/* CSS Spares */
/* CSS Spares */
/* CSS Spares */
/* Colors library */
/* Colors library */
/* Colors library */
/* Colors library */
/* colors/social */
/*Facebook*/
/*Twitter*/
/*Google+*/
/*YouTube*/
/*LinkedIn*/
/*Instagram*/
/*Pinterest*/
/* */
/* */
/*Vimeo*/
/*Spotify*/
/*RSS*/
/* colors/social */
/* Colors library */
/* Colors library */
/* Colors library */
/* Colors library */
/*temp*/
/*media queries*/
/*media queries*/
/*temp*/
.favcount[data-count]:after,
.readinglistcount[data-count]:after {
  content: attr(data-count);
}
.form-control-feedback {
  line-height: 45px;
  height: 45px;
}
.search {
  padding: 0;
}
.search .form-control {
  background-color: transparent;
  border-width: 0;
  color: #333333;
  font-size: 18px;
  height: 42px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-top: 10px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=@s, Direction=@d, Color='@c')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=20px, Direction=135, Color='@c');
  -webkit-box-shadow: 1px 5px 20px transparent;
  -moz-box-shadow: 1px 5px 20px transparent;
  box-shadow: 1px 5px 20px transparent;
  text-shadow: 0px 0px 10px transparent;
}
.search .form-control:before {
  text-shadow: 0px 0px 0px transparent;
}
.search .form-group {
  margin-bottom: 0;
}
.more-tags {
  padding: 0;
}
.more-tags .btn-group {
  padding: 0;
}
.more-tags .btn {
  display: table;
  margin-right: 5px;
  white-space: normal;
}
.more-tags .btn i {
  padding-right: 10px;
}
.more-tags .btn i,
.more-tags .btn span {
  float: none;
  display: table-cell;
  vertical-align: middle;
}
@media only screen and (max-width: 480px) {
  .more-tags .btn {
    padding: 5px 10px;
  }
  .more-tags .btn i {
    padding-right: 5px;
  }
  .more-tags .btn span {
    font-size: 1.5rem;
    line-height: 1.7rem;
    text-align: center;
    white-space: normal;
  }
}
.navbar-item.section {
  font-family: stolz6, sans-serif;
}
#collapseMain,
#collapseSub {
  margin-top: 1px;
}
#collapseMain button,
#collapseSub button {
  display: block;
  width: 100%;
}
.modal .modal-dialog .modal-content {
  border-width: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=@s, Direction=@d, Color='@c')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=20px, Direction=135, Color='@c');
  -webkit-box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.25);
}
.modal .modal-dialog .modal-content .modal-header,
.modal .modal-dialog .modal-content .modal-body,
.modal .modal-dialog .modal-content .modal-footer {
  border-bottom-width: 0;
  border-top-width: 0;
  padding: 30px;
}
.modal .modal-dialog .modal-content .modal-body {
  height: auto;
  overflow: hidden;
  padding-top: 0;
}
.modal .modal-dialog .modal-content .modal-body > .btn.btn-default {
  float: left;
  margin: 0 5px 5px 0;
}
.modal .modal-dialog .modal-content .modal-title {
  line-height: 1;
}
.btn-danger {
  color: #ffffff !important;
  background-color: #d43f3a !important;
  border-color: #d43f3a !important;
}
.btn-danger > i {
  color: #ffffff !important;
}
.fv-tools-article [data-favourite][data-favourite="true"]:before {
  content: "Remove from favourites";
}
.fv-tools-article [data-favourite][data-favourite="false"]:before {
  content: "Add to favourites";
}
