﻿@import "_custom-library";

/*temp*/
@depth:40px;
/*media queries*/
@_mobile: 480px;
@_tablet: 768px;
@_tablet_desktop: 860px;
@_desktop: 1000px;
@_fullwidth: 1200px;
/*media queries*/
@alt: #e6e6e6;
@black: #000000;
@grey: #333333;
@link: #337ab7;
@link_hover: #23527c;
@white: #FFFFFF;
@bgc: #CCCCCC;
@bgc_alt: #DDDDDD;
@lightgrey: #999999;
@midgrey: #666666;

@search: #EEEEEE;
@search_alt: #d2d7dc;

@article: #ffb400;
@group: #4e963d;
@video:#7c0051;
@document: #00d2c0;
@news: #b3ab27;

@stolz1: stolz1, sans-serif;
@stolz2: stolz2, sans-serif;
@stolz3: stolz3, sans-serif;
@stolzreg: stolz5, sans-serif;
@stolzmed: stolz6, sans-serif;
@OpenSans: OpenSans, sans-serif;
/*temp*/

.favcount,
.readinglistcount {
    &[data-count] {
        &:after {
            content:attr(data-count);
        }
    }
}

.form-control-feedback {
    line-height: @depth+5;
    height: @depth+5;
}

.search {
    padding: 0;
    .form-control {
        background-color: transparent;
        border-width: 0;
        color: @grey;
        font-size: 18px;
        height: @depth+2;
        padding-bottom: @depth/4;
        padding-left: @depth/2-5;
        padding-top: @depth/4;
        .border_radius(0);
        .box_shadow(transparent);
        .text_shadow(transparent);
    }
    .form-group {
        margin-bottom: 0;
    }
}

.more-tags {
    padding: 0;
    .btn-group {
        padding: 0;
    }
    .btn {
        display:table;
        margin-right: @depth/8;
        white-space: normal;
        i {
            padding-right: @depth/4;
        }
        i,
        span {
            float:none;
            display: table-cell;
            vertical-align: middle;
        }
        @media only screen and (max-width: @_mobile) {
            padding: @depth/8 @depth/4;
            i {
                padding-right: @depth/8;
            }   
            span {
                font-size: 1.5rem;
                line-height: 1.7rem;
                text-align: center;
                white-space: normal;
            }
        }
    }
}

.navbar-item {
    &.section {
        font-family: @stolzmed;
    }
}

#collapseMain,
#collapseSub {
    margin-top:1px;
    button {
        display:block;
        width:100%;
    }
}


.modal {
    .modal-dialog {
        .modal-content {
            border-width: 0;
            .border_radius(0);
            .box_shadow(rgba(0, 0, 0, 0.25));
            .modal-header,
            .modal-body,
            .modal-footer {
                border-bottom-width: 0;
                border-top-width: 0;
                padding: @depth - 10;
            }
            .modal-body {
                height: auto;
                overflow: hidden;
                padding-top: 0;
                & > .btn {
                    &.btn-default {
                        float: left;
                        margin: 0 @depth/8 @depth/8 0;
                    }
                }
            }
            .modal-title {
                line-height: 1;
            }
        }
    }
}

.btn-danger {
    color: @white !important;
    background-color: #d43f3a !important;
    border-color: #d43f3a !important;
    & > i {
        color: @white !important;
    }
}

.fv-tools-article {
[data-favourite] {
    &[data-favourite="true"] {
        &:before {
            content: "Remove from favourites";
        }
    }
    &[data-favourite="false"] {
        &:before {
            content: "Add to favourites";
        }
    }
}
}