﻿@using CheckBoxList.Mvc.Html
@using CMS.Models
@using CMS.Helpers
@using SD.Core.Common.Config
@using SD.Core.Common.HtmlExtensions
@using SD.Core.Data.Model
@using SD.Core.Common.Constants
@using SD.Core.Services.Security
@using ScriptRegistrar = SD.Core.Common.Utils.ScriptRegistrar
@using SD.Core.Common.Utilities

@model PageEditModel

@{
    //ViewBag.Title = "Create Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //if (!string.IsNullOrEmpty(Model.ListingArticle.Id))
    //{
    //    ScriptRegistrar.RegisterClientVariable("articleId", Model.Article.Id);
    //}
}

@section SideBar
{
    <li class="nav-header">
        Actions
    </li>
    <li role="presentation">
        <a href="/Pages">
            <i class="fa fa-chevron-left"></i>
            Back to page list
        </a>
    </li>

    <li class="divider"></li>

}


@{ Html.RenderPartial("UserResponses", Model.Responses); }

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => Model.Pages.Id)
    <div class="row">

        <div class="page-header">
            <h1>
                @ViewBag.Title @Model.Pages.Title
            </h1>
        </div>

        <div id="row">

            <div class="affix-row row">
                @if (!string.IsNullOrEmpty(Model.Pages.Id))
                {
                    <div class="form-group pull-left">
                        <div class="form-group col-md-12">
                            <label class="control-label">
                                Page Status
                            </label>
                            <div>
                                <select class="form-control" id="pageStatus" name="Page.Status" autofocus>
                                    @foreach (PublicationStatus val in Enum.GetValues(typeof(PublicationStatus)))
                                    {
                                        if (Model.Pages.Status == val)
                                        {
                                            <option selected="selected" value="@val.ToString()">@val.ToString()</option>
                                        }
                                        else
                                        {
                                            <option value="@val.ToString()">@val.ToString()</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                }
                <div class="pull-right">

                    <label class="control-label">
                        &nbsp;
                    </label>
                    <div class="btn-group pull-left margin-right-10">

                        @Html.ActionLink("Cancel", "Index", "Pages", new { @class = "btn btn-default btn-lg" })

                        <input class="btn btn-primary btn-lg" id="save" name="submit" type="submit" value="Save" />

                    </div>


                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        @if (Model.Pages.CreatedBy != null)
        {
            <strong>
                Created by
            </strong>
            <text>@Model.Pages.CreatedBy.Forename @Model.Pages.CreatedBy.Surname on @Model.Pages.CreatedOn.ToString("dd MMMM yyyy")</text>
        }
        @if (Model.Pages.UpdatedBy != null)
        {
            <strong>Last updated by</strong>
            <text>@Model.Pages.UpdatedBy.Forename @Model.Pages.UpdatedBy.Surname on @Model.Pages.UpdatedOn.ToString("dd MMMM yyyy")</text>
        }
        <div class="tab-content row">

            <div class="clearfix"></div>

            <div role="tabpanel" class="tab-pane active" id="info">
                <h2>
                    Create / Edit Page
                </h2>

                @Html.AntiForgeryToken()

                <div class="form-horizontal" style="padding: 20px;">
                    <h4>Pages</h4>
                    <hr />
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => Model.Pages.Id)

                    <ul class="list-unstyled">

                        <li class="form-group">
                            <label for="title">
                                Title<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.Pages.Title)
                            </label>
                            @Html.TextBoxFor(x => x.Pages.Title, new { @class = "form-control", autofocus = string.Empty })
                        </li>

                        <li class="form-group">

                            <label for="urlSlug">
                                UrlSlug @Html.ValidationMessageFor(x => x.Pages.UrlSlug)
                            </label>
                            @Html.TextBoxFor(x => x.Pages.UrlSlug, new { @class = "form-control" })
                        </li>

                        @*<div class="form-group">
                                @Html.LabelFor(model => Model.Pages.PageUrls, new { @class = "control-label" })
                                <div class="">
                                    @Html.EditorFor(model => Model.Pages.PageUrls, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => Model.Pages.PageUrls)
                                </div>
                            </div>*@

                        <li class="form-group">
                            <label for="body">
                                Page Body <span class="required_star">*</span> @Html.ValidationMessageFor(x => Model.Pages.Body)
                            </label>

                            <div class="tinymce">
                                @Html.TextAreaFor(x => Model.Pages.Body, new { @class = "span12", @id = "editor" })
                            </div>

                        </li>

                    </ul>

                </div>

            </div>

        </div>

    </div>
}



<script src="~/Scripts/tinymce/tinymce.min.js"></script>
<script>

    tinymce.init({
        selector: "textarea#editor",
        content_css: "/Content/Styles/EditorStylesOverride.css",
        plugins: [
            "advlist autolink lists link image base64_image charmap print preview anchor",
            "searchreplace visualblocks code fullscreen",
            "insertdatetime media table contextmenu paste ",
            "template"
        ],
        theme_advanced_blockformats: "p,h1,h2,h3,h4,h5,h6,blockquote,dt,dd,code,samp",
        menubar: false,
        toolbar: "insertfile undo redo | styleselect | template | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link base64_image media | table | code",

        //templates: [
        //    { title: 'Product', description: 'Full List', url: '/Templates/product.html' },
        //    { title: 'Extra Item', description: '', url: '/Templates/product_item.html' }
        //],
        height: 500,
        paste_data_images: true,
        force_p_newlines: true,
        //allow_script_urls: true,
        extended_valid_elements: 'script[language|type|src|async|defer]'
    }); </script>