﻿
@using CheckBoxList.Mvc.Html
@using CMS.Models
@using CMS.Helpers
@using SD.Core.Common.Config
@using SD.Core.Common.HtmlExtensions
@using SD.Core.Data.Model
@using SD.Core.Common.Constants
@using SD.Core.Services.Security
@using ScriptRegistrar = SD.Core.Common.Utils.ScriptRegistrar
@using SD.Core.Common.Utilities

@model CMS.Models.MemberEditModel

@{
    ViewBag.Title = "Editing Member";
    Layout = "~/Views/Shared/_Layout.cshtml";
  
}

@section SideBar
{
    <li class="nav-header">
        Actions
    </li>
    <li role="presentation">
        <a href="/Members">
            <i class="fa fa-chevron-left"></i>
            Back to member list
        </a>
    </li>

    <li class="divider"></li>

    <li role="presentation" class="active">
        <a href="#info" aria-controls="home" role="tab" data-toggle="tab">
            <i class="fa fa-info-circle"></i>
            General Info
        </a>
    </li>
    <li role="presentation">
        <a href="#companydetails" aria-controls="home" role="tab" data-toggle="tab">
            <i class="fa fa-info-circle"></i>
            Contact Details
        </a>
    </li>       
    <li class="divider"></li>

}


@{ Html.RenderPartial("UserResponses", Model.Responses); }

@using (Html.BeginForm("EditAction", "Members", FormMethod.Post, new { name = "editForm" }))
{
    @Html.HiddenFor(x =>x.Member.Id)
    @Html.HiddenFor(x => x.Member.Password)
    @Html.HiddenFor(x => x.Member.IsActivated)
    @Html.HiddenFor(x => x.Member.CreatedOn)
    <div class="row">        
        <div class="page-header">
            <h1>
                Editing @Model.Member.Firstname @Model.Member.Surname 
            </h1>
        </div>

        <div id="row">

            <div class="affix-row row">
                @if (!string.IsNullOrEmpty(Model.Member.Id))
                {
                    <div class="form-group pull-left">
                        <div class="form-group col-md-12">
                            <label class="control-label">
                                Member Status
                            </label>
                            <div>
                                <select class="form-control" id="listingStatus" name="Member.Status" autofocus>
                                    @foreach (PublicationStatus val in Enum.GetValues(typeof(PublicationStatus)))
                                    {
                                        if (Model.Member.Status == val)
                                        {
                                            <option selected="selected" value="@val.ToString()">@val.ToString()</option>
                                        }
                                        else
                                        {
                                            <option value="@val.ToString()">@val.ToString()</option>
                                        }
                                    }
                                </select>
                            </div>                    
                        </div>
                    </div>
                }
                <div class="pull-right">

                    <label class="control-label">
                        &nbsp;
                    </label>
                    <div class="btn-group pull-left margin-right-10">

                        <input class="btn btn-default btn-lg" id="cancel" name="submit" type="submit" value="Cancel" />

                        <input class="btn btn-primary btn-lg" id="save" name="submit" type="submit" value="Save" />

                    </div>


                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        @if (Model.Member.CreatedBy != null)
        {
            <strong>
                Created by
            </strong>
            <text>@Model.Member.CreatedBy.Forename @Model.Member.CreatedBy.Surname on @Model.Member.CreatedOn.ToString("dd MMMM yyyy")</text>
        }
        @if (Model.Member.UpdatedBy != null)
        {
            <strong>Last updated by</strong>
            <text>@Model.Member.UpdatedBy.Forename @Model.Member.UpdatedBy.Surname on @Model.Member.UpdatedOn.ToString("dd MMMM yyyy")</text>
        }
        <div class="tab-content row">           

            <div class="clearfix"></div>

            <div role="tabpanel" class="tab-pane active" id="info">
                <h2>
                    General Info
                </h2>                               
                <ul class="list-unstyled">          
                    <li class="form-group">
                        <label>
                            Account Type
                        </label>
                        @Model.Member.AccountType
                        <select class="form-control" id="accountType" name="Member.AccountType" autofocus>
                            @foreach (AccountType val in Enum.GetValues(typeof(AccountType)))
                            {
                                if (Model.Member.AccountType == val)
                                {
                                    <option selected="selected" value="@val.ToString()">@val.ToString()</option>
                                }
                                else
                                {
                                    <option value="@val.ToString()">@val.ToString()</option>
                                }
                            }
                        </select>

                    </li>          
                    <li class="form-group">
                        @*maxchars" maxchars="110"*@
                        <label for="title">
                            Title<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.Member.Title)
                        </label>
                        @Html.TextBoxFor(x => x.Member.Title, new { @class = "form-control", autofocus = string.Empty })
                    </li>
                    <li class="form-group">                    
                        <label for="firstname">
                            First Name<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.Member.Firstname)
                        </label>
                        @Html.TextBoxFor(x => x.Member.Firstname, new { @class = "form-control", autofocus = string.Empty })
                    </li>                  
                    <li class="form-group">                        
                        <label for="surname">
                            Last Name<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.Member.Surname)
                        </label>
                        @Html.TextBoxFor(x => x.Member.Surname, new { @class = "form-control", autofocus = string.Empty })
                    </li>                  
                    <li class="form-group">
                        <label for="email">
                            Email<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.Member.Email)
                        </label>
                        @Html.TextBoxFor(x => x.Member.Email, new { @class = "form-control", autofocus = string.Empty })
                    </li>                                                       
                    <li class="form-group">
                        <label for="Telephone">
                            Phone Number<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.Member.Telephone)
                        </label>
                        @Html.TextBoxFor(x => x.Member.Telephone, new { @class = "form-control", autofocus = string.Empty })
                    </li>    
                    <li class="form-group">
                        <label for="CompanyName">
                            Company Name<span class="required_star">*Required for Company Representatives</span> @Html.ValidationMessageFor(x => x.Member.CompanyName)
                        </label>
                        @Html.TextBoxFor(x => x.Member.CompanyName, new { @class = "form-control", autofocus = string.Empty })
                    </li>                                    
                    <li class="form-group">
                        <label for="Country">
                            Company Description<span class="required_star">*Required for Company Representatives</span> @Html.ValidationMessageFor(model => model.Member.CountryId)
                        </label>
                        @Html.TextAreaFor(x => x.Member.CompanyDescription, new { @class = "form-control" })
                    </li>                                                                                                        
                </ul>

            </div>
            <div id="companydetails" class="tab-pane">
                <h2>
                    Contact Details
                </h2>
                <ul class="list-unstyled">
                    <li class="form-group">
                        <label for="Address1">
                            Address 1<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.Member.Address1)
                        </label>
                        @Html.TextBoxFor(x => x.Member.Address1, new { @class = "form-control", autofocus = string.Empty })
                    </li>                      
                    <li class="form-group">
                        <label for="Address2">
                            Address 2<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.Member.Address2)
                        </label>
                        @Html.TextBoxFor(x => x.Member.Address2, new { @class = "form-control", autofocus = string.Empty })
                    </li>                  
                    <li class="form-group">
                        <label for="Address3">
                            Address 3<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.Member.Address3)
                        </label>
                        @Html.TextBoxFor(x => x.Member.Address3, new { @class = "form-control", autofocus = string.Empty })
                    </li>                                                              
                    <li class="form-group">
                        <label for="Address4">
                            Address 4<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.Member.Address4)
                        </label>
                        @Html.TextBoxFor(x => x.Member.Address4, new { @class = "form-control", autofocus = string.Empty })
                    </li>       
                    <li class="form-group">
                        <label for="Town">
                            Town<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.Member.Town)
                        </label>
                        @Html.TextBoxFor(x => x.Member.Town, new { @class = "form-control", autofocus = string.Empty })
                    </li>                                                                                                      
                    <li class="form-group">
                        <label for="County">
                            County<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.Member.County)
                        </label>
                        @Html.TextBoxFor(x => x.Member.County, new { @class = "form-control", autofocus = string.Empty })
                    </li>
                    <li class="form-group">
                        <label for="Country">
                            Country<span class="required_star">*</span> @Html.ValidationMessageFor(model => model.Member.CountryId)
                        </label>
                        @Html.DropDownListFor(model => model.Member.CountryId, new SelectList(ViewBag.Countries, "Value", "Text", Model.Member.CountryId), "--Choose One--",
                            new { @class = "form-control", @title = "Select Country" })
                    </li>                                    

                    <li class="form-group">
                        <label for="PostCode">
                            Post Code<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.Member.Postcode)
                        </label>
                        @Html.TextBoxFor(x => x.Member.Postcode, new { @class = "form-control", autofocus = string.Empty })
                    </li>
                                                                                                                                                                                                                              
                </ul>
            </div>
            
        </div>
        
    </div>
}
