﻿@using CMS.Models
@using SD.Core.Common.HtmlExtensions
@using SD.Core.Common.Constants
@using ScriptRegistrar = SD.Core.Common.Utils.ScriptRegistrar
@model MemberListModel
@{
    ViewBag.Title = "Members";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var showSearchResults = Model.SearchResults != null && Model.SearchResults.Count != 0;
    ScriptRegistrar.RegisterClientVariable("showSearchResults", showSearchResults);

}
@section Head
{
    <link href="@Url.CdnContent("~/Content/Styles/Article.css")" rel="Stylesheet" type="text/css" />
    <script src="@Url.CdnContent("~/Scripts/MemberList.js")" type="text/javascript"></script>


}
@section SideBar
{
    <li class="nav-header">Actions</li>



    <li>
        @Html.ActionLink("View UnModerated Members", "index", "members", new { unmoderated = true }, new { @class = "sm_new_article" })
    </li>
@{ Html.RenderPartial("UserResponses", Model.Responses); }
 }
 



    <div class="row" id="searchContainer">

        <div class="page-header">
            <h1>
                Members
            </h1>
        </div>

        <div class="clearfix"></div>

        <div class="input-append">

        <h3>
            Search for Member by Name or Email
        </h3>

        <div class="col-lg-12 no-padding">
            <input class="form-control" type="text" id="SearchBox" placeholder="search..." value="@Model.SearchText" />
        </div><!-- /.col-lg-6 -->

    </div>
    </div>

    <div class="row">

        <div class="row hide" id="SearchResultsContainer">

                <div class="col-md-12">

                    <h2>
                        Search Results For "<span id="searchTermsLabel"></span>"
                    </h2>

                    <div id="searchedList" class="list-group">
                        @if (showSearchResults)
                        {
                            Html.RenderPartial("MemberList", Model.SearchResults);
                        }
                    </div>

                    <a href="#" id="searchMore" class="btn btn-default">
                        More Results
                    </a>

                </div>
            </div>

        <div class="row" id="ListContainer">

            <div class="col-md-12">

                @{ Html.RenderPartial("Pagination", Model.Pagination); }

                <div id="articleList" class="list-group">
                    @{ Html.RenderPartial("MemberList", Model.Members); }
                </div>

                @{ Html.RenderPartial("Pagination", Model.Pagination); }

            </div>
        </div>



    </div>


    <script type="text/javascript">

        $(document).ready(function () {

            $(".tab")
                .on("click", function () {
                    var id = $(this).id;
                    $(".tabDiv").style.display = "none";
                    $("#" + id).style.display = "block"
                });

        });

    </script>
