﻿@using CMS.Helpers
@using SD.Core.Common.Constants
@using SD.Core.Common.Utils
@using SD.Core.Services.Security
@using SD.Core.Data.Model
@model Member

<div class="list-group-item">

    <div class="btn-group pull-right" role="group">
        @if (Model.Status != PublicationStatus.Deleted)
        {

            <a class="btn btn-default" href="@Url.Action("Edit", "Members", new { id = Model.Id })" title="View Members">
                <i class="fa fa-eye" title="View Member"></i>
            </a>



            <a class="btn btn-default" href="@Url.Action("Edit", "Members", new { id = Model.Id })" title="Edit">
                <i class="fa fa-pencil" title="Edit"></i>
            </a>

            if (LiveUser.Can(Permission.EditArticles))
            {
                @*<a class="btn btn-danger" href="@Url.Action("Delete", "Members", new { id = Model.Id })" title="Delete">
                        <i class="fa fa-trash" title="Delete"></i>
                    </a>*@
            }

        }
        else
        {
            if (LiveUser.Can(Permission.EditArticles))
            {

                <a class="btn btn-default" href="/Members/HardDelete?articleid=@Model.Id" title="Remove from recycle bin (irreversible)">
                    <i class="fa fa-exclamation-triangle"></i>
                </a>

                <a class="btn btn-default" href="/Members/Restore?articleid=@Model.Id" title="Restore">
                    <i class="fa fa-repeat"></i>
                </a>
            }
        }
    </div>

    <h4>
        @Model.Title @Model.Firstname @Model.Surname <br />
        <small>@Model.Email</small>
    </h4>

    <ul class="list-unstyled">
        <li class="form-group">
            <strong>
                @Model.Status
            </strong>
        </li>
        <li class="divider"></li>
        <li class="col-md-3 col-sm-2 ">
            <i class="fa fa-calendar"></i>

            Created On: @(((DateTime)Model.CreatedOn).ToLocalTime())
        </li>
        <li class="col-md-3 col-sm-2 ">
            <i class="fa fa-calendar"></i>

            Updated On: @(((DateTime)Model.UpdatedOn).ToLocalTime())
        </li>               
    </ul>

</div>
