﻿@using CheckBoxList.Mvc.Html
@using CMS.Models
@using CMS.Helpers
@using SD.Core.Common.Config
@using SD.Core.Common.HtmlExtensions
@using SD.Core.Data.Model
@using SD.Core.Common.Constants
@using SD.Core.Services.Security
@using ScriptRegistrar = SD.Core.Common.Utils.ScriptRegistrar
@using SD.Core.Common.Utilities
@model CMS.Models.TagsEditModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ScriptRegistrar.RegisterScript("~/Scripts/featuredlistingedit.js");
}
@section Head
{

}

@section SideBar
{
    <li class="nav-header">Actions</li>
    <li><a href="/tags"><i class="fa fa-chevron-left"></i>Back to list</a></li>
    <li role="presentation" class="active">
        <a href="#info" aria-controls="home" role="tab" data-toggle="tab">
            <i class="fa fa-info-circle"></i>
            General Info
        </a>
    </li>
    <li role="presentation">
        <a href="#categorysponsor" aria-controls="home" role="tab" data-toggle="tab">
            <i class="fa fa-info-circle"></i>
            Sponsor
        </a>
    </li>
}

<h2>Edit</h2>
@{ Html.RenderPartial("UserResponses", Model.Responses); }
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    if (!String.IsNullOrEmpty(ViewBag.Msg))
    {
        <ul class="unstyled" id="userResponses">

            <li class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert">×</a>
                <span class="headline">Success</span>
                <p>@ViewBag.Msg</p>
            </li>
        </ul>
    }

    <hr />
    @Html.ValidationSummary(true)
    <div id="row">
        <div class="pull-right">

            <label class="control-label">
                &nbsp;
            </label>
            <div class="btn-group pull-left margin-right-10">

                <input class="btn btn-default btn-lg" id="cancel" name="submit" type="submit" value="Cancel" />

                <input class="btn btn-primary btn-lg" id="save" name="submit" type="submit" value="Save" />

            </div>


        </div>
        <div class="tab-content row">
            <div class="clearfix"></div>
            <div role="tabpanel" class="tab-pane active" id="info">
                <ul class="list-unstyled">
                    <li class="form-group">
                        @*maxchars" maxchars="110"*@
                        <label for="title">
                            Display Text<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.Tag.DisplayText)
                        </label>
                        @Html.TextBoxFor(x => x.Tag.DisplayText, new { @class = "form-control", autofocus = string.Empty })
                    </li>

                    <li class="form-group">
                        @*maxchars" maxchars="110"*@
                        <label for="title">
                            Url Slug<span class="required_star">* (must be unique)</span> @Html.ValidationMessageFor(x => x.Tag.UrlSlug)
                        </label>
                        @Html.TextBoxFor(x => x.Tag.UrlSlug, new { @class = "form-control", autofocus = string.Empty })
                    </li>                 
                    <li class="form-group">
                        @*maxchars" maxchars="110"*@
                        <label for="title">
                            Parent Tag<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.Tag.ParentId)
                        </label>
                        <select class="form-control" id="Tag.ParentId" name="Tag.ParentId" autofocus>
                            @foreach (SelectListItem item in (List<SelectListItem>)ViewBag.TagsList)
                            {
                                if (Model.Tag.Id == item.Value && !string.IsNullOrEmpty(Model.Tag.ParentSlug))
                                {
                                    <option selected="selected" value="@item.Value">@item.Text</option>
                                }
                                else
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            }
                        </select>
               
                    </li>
                </ul>
            </div>
            <div role="tabpanel" class="tab-pane" id="categorysponsor">

                <h2>
                    Company Sponsor
                </h2>

                <ul class="list-unstyled">

                    <li class="form-group">
                        <input type="hidden" id="sponsoredListingId" name="sponsoredListingId" value="@Model.RelatedSponsoredListing.Id" />
                        @*maxchars" maxchars="110"*@
                        <label for="title">
                            Company Name<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.RelatedSponsoredListing.ListingId)
                        </label>
                        <input type="text" class="form-control" id="listings" name="listings" placeholder="Enter a company name" value="@Model.RelatedSponsoredListing.RelatedListing.CompanyName">
                        <input type="hidden" id="listingId" name="listingId" value="@Model.RelatedSponsoredListing.ListingId" />
                    </li>
                    <li class="form-group">
                        <label for="locationName">
                            Live from (<a href="http://www.worldtimeserver.com/current_time_in_UTC.aspx" target="_blank">UTC Time is used</a>)<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.RelatedSponsoredListing.LiveFrom)
                        </label>
                        @Html.TextBoxFor(x => x.RelatedSponsoredListing.LiveFrom)
                    </li>
                    <li class="form-group">
                        <label for="locationName">
                            Expires on (<a href="http://www.worldtimeserver.com/current_time_in_UTC.aspx" target="_blank">UTC Time is used</a>)<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.RelatedSponsoredListing.LiveTo)
                        </label>
                        @Html.TextBoxFor(x => x.RelatedSponsoredListing.LiveTo)
                    </li>
                    <li class="form-group">
                        <label for="locationName">
                            Status
                        </label>
                        <select class="form-control" id="relatedSponsoredListingStatus" name="relatedSponsoredListing.Status" autofocus>
                            @foreach (PublicationStatus val in Enum.GetValues(typeof(PublicationStatus)))
                            {
                                if (Model.RelatedSponsoredListing.Status == val)
                                {
                                    <option selected="selected" value="@val.ToString()">@val.ToString()</option>
                                }
                                else
                                {
                                    <option value="@val.ToString()">@val.ToString()</option>
                                }
                            }
                        </select>

                    </li>
                </ul>

            </div>

        </div>
    </div>


}

