﻿@using SD.Core.Data.Model
@model CMS.Models.TagsViewModel
@{
    ViewBag.Title = "Index";
}
@section Head
{
    <script src="~/Scripts/Draggable.js" type="text/javascript"></script>
}
@section SideBar
{
    <li class="nav-header">Actions</li>
        <li>
            @Html.ActionLink("Add New Category", "Create", null, new { @class = "sm_new_article" })
        </li>

  }
<h2>Categories</h2>
<p>To delete a category, please contact Support who will check the listings affected.</p>
<ul class="tags list-unstyled">

    @foreach (var tag in Model.Tags.Where(i => string.IsNullOrEmpty(i.ParentId)))
    {
        <li tagid="@tag.Id" tagname="@tag.DisplayText">
            <dl class="top-group-item">
                <dt><a class="sm2_title" href="/Tags/Edit/?Id=@tag.Id"><b>@tag.DisplayText</b></a></dt>
                <dd class="sm2_actions"><strong>Actions:</strong> <a href="/Tags/Edit/?Id=@tag.Id" title="Edit">Edit</a>
                @*<span class="sm2_delete" title="Delete">Delete</span>*@<a href="/Tags/Create/?ParentId=@tag.Id&ParentSlug=@tag.UrlSlug" class="sm2_addChild" title="Add Child">Add Child</a></dd>
                
                @*<dd class="sm2_status"><strong>Status:</strong> <span class="sm2_pub" title="Published">Published</span><span class="sm2_workFlow" title="Draft Exists">Draft Exists</span></dd>*@
            </dl>
            <ul class="subtags list-unstyled">
                @foreach (var childTag in Model.Tags.Where(i => i.ParentId == tag.Id).OrderBy( x=> x.DisplayText))
                {
                    <li class="col-md-3 col-sm-6" tagid="@childTag.Id" tagname="@childTag.DisplayText">
                        <dl class="sm2_s_published">
                            <dt><a class="sm2_title" href="/Tags/Edit/?Id=@childTag.Id">@childTag.DisplayText</a></dt>
                            <dd class="sm2_actions"><strong>Actions:</strong> <a href="/Tags/Edit/?Id=@childTag.Id" title="Edit">Edit</a>
                            @*<span class="sm2_delete" title="Delete"><a href="javascript: Delete('@childTag.Id')">Delete</a></span>*@
                            </dd>
                            @*<dd class="sm2_status"><strong>Status:</strong> <span class="sm2_pub" title="Published">Published</span><span class="sm2_workFlow" title="Draft Exists">Draft Exists</span></dd>*@
                        </dl>
                    </li>

                }
            </ul>
        </li>
    }

   
</ul>
<script>
    function Delete(tagid)
    {
        if (confirm("Are you sure you want to delete this tag? It cannot be undone and will be removed from all articles"))
        {
            window.location.href = "/Tags/Delete/?id=" + tagid;
        }
    }
</script>
