﻿
@using CMS.Models
@using SD.Core.Common.Config

@{
    ViewBag.Title = "Index";
}

@section SideBar
{
    <li class="nav-header">Actions</li>


    <li>
        @Html.ActionLink("Create New", "Create")
    </li>
}

@{ Html.RenderPartial("TagList");}