﻿@model IEnumerable<SD.Core.Data.Model.Tags>


<h2>Edit Tags</h2>
<p>&nbsp;</p>

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.DisplayText)
        </th>
       
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.DisplayText)
            </td>
           
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |

                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
