﻿/*


label
{
    display:block;
    font-size: 18px;
    margin-top:10px;
    padding-top:10px;
}

.checkbox_set label
{
    display: inline;
    font-size: 12px;
    margin: 2px;
    padding:0px;
}

input[type=text]
{
    padding:10px;
    font-size:16px;
}

textarea
{
    display:block;
    padding:10px;
}
*/