﻿.gallery_detail
{
    position:absolute;
    width:200px;
    left: -210px;
    top:0px;
    background-color: #222;
    border-radius: 5px;
    padding:10px;
    color:#FFF;
    min-height: 100px;
}

.gallery-selector-search .gallery-search
{
    padding:10px;
    font-size:16px;
    font-weight: bold;
    margin: 20px;
    
}