﻿.media-quick-uploader .inner-panel-wrap
{
    height:450px;
}

ul.stage-labels 
{
    list-style-type: none;
    
}
ul.stage-labels li
{
    display:inline;
    margin-right: 20px;
    font-size:16px;
    color:#999;
}
ul.stage-labels li.current
{
    border-bottom: 3px solid #CD1F2B;
}

ul.media-quick-upload-tab-container
{
    list-style-type:none;
    margin: 0px !important;
}

.media-uploader
{
    margin-top: 50px;   
}

#mediaRatioPreviewContainer
{
    position:absolute;
    display:block;
    right:0px;
    background-color: #333;
}
    #mediaRatioPreviewContainer img
    {
        max-width: inherit !important;
    }

/*************** FileUpload plugin overrides ******************/

.qq-upload-button
{
    width:100% !important;
}
.qq-upload-button input
{
    width:100% !important;   
}