﻿.tag-selector-search .tag-search {
    font-size: 16px;
    font-weight: bold;
    margin: 20px;
    padding: 10px;
}

.tag-selector-results
{
    display:inline-block;
    width:450px;
    vertical-align: top;
    margin-left:20px;
    border-right: 1px solid #EEEEEE;
    padding-right:10px;
}
.tag-selector-selected-results
{
    display:inline-block;
    width:450px;
    vertical-align: top;
    margin-left:10px;
}

ul li.empty-list-notice
{
    color:#CCC;
}

.tag-selector li{
    border-bottom: 1px solid #E6E6E6;
    padding: 10px !important;
    background-color: #ffffff;
    border-radius: 0px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset;
    color: #666666;
    margin: 0px;
    line-height: 28px;
    position: relative;
    min-height: 28px;
}

.tag-selector li:nth-child(even) {
    background-color: #ffffff !important;
}
    .tag-selector li a.remove {
        float: right;
    }
    .tag-selector li a.add-tags {
        float: left;
    }