﻿ul#permissions
{
    list-style: none;
    padding:0px;
    margin:0px;
}
    ul#permissions li
    {
        display:inline-block;
        vertical-align: top;
        margin-bottom: 4px;
    }
    
    ul#permissions li a
    {
        display:block;
        width:150px;
        height:85px;
        border-radius: 4px 4px 4px 4px;
        padding: 8px;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    }
    
    ul#permissions li a span.name
    {
        color: #468847;
    }
    ul#permissions li a span.subtext
    {
        font-size:10px;
        display: block;
    }
    
    ul#permissions li.enabled a
    {
        background-color: #DFF0D8;
        border: 1px solid #D6E9C6;
        color: #468847;
    }
    
    ul#permissions li.enabled a:hover
    {
        text-decoration:none;
        background-color: #DFF0D8;
        border: 1px solid #B8CBA8;
        color: #468847;
    }
        ul#permissions li.enabled a  span.name
        {
            font-weight:bold;
            margin-right:5px;
        }
        ul#permissions li.enabled a span.subtext
        {
            color: #468847;
        }
    
    ul#permissions li.disabled a
    {
        background-color: #F3F3F3;
        border: 1px solid #ECECEC;
        color: #CCC;
    }
    
    ul#permissions li.disabled a:hover
    {
        text-decoration: none;
        background-color: #F3F3F3;
        border: 1px solid #C4C4C4;
        color: #CCC;
    }
        ul#permissions li.disabled a span.name
        {
            color: #A4A4A4;
        }
        ul#permissions li.disabled a span.subtext
        {
            color: #BEBEBE;
        }