﻿@using SD.Core.Services.Security
@using ScriptRegistrar = SD.Core.Common.Utils.ScriptRegistrar

@using SD.Core.Common.Constants
@using SD.Core.Data.Model
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ScriptRegistrar.RegisterStyle("~/Content/Styles/Home.css");
}
@section SideBar
{
    @*@{ Html.RenderPartial("HomeSideBarMenu"); }*@
}

@section SubSideBar
{

}
@model List<Listing>

<div class="row">

    <div class="page-header">
        <h1>
            Welcome @LiveUser.Get().Forename
        </h1>
    </div>

    <div class="clearfix"></div>

    <h3>
        Select the area you wish to manage
    </h3>

    <div class="clearfix"></div>

    @{ Html.RenderPartial("Menu"); }
    <div class="clearfix page-header"></div>
    
    
    
    <div class="row" id="ListContainer">
        <h3> Unmoderated Listings</h3>    
        <div class="col-md-12">
            <b>@Html.ActionLink("View All", "Index", "Listing", new { unmoderated = true }, new { @class = "sm_new_article" })</b>
            @if (Model != null && Model.Count != 0)
            {
                foreach (var list in Model)
                {
                    <div class="list-group-item">

                        <div class="btn-group pull-right" role="group">
                            @if (list.Status != PublicationStatus.Deleted)
                    {
                                
                                <a class="btn btn-default" href="/Listing/Edit/@list.Id" title="Edit">
                                    <i class="fa fa-pencil" title="Edit"></i>
                                </a>                                

                            }
                        </div>

                        <h4>

                            <a href="/Listing/Edit/@list.Id" title="Edit">
                                @list.CompanyName
                            </a>

                        </h4>

                        <ul class="list-unstyled">
                            <li class="form-group">
                                <strong>
                                    @list.ListingType, @list.Status
                                </strong>
                            </li>
                            
                            <li class="divider"></li>
                            <li class="col-md-3 col-sm-2 ">
                                <i class="fa fa-calendar"></i>

                                Created On: @(((DateTime)list.CreatedOn).ToLocalTime())
                            </li>
                            <li class="col-md-3 col-sm-2 ">
                                <i class="fa fa-calendar"></i>

                                Updated On: @(((DateTime)list.UpdatedOn).ToLocalTime())
                            </li>
                            <li class="col-md-3 col-sm-2 ">
                                <i class="fa fa-calendar"></i>
                                Live from: @(((DateTime)list.LiveFrom).ToLocalTime())

                            </li>
                            @if (list.LiveTo.HasValue)
                    {
                                <li class="col-md-3 col-sm-2 ">
                                    <i class="fa fa-calendar"></i>
                                    Expires: @(((DateTime)list.LiveTo).ToLocalTime())

                                </li>
                            }
                        </ul>

                    </div>
                }
            }
            else
            {
                <li>
                    No Unmoderated Listings
                </li>
            }
            
            <b>@Html.ActionLink("View All", "Index", "Listing", new { unmoderated = true }, new { @class = "sm_new_article" })</b>
        </div>
        </div>
</div>