﻿@using CheckBoxList.Mvc.Html
@using CMS.Models
@using CMS.Helpers
@using SD.Core.Common.Config
@using SD.Core.Common.HtmlExtensions
@using SD.Core.Data.Model
@using SD.Core.Common.Constants
@using SD.Core.Services.Security
@using ScriptRegistrar = SD.Core.Common.Utils.ScriptRegistrar
@using SD.Core.Common.Utilities

@model PageEditModel

@{
    ViewBag.Title = "Edit Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //if (!string.IsNullOrEmpty(Model.ListingArticle.Id))
    //{
    //    ScriptRegistrar.RegisterClientVariable("articleId", Model.Article.Id);
    //}
}

@section SideBar
{
    <li class="nav-header">
        Actions
    </li>
    <li role="presentation">
        <a href="/Pages">
            <i class="fa fa-chevron-left"></i>
            Back to page list
        </a>
    </li>

    <li class="divider"></li>
    
}


@{ Html.RenderPartial("UserResponses", Model.Responses); }

@using (Html.BeginForm("Edit", "Pages", FormMethod.Post, new { name = "editForm" }))
{
    @Html.HiddenFor(model => model.Id)
    <div class="row">
        
        <div class="page-header">
            <h1>
                Editing @Model.Title
            </h1>
        </div>

        <div id="row">

            <div class="affix-row row">
                @if (!string.IsNullOrEmpty(Model.Id))
                {
                    <div class="form-group pull-left">
                        <div class="form-group col-md-12">
                            <label class="control-label">
                                Page Status
                            </label>
                            <div>
                                <select class="form-control" id="listingStatus" name="Listing.Status" autofocus>
                                    @foreach (PublicationStatus val in Enum.GetValues(typeof(PublicationStatus)))
                                    {
                                        if (Model.Status == val)
                                        {
                                            <option selected="selected" value="@val.ToString()">@val.ToString()</option>
                                        }
                                        else
                                        {
                                            <option value="@val.ToString()">@val.ToString()</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                }
                <div class="pull-right">

                    <label class="control-label">
                        &nbsp;
                    </label>
                    <div class="btn-group pull-left margin-right-10">
                        
                        @Html.ActionLink("Cancel", "Index", "Pages", new { @class = "btn btn-default btn-lg"})

                        <input class="btn btn-primary btn-lg" id="save" name="submit" type="submit" value="Save" />

                    </div>


                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        @if (Model.CreatedBy != null)
        {
            <strong>
                Created by
            </strong>
            <text>@Model.CreatedBy.Forename @Model.CreatedBy.Surname on @Model.CreatedOn.ToString("dd MMMM yyyy")</text>
        }
        @if (Model.UpdatedBy != null)
        {
            <strong>Last updated by</strong>
            <text>@Model.UpdatedBy.Forename @Model.UpdatedBy.Surname on @Model.UpdatedOn.ToString("dd MMMM yyyy")</text>
        }
        <div class="tab-content row">

            <div class="clearfix"></div>

            <div role="tabpanel" class="tab-pane active" id="info">
                <h2>
                    Edit Page
                </h2>

                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Pages</h4>
                    <hr />
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Title, new { @class = "control-label" })
                        <div class="">
                            @Html.EditorFor(model => model.Title, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Title)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.UrlSlug, new { @class = "control-label" })
                        <div class="">
                            @Html.EditorFor(model => model.UrlSlug, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.UrlSlug)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Body, new { @class = "control-label" })
                        <div class="">
                            @Html.EditorFor(model => model.Body, new {  @class = "span12", @id = "editor" })
                            @Html.ValidationMessageFor(model => model.Body)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PageUrls, new { @class = "control-label" })
                        <div class="">
                            @Html.EditorFor(model => model.PageUrls, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PageUrls)
                        </div>
                    </div>



                    @*<div class="form-group">
                        @Html.LabelFor(model => model.UpdatedById, new { @class = "control-label" })
                        <div class="">
                            @Html.EditorFor(model => model.UpdatedById)
                            @Html.ValidationMessageFor(model => model.UpdatedById)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CreatedById, new { @class = "control-label" })
                        <div class="">
                            @Html.EditorFor(model => model.CreatedById)
                            @Html.ValidationMessageFor(model => model.CreatedById)
                        </div>
                    </div>*@

                    @*<div class="form-group">
                        @Html.LabelFor(model => model.CreatedOn, new { @class = "control-label" })
                        <div class="">
                            @Html.EditorFor(model => model.CreatedOn)
                            @Html.ValidationMessageFor(model => model.CreatedOn)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.UpdatedOn, new { @class = "control-label" })
                        <div class="">
                            @Html.EditorFor(model => model.UpdatedOn, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.UpdatedOn)
                        </div>
                    </div>*@

                </div>

            </div>
            
        </div>

    </div>
}



<script src="~/Scripts/tinymce/tinymce.min.js"></script>
<script>

    tinymce.init({
        selector: "textarea#editor",
        content_css: "/Content/Styles/EditorStylesOverride.css",
        plugins: [
            "advlist autolink lists link image base64_image charmap print preview anchor",
            "searchreplace visualblocks code fullscreen",
            "insertdatetime media table contextmenu paste ",
            "template"
        ],
        theme_advanced_blockformats: "p,h1,h2,h3,h4,h5,h6,blockquote,dt,dd,code,samp",
        menubar: false,
        toolbar: "insertfile undo redo | styleselect | template | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link base64_image media | table | code",

        //templates: [
        //    { title: 'Product', description: 'Full List', url: '/Templates/product.html' },
        //    { title: 'Extra Item', description: '', url: '/Templates/product_item.html' }
        //],
        height: 500,
        paste_data_images: true,
        force_p_newlines: true,
        //allow_script_urls: true,
        extended_valid_elements: 'script[language|type|src|async|defer]'
    }); </script>