﻿    @using CMS.Models
    @using SD.Core.Common.HtmlExtensions
    @using SD.Core.Common.Constants
    @using ScriptRegistrar = SD.Core.Common.Utils.ScriptRegistrar
    @model PageViewModel
    @{
        ViewBag.Title = "Editorial > Pages";
        Layout = "~/Views/Shared/_Layout.cshtml";
        var showSearchResults = Model.SearchResults != null && Model.SearchResults.Count != 0;
        ScriptRegistrar.RegisterClientVariable("showSearchResults", showSearchResults);

    }
    @section Head
{
        <link href="@Url.CdnContent("~/Content/Styles/Article.css")" rel="Stylesheet" type="text/css" />
        <script src="@Url.CdnContent("~/Scripts/ArticleList.js")" type="text/javascript"></script>


    }
    @section SideBar
{
        <li class="nav-header">Actions</li>
        <li>
            @Html.ActionLink("Create New Page", "Create")
            @*@Html.ActionLink(string.Format("New {0} content", SD.Core.Common.Utilities.ArticleUtilities.PrettifyArticleType(articleType)), "Create", new { type = articleType }, new { @class = "sm_new_article" })*@
        </li>

        @if (Model.ShowDeletedPages)
        {
            <li class="divider"></li>
            <li class="nav-header">
                View : Recycle Bin
            </li>
            <li>
                @Html.ActionLink("Exit Recycle Bin", "Page", new { showDeletedPages = false })
            </li>
        }
        else
        {
            <li class="divider"></li>
            <li class="nav-header">
                View : Active Pages
            </li>
            <li>
                @Html.ActionLink("Recycle Bin", "Page", new { showDeletedPages = true })
            </li>

        }
    }
    @section SubSideBar
{

    }
    @{ Html.RenderPartial("UserResponses", Model.Responses); }



    <div class="row" id="searchContainer">

        <div class="page-header">
            <h1>
                Pages
            </h1>
        </div>

        <div class="clearfix"></div>

        <div class="input-append">

            <h3>
                Search for Page by Title
            </h3>

            <div class="col-lg-12 no-padding">
                <input class="form-control" type="text" id="memberSearchBox" placeholder="search..." value="@Model.SearchText" />
            </div><!-- /.col-lg-6 -->

        </div>
    </div>

    <div class="row">

        @*<div class="row hide" id="memberSearchResultsContainer">

                <div class="col-md-12">

                    <h2>
                        Search Results For "<span id="searchTermsLabel"></span>"
                    </h2>

                    <div id="searchedArticleList" class="list-group">
                        @if (showSearchResults)
                        {
                            Html.RenderPartial("MemberList", Model.SearchResults);
                        }
                    </div>

                    <a href="#" id="searchMoreMembers" class="btn btn-default">
                        More Results
                    </a>

                </div>
            </div>*@

        <div class="row" id="articleListContainer">

            <div class="col-md-12">

                @*<ul class="nav nav-tabs" id="searchNav">
                        <li class=@(Model.FilterType == PublicationStatus.Published ? "active" : string.Empty)>
                            @Html.ActionLink("Published", "ByPublishStatus", new { status = "Published", selectedBrand = ViewBag.MemberStatus })
                        </li>
                        <li class=@(Model.FilterType == PublicationStatus.UnPublished ? "active" : string.Empty)>
                            @Html.ActionLink("UnPublished", "ByPublishStatus", new { status = "UnPublished", selectedBrand = ViewBag.MemberStatus })
                        </li>
                    </ul>*@


                @{ Html.RenderPartial("Pagination", Model.Pagination); }

                <div id="articleList" class="list-group">
                    @{ Html.RenderPartial("PageList", Model.Pages); }
                </div>

                @{ Html.RenderPartial("Pagination", Model.Pagination); }

            </div>
        </div>



    </div>


    <script type="text/javascript">

        $(document).ready(function () {

            $(".tab")
                .on("click", function () {
                    var id = $(this).id;
                    $(".tabDiv").style.display = "none";
                    $("#" + id).style.display = "block"
                });

        });

    </script>
