﻿@using SD.Core.Data.Model
@model IList<Pages>
@if (Model != null && Model.Count != 0)
{
    foreach (var page in Model)
    {
        Html.RenderPartial("PageListItem", page);
    }
}
else
{
    <li>
        No pages
    </li>
}