﻿@using CMS.Helpers
@using SD.Core.Common.Constants
@using SD.Core.Common.Utils
@using SD.Core.Services.Security
@using SD.Core.Data.Model
@model Pages

<div class="list-group-item">

    <div class="btn-group pull-right" role="group">


        <a class="btn btn-default" href="@Url.Action("Edit", "Pages", new { id = Model.Id })" title="Edit">
            <i class="fa fa-pencil" title="Edit"></i>
        </a>

        @if (Model.Status != PublicationStatus.Deleted)
        {

            <a class="btn btn-default" href="@Url.Action("Details", "Pages", new { id = Model.Id })" target="_blank" title="View Pages">
                <i class="fa fa-eye" title="View Page"></i>
            </a>




            if (LiveUser.Can(Permission.EditArticles))
            {
                <a class="btn btn-danger" href="@Url.Action("Delete", "Pages", new { id = Model.Id })" title="Delete">
                    <i class="fa fa-trash" title="Delete"></i>
                </a>
            }

        }
        else
        {
            if (LiveUser.Can(Permission.EditArticles))
            {

                <a class="btn btn-default" href="/Pages/HardDelete?articleid=@Model.Id" title="Remove from recycle bin (irreversible)">
                    <i class="fa fa-exclamation-triangle"></i>
                </a>

                <a class="btn btn-default" href="/Pages/Restore?articleid=@Model.Id" title="Restore">
                    <i class="fa fa-repeat"></i>
                </a>
            }
        }
    </div>

    <h4>
        @Model.Title <br />
        <small> @Model.UrlSlug @*@Model.Email.Substring(0, 70)*@</small>
    </h4>

    <ul class="list-unstyled">
        <li class="form-group">
            <strong>
                @Model.Status
            </strong>
        </li>
        <li class="divider"></li>
        <li class="col-md-3 col-sm-2 ">
            <i class="fa fa-calendar"></i>

            Created On: @(((DateTime)Model.CreatedOn).ToLocalTime())
        </li>
        <li class="col-md-3 col-sm-2 ">
            <i class="fa fa-calendar"></i>
            Updated On: @(((DateTime)Model.UpdatedOn).ToLocalTime())

        </li>

    </ul>

</div>
