﻿
@using CheckBoxList.Mvc.Html
@using CMS.Models
@using CMS.Helpers
@using SD.Core.Common.Config
@using SD.Core.Common.HtmlExtensions
@using SD.Core.Data.Model
@using SD.Core.Common.Constants
@using SD.Core.Services.Security
@using ScriptRegistrar = SD.Core.Common.Utils.ScriptRegistrar
@using SD.Core.Common.Utilities

@model CMS.Models.ListingEditModel

@{
    ViewBag.Title = "Editing";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ScriptRegistrar.RegisterScript("~/Scripts/ListingEdit.js");

    if (!string.IsNullOrEmpty(Model.Listing.Id))
    {
        ScriptRegistrar.RegisterClientVariable("listingId", Model.Listing.Id);
    }
}
@section Head
{
    @{ Html.RenderAction("Load", "MediaSelector"); }
    @{ Html.RenderAction("Load", "MediaQuickUpload"); }
    @{ Html.RenderAction("Load", "TagSelector"); }    
}
@section SideBar
{
    <li class="nav-header">
        Actions
    </li>
    <li role="presentation">
        <a href="/Listing">
            <i class="fa fa-chevron-left"></i>
            Back to list
        </a>
    </li>

    <li class="divider"></li>

    <li role="presentation" class="active">
        <a href="#info" aria-controls="home" role="tab" data-toggle="tab">
            <i class="fa fa-info-circle"></i>
            General Info
        </a>
    </li>
<li role="presentation">
    <a href="#companydetails" aria-controls="home" role="tab" data-toggle="tab">
        <i class="fa fa-info-circle"></i>
        Company Details
    </a>
</li>
    <li role="presentation">
        <a href="#text" aria-controls="home" role="tab" data-toggle="tab">
            <i class="fa fa-align-justify"></i>
            Body Copy
        </a>
    </li>
    <li role="presentation">
        <a href="#tags" aria-controls="home" role="tab" data-toggle="tab">
            <i class="fa fa-tag"></i>
            Categories
        </a>
    </li>
    <li role="presentation">
        <a href="#media" aria-controls="home" role="tab" data-toggle="tab">
            <i class="fa fa-picture-o"></i>
            Media
        </a>
    </li>
    <li class="divider"></li>

}


@{ Html.RenderPartial("UserResponses", Model.Responses); }

@using (Html.BeginForm("EditAction", "Listing", FormMethod.Post, new { name = "editForm" }))
{    
    <input type="hidden" name="listingId" value="@Model.Listing.Id" />
    <div class="row">        
        <div class="page-header">
            <h1>
                Editing @Model.Listing.CompanyName 
            </h1>
        </div>

        <div id="row">

            <div class="affix-row row">
                @if (!string.IsNullOrEmpty(Model.Listing.Id))
                {
                    <div class="form-group pull-left">
                        <div class="form-group col-md-12">
                            <label class="control-label">
                                Listing Status
                            </label>
                            <div>
                                <select class="form-control" id="listingStatus" name="Listing.Status" autofocus>
                                    @foreach (PublicationStatus val in Enum.GetValues(typeof(PublicationStatus)))
                                    {
                                        if (Model.Listing.Status == val)
                                        {
                                            <option selected="selected" value="@val.ToString()">@val.ToString()</option>
                                        }
                                        else
                                        {
                                            <option value="@val.ToString()">@val.ToString()</option>
                                        }
                                    }
                                </select>
                            </div>
                            <label class="control-label">
                                Grade
                            </label>
                            <div>
                                <select class="form-control" id="listingType" name="Listing.ListingType" autofocus>
                                    @foreach (ListingType val in Enum.GetValues(typeof(ListingType)))
                                    {
                                        if (Model.Listing.ListingType == val)
                                        {
                                            <option selected="selected" value="@val.ToString()">@val.ToString()</option>
                                        }
                                        else
                                        {
                                            <option value="@val.ToString()">@val.ToString()</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                }
                <div class="pull-right">

                    <label class="control-label">
                        &nbsp;
                    </label>
                    <div class="btn-group pull-left margin-right-10">

                        <input class="btn btn-default btn-lg" id="cancel" name="submit" type="submit" value="Cancel" />

                        <input class="btn btn-primary btn-lg" id="save" name="submit" type="submit" value="Save" />

                    </div>


                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        @if (Model.Listing.CreatedBy != null)
        {
            <strong>
                Created by
            </strong>
            <text>@Model.Listing.CreatedBy.Forename @Model.Listing.CreatedBy.Surname on @Model.Listing.CreatedOn.ToString("dd MMMM yyyy")</text>
        }
        @if (Model.Listing.UpdatedBy != null)
        {
            <strong>Last updated by</strong>
            <text>@Model.Listing.UpdatedBy.Forename @Model.Listing.UpdatedBy.Surname on @Model.Listing.UpdatedOn.ToString("dd MMMM yyyy")</text>
        }
        <div class="tab-content row">           

            <div class="clearfix"></div>

            <div role="tabpanel" class="tab-pane active" id="info">
                <h2>
                    General Info
                </h2>


                <ul class="list-unstyled">

                    <li class="form-group">
                        @*maxchars" maxchars="110"*@
                        <label for="title">
                            Company Name<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.Listing.CompanyName)
                        </label>
                        @Html.TextBoxFor(x => x.Listing.CompanyName, new { @class = "form-control", autofocus = string.Empty })
                    </li>
                    <li class="form-group">
                        @*maxchars" maxchars="110"*@
                        <label for="seotitle">
                            SEO Company Name @Html.ValidationMessageFor(x => x.Listing.SEOTitle)
                        </label>
                        @Html.TextBoxFor(x => x.Listing.SEOTitle, new { @class = "form-control", autofocus = string.Empty })
                    </li>                                 
                    <li class="form-group">
                        <label for="standFirst">
                            Business Abstract<span class="required_star">*</span>(Good paragraph long, used as advertise content on the listing pages) @Html.ValidationMessageFor(x => x.Listing)
                        </label>
                        @Html.TextAreaFor(x => x.Listing.StandFirst, new { @class = "form-control" })
                    </li>
                    <li class="form-group">
                        <label for="locationName">
                            Live from (<a href="http://www.worldtimeserver.com/current_time_in_UTC.aspx" target="_blank">UTC Time is used</a>)<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.Listing.LiveFrom)
                        </label>
                        @Html.TextBoxFor(x => x.Listing.LiveFrom)
                    </li>
                    <li class="form-group">
                        <label for="locationName">
                            Expires on (<a href="http://www.worldtimeserver.com/current_time_in_UTC.aspx" target="_blank">UTC Time is used</a>)<span class="required_star">*</span> @Html.ValidationMessageFor(x => x.Listing.LiveTo)
                        </label>
                        @Html.TextBoxFor(x => x.Listing.LiveTo)
                    </li>
                </ul>

            </div>
            <div role="tabpanel" class="tab-pane" id="text">

                <h2>
                   Description
                </h2>

                <ul class="list-unstyled">
                    <li class="form-group">

                        <label for="body">
                            Article Body @Html.ValidationMessageFor(x => x.Listing.Body)
                        </label>

                        <div class="tinymce">
                            @Html.TextAreaFor(x => x.Listing.Body, new { @class = "span12", @id = "editor" })
                        </div>


                        <script src="~/Scripts/tinymce/tinymce.min.js"></script>
                        <script>

                        tinymce.init({
                            selector: "textarea#editor",
                            content_css: "/Content/Styles/EditorStylesOverride.css",
                            plugins: [
                                "advlist autolink lists link image base64_image charmap print preview anchor",
                                "searchreplace visualblocks code fullscreen",
                                "insertdatetime media table contextmenu paste ",
                                "template"
                            ],
                            theme_advanced_blockformats: "p,h1,h2,h3,h4,h5,h6,blockquote,dt,dd,code,samp",
                            menubar: false,
                            toolbar: "insertfile undo redo | styleselect | template | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link base64_image media | table | code",
                            height: 500,
                            paste_data_images: true,
                            force_p_newlines: true,
                            //allow_script_urls: true,
                            extended_valid_elements: 'script[language|type|src|async|defer]'
                        }); </script>
                        <div class="inline-media-selector" id="inline-media-selector"></div>

                        <script>
                        function drag(ev) {

                            bG = $("#" + ev.target.id).attr("style");
                            dC = $("#" + ev.target.id).attr("data-caption");
                            type = $("#" + ev.target.id).attr("type");
                            filename = $("#" + ev.target.id).attr("filename");
                            ev.dataTransfer.setData("Text", "[#" + ev.target.id + "]");

                            document.addEventListener("dragend", function (event) {

                                setTimeout(function () {
                                    $("iframe#editor_ifr").contents().find("body").each(function () {
                                        var text = $(this).html();
                                        $(this).html(text.replace("[#" + ev.target.id + "]", "<div id='" + ev.target.id + "' class='dropMedia'><div style='" + bG + "'></div><span>" + dC + "</span></div>"));
                                    });
                                }, 1000);

                            }, false);

                        }
                        </script>
                    </li>
                </ul>

            </div>
            <div id="companydetails" class="tab-pane">
                <h2>
                    Company Details
                </h2>
                <ul class="list-unstyled">
                    <li class="form-group">                                                
                        @Html.LabelFor(x => x.Listing.Address1)@Html.ValidationMessageFor(x => x.Listing.Address1)
                        @Html.TextBoxFor(x => x.Listing.Address1, new { @class = "form-control" })
                    </li>
                    <li class="form-group">
                        <label for="title">
                            Address 2
                        </label>

                        @Html.TextBoxFor(x => x.Listing.Address2, new { @class = "form-control" })
                    </li>                    
                    <li class="form-group">
                        <label for="title">
                            Address 3 
                        </label>

                        @Html.TextBoxFor(x => x.Listing.Address3, new { @class = "form-control" })
                    </li>
                    <li class="form-group">
                        <label for="title">
                            Town 
                        </label>

                        @Html.TextBoxFor(x => x.Listing.Town, new { @class = "form-control" })
                    </li>                    
                    <li class="form-group">
                        <label for="title">
                            County
                        </label>

                        @Html.TextBoxFor(x => x.Listing.County, new { @class = "form-control" })
                    </li>                    
                    <li class="form-group">                        
                        <label for="seotitle">
                            PostalCode
                        </label>
                        @Html.TextBoxFor(x => x.Listing.PostCode, new { @class = "form-control" })
                    </li>
                    <li class="form-group">
                        <label for="Country">
                            Country<span class="required_star">*</span> @Html.ValidationMessageFor(model => model.Listing.CountryId)
                        </label>
                        @Html.DropDownListFor(model => model.Listing.CountryId, new SelectList(ViewBag.Countries, "Value", "Text", Model.Listing.CountryId), "--Choose One--",
                            new { @class = "form-control", @title = "Select Country" })
                    </li>       
                    <li class="form-group">
                        @*maxchars" maxchars="110"*@
                        <label for="seotitle">
                            Telephone
                        </label>
                        @Html.TextBoxFor(x => x.Listing.Telephone, new { @class = "form-control" })
                    </li>
                    <li class="form-group">
                        @*maxchars" maxchars="110"*@
                        <label>
                            Email
                        </label>
                        @Html.TextBoxFor(x => x.Listing.Email, new { @class = "form-control" })
                    </li>
                    <li class="form-group">
                        @*maxchars" maxchars="110"*@
                        <label>
                            Website
                        </label>
                        @Html.TextBoxFor(x => x.Listing.Website, new { @class = "form-control", @placeholder="http://www.example.com" })
                    </li>
                    <li class="form-group">                        
                        <label>
                            Twitter
                        </label>
                        @Html.TextBoxFor(x => x.Listing.Twitter, new { @class = "form-control", @placeholder = "http://www.example.com" })
                    </li>
                    <li class="form-group">
                        <label>
                            Google Plus
                        </label>
                        @Html.TextBoxFor(x => x.Listing.GooglePlus, new { @class = "form-control", @placeholder = "http://www.example.com" })
                    </li>
                    <li class="form-group">
                        <label>
                            Facebook
                        </label>
                        @Html.TextBoxFor(x => x.Listing.Facebook, new { @class = "form-control", @placeholder = "http://www.example.com" })
                    </li>
                </ul>
            </div>
            <div role="tabpanel" class="tab-pane" id="tags">
                <script>
                $(document).ready(function () {
                    $("#filter").keyup(function () {

                        // Retrieve the input field text and reset the count to zero
                        var filter = $(this).val(), count = 0;

                        // Loop through the comment list
                        $(".tags li").each(function () {

                            // If the list item does not contain the text phrase fade it out
                            if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                                $(this).fadeOut();

                                // Show the list item if the phrase matches and increase the count by 1
                            } else {
                                $(this).show();
                                count++;
                            }
                        });

                        // Update the count
                        var numberItems = count;
                        // $("#filter-count").text("Number of tags = " + count);
                    });
                });

                function removeTag(e)
                {
                    var id = $(e).attr("id");
                    console.log(id);
                    var checkBox = $("input[type='checkbox'][url-slug='" + id + "']");
                    console.log(checkBox);
                    console.log(checkBox.prop("checked"));
                    checkBox.prop("checked", false);
                    $(e).hide();
                }


                </script>
                <h2>
                    Categories
                </h2>           
                @*<p>
                    <ul class="list-unstyled">
                        @foreach (var selectedTag in Model.Categories)
                        {
                            <li class="form-group">                               
                                @selectedTag
                            </li>

                        }
                    </ul>
</p>*@                
                <p style="border: 1px silver; background-color: silver; padding:10px; border-radius: 8px;">
                    <b>Current Tags</b>
                    @foreach (var selectedTag in Model.Listing.RelatedTags)
                    {
                        <span class="btn btn-lg btn-primary" onclick="javascript:removeTag(this)" id="@selectedTag.UrlSlug">@selectedTag.DisplayText</span>
                    }
                </p>
                <ul class="tags list-unstyled">
                    @foreach (var tag in Model.AvailableTags.Where(i => string.IsNullOrEmpty(i.ParentId)))
                    {

                        <li class="checkbox clearfix">
                            <h4 class="section-bcg"><input type="checkbox" name="tags" value="@tag.Id" @(Model.Listing.Tags.Contains(tag.UrlSlug) ? "checked=true" : "") />@tag.DisplayText</h4>
                            <ul class="subtags list-unstyled">
                                @foreach (var subTag in Model.AvailableTags.Where(i => i.ParentId == tag.Id).OrderBy(x => x.DisplayText))
                                {
                                    <li class="checkbox col-md-3 col-sm-6">
                                        <label>
                                            <input type="checkbox" name="tags" value="@subTag.Id" url-slug="@subTag.UrlSlug" @(Model.Listing.Tags.Contains(subTag.UrlSlug) ? "checked=true" : "") /> @subTag.DisplayText
                                        </label>
                                    </li>
                                    foreach (var subSubTag in Model.AvailableTags.Where(i => i.ParentId == subTag.Id).OrderBy(x => x.DisplayText))
                                    {
                                        <li class="checkbox col-md-3 col-sm-6">
                                            <label>
                                                <input type="checkbox" name="tags" value="@subSubTag.Id" url-slug="@subSubTag.UrlSlug" @(Model.Listing.Tags.Contains(subSubTag.UrlSlug) ? "checked=true" : "") /> @subSubTag.DisplayText
                                            </label>
                                        </li>
                                    }
                                }

                            </ul>

                        </li>
                    }
                </ul>
            </div>
            <div role="tabpanel" class="tab-pane" id="media">

                <h2>
                    Media
                </h2>

                <ul class="list-unstyled">

                    <li class="form-group">
                        @*maxchars" maxchars="110"*@
                        <label for="title">
                            VideoUrl
                        </label>
                        @Html.TextBoxFor(x => x.Listing.VideoUrl, new { @class = "form-control" })
                    </li>
                    <li class="form-group">

                        <label>
                            Primary Media
                        </label>
                        <span class="instruction">
                            This is the media item that is used for listings and the main, large image on the
                            article page.
                        </span>
                        <!-- Media -->
                        <ul id="primaryMedia" class="list-unstyled media_thumbnail_container remove-this-pri-image">
                            @if (Model.Listing.PrimaryMedia != null)
                            {
                                Html.RenderPartial("EditMediaItem", Model.Listing.PrimaryMedia);
                            }

                            <li class="media_item thumbnail">
                                <img alt="Add a media item" src="@Url.CdnContent("~/Content/Images/EditMedia.jpg")" />
                                <a class="caption" href="/Listing/AddPrimaryMedia" id="addPrimaryMedia">Set </a>
                            </li>

                            <li class="media_item"><button class="btn btn-default caption" href="#" id="quickUploadPrimaryMedia">Quick Upload</button> </li>

                        </ul>
                    </li>
                    <li class="form-group">
                        <label>
                            Media
                        </label>                        
                        <!-- Media -->
                        <ul id="secondaryMedia" class="list-unstyled media_thumbnail_container remove-this-sec-image">
                            @foreach (var media in Model.Listing.RelatedMedia)
                            {
                                Html.RenderPartial("EditMediaItem", media);
                            }                            
                            <li class="media_item thumbnail">
                                <img alt="Add a media item" src="@Url.CdnContent("~/Content/Images/EditMedia.jpg")" />
                                <a class="caption" href="/Article/AddSecondaryMedia" id="addSecondaryMedia">Add</a>
                            </li>
                            <li class="media_item"><button class="btn btn-default caption" href="#" id="quickUploadSecondaryMedia">Quick Upload</button> </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
        
    </div>
}
