﻿
@using CMS.Models
@using SD.Core.Common.HtmlExtensions
@using SD.Core.Common.Constants
@using ScriptRegistrar = SD.Core.Common.Utils.ScriptRegistrar
@model ListingModel
@{
    ViewBag.Title = "Editorial > Listings";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var showSearchResults = Model.SearchResults != null && Model.SearchResults.Count != 0;
    ScriptRegistrar.RegisterClientVariable("showSearchResults", showSearchResults);
}

@section Head
{
    <link href="@Url.CdnContent("~/Content/Styles/Article.css")" rel="Stylesheet" type="text/css" />
    <script src="@Url.CdnContent("~/Scripts/Listing.js")" type="text/javascript"></script>
}

@section SideBar
{
    <li class="nav-header">Actions</li>
    
            <li>
                @Html.ActionLink("View UnModerated Listings","index","listing", new { unmoderated = true }, new { @class = "sm_new_article" } )
            </li>
        
}
<div class="row" id="searchContainer">

    <div class="page-header">
        <h1>
            Listings
        </h1>
    </div>

    <div class="clearfix"></div>

    <div class="input-append">

        <h3>
            Search for a Listing
            </h3>
        <div class="col-lg-12 no-padding">
            <input class="form-control" type="text" id="SearchBox" placeholder="type company name" value="@Model.SearchText" />
        </div><!-- /.col-lg-6 -->

    </div>
</div>
@{ Html.RenderPartial("UserResponses", Model.Responses); }

<div class="row">    
    <div class="row hide" id="SearchResultsContainer">

        <div class="col-md-12">

            <h2>
                Search Results For "<span id="searchTermsLabel"></span>"
            </h2>

            <div id="searchedList" class="list-group">
                @if (showSearchResults)
                {
                    Html.RenderPartial("Listings", Model.SearchResults);
                }
            </div>

            <a href="#" id="searchMore" class="btn btn-default">
                More Results
            </a>

        </div>
    </div>
    <div class="row" id="ListContainer">

        <div class="col-md-12">
            

            @{ Html.RenderPartial("Pagination", Model.Pagination); }

            <div id="articleList" class="list-group">
                @{ Html.RenderPartial("Listings", Model.Listings); }
            </div>

            @{ Html.RenderPartial("Pagination", Model.Pagination); }


        </div>
    </div>



</div>


<script type="text/javascript">

    $(document).ready(function () {

        $(".tab")
            .on("click", function () {
                var id = $(this).id;
                $(".tabDiv").style.display = "none";
                $("#" + id).style.display = "block"
            });

    });

</script>