﻿
@using SD.Core.Common.Constants;
@using Frontend.Models;

@model ListingFormModel

@{
    ViewBag.Title = "Post a Listing";
}
<link href="~/Assets/css/dropzone.css" rel="stylesheet" />
<style type="text/css">
    #DropZoneArea {
        background: #DDD;
        border: black dashed 2px;
    }
</style>
@using (Html.BeginForm("Post", "Listings", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row">
            <h1>Post a listing</h1>
            @Html.ValidationSummary(true)
            <div class="col-md-3 pull-right">
                @Html.Partial("~/Views/Profile/_ProfileSideBar.cshtml")
            </div>
            <div class="col-md-9 article form-panel">
                <div class="page-header">
                    <h2>Step 1 : Company Name & Business Description</h2>
                </div>
                <section>
                    <h4>Create a free Standard listing on PM Suppliers Directory.</h4>
                    <ul>
                        <li>Promote awareness of your company and products</li>
                        <li>Generate sales leads</li>
                        <li>Improve the search optimisation of your own web site through inbound links</li>
                        <li>Huge audience potential – PM Suppliers Directory is part of CIPD</li>
                    </ul>
                    <p><strong>A basic entry is free and it only takes a few minutes to create one. Just fill in your details in the form below.</strong></p>
                </section>
                <div class="promoted">

                    <h4>Or upgrade to a Premium Listing - Call us on 0208-267-4474.</h4>
                    <h5>Premium Listing - £1,250*</h5>
                    <ul>
                        <li>Appear above basic (free) listings on search results and category pages, with eye catching highlighting and company logo.</li>
                        <li>Extended description on company details page, which can include testimonials, list of recent clients or projects, key people, company statistics, accreditation and memberships, worldwide office locations and links to specific products or pages on your own web site etc</li>
                        <li>Logo on company details page</li>
                    </ul>
                    <h5>Premium PLUS Listing - £1,850*</h5>
                    <ul>
                        <li><strong>All of the above Premium features PLUS...</strong></li>
                        <li>Video Profile</li>
                        <li>Downloads: PDF brochures, catalogues, etc</li>
                        <li>Upload press releases - additional distribution channel for company news. latest press releases are featured on the directory home page.</li>
                    </ul>
                    <h4>To book your listing please contact the People Management sales team on 0208-267-4474</h4>
                    <p>*Cost can be paid either up front or in 12 monthly installments. Prices are for a 12 month upgrade.</p>

                </div>

                <div style="clear:both;">
                    <br /> <br />

                    <div class="pull-right">
                        <a href="@Url.Action("Index", "Listings")" class="btn btn-default">Cancel</a>
                        <button class="btn btn-primary btn-lg" name="submit" type="submit" value="draft">Save as draft</button>
                        <button class="btn btn-success btn-lg" name="submit" type="submit" value="submit">Submit</button>
                        <br /> <br />
                    </div>
                    <br />
                </div>
                <br />

                @Html.ValidationSummary(true)
                <br />

                <div class="form-horizontal">


                    <div class="form-group">
                        @Html.HiddenFor(model => model.Listing.MemberId)
                        @Html.HiddenFor(model => model.Listing.Id)
                        <input id="FormType" name="FormType" type="hidden" value="@ViewBag.FormType" />
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.Listing.CompanyName, new { @class = "control-label col-md-2" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Listing.CompanyName, new
                       {
                           htmlAttributes =
                               new
                               {
                                   @title = "Enter Company Name",
                                   placeholder = "Company Name",
                                   @class = "form-control"
                               }
                       })
                            @Html.ValidationMessageFor(model => model.Listing.CompanyName)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Listing.StandFirst, "Company Abstract", new { @class = "control-label col-md-2" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Listing.StandFirst, new
                       {
                           htmlAttributes =
                               new
                               {
                                   @title = "Enter Company Abstract",
                                   placeholder = "Company Abstract",
                                   @class = "form-control"
                               }
                       })
                            @Html.ValidationMessageFor(model => model.Listing.StandFirst)
                        </div>
                    </div>

                    @*<div class="form-group">
                            @Html.Label(model.Listing.MetaDescription, "Business Description (Premium or higher)", new { @class = "control-label col-md-2" })
                            @Html.LabelFor(model => model.Listing.MetaDescription, new { @class = "control-label col-md-2" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Listing.MetaDescription)
                                @Html.ValidationMessageFor(model => model.Listing.MetaDescription)
                            </div>
                        </div>*@


                    <div class="form-group">
                        @Html.LabelFor(model => model.Listing.Body, "Business Description (Premium or higher)", new { @class = "control-label col-md-2" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Listing.Body, new
                       {
                           htmlAttributes =
                               new
                               {
                                   @title = "Enter Business Description",
                                   placeholder = "Business Description",
                                   @class = "form-control",
                                   rows = "5"
                               }
                       })
                            @Html.ValidationMessageFor(model => model.Listing.Body)
                        </div>
                    </div>

                </div>

            </div>


            <div class="col-md-9 article form-panel">
                <div class="page-header">
                    <h2>Step 2 : Select Product or Service Categories</h2>
                </div>

                <div class="promoted-alt">

                    Please select products or services from the lists below relevant to your company that will drive valuable enquiries.
                    Please note, you can only add a maximum of 3 sub categories to a company.
                </div>


                <div style="clear:both;"> <br /> <br /> </div>

                <div class="form-horizontal">

                    <div class="form-group">
                        @Html.LabelFor(model => model.MainCategoryId, "Main Category", new { @class = "control-label col-md-2" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.MainCategoryId, Model.MainCategoryList, "--Please Select--",
                            new { @class = "form-control", data_ajax_show_div = "tag-selected", @title = "Select Listing Category" })

                            @Html.ValidationMessageFor(model => model.Listing.ListingType)
                        </div>
                    </div>

                    @*@Html.HiddenFor(model => model.SelectedTags)*@

                    <div class="form-group subcat-div">
                        @Html.LabelFor(model => model.SubCategoryId, "Sub Category - Level 1", new { @class = "control-label col-md-2" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.SubCategoryId, Model.SubCategoryList, "--Please Select--",
                            new { @class = "form-control", data_ajax_show_div = "tag-selected", @title = "Select Sub Category" })

                            @Html.ValidationMessageFor(model => model.Listing.ListingType)
                        </div>
                    </div>

                    <div style="clear:both;">
                        <div style="color:red; text-align:center;" id="cat-loader">Loading...</div>
                        <button type="button" class="btn btn-warning pull-right" id="add-category">Add</button>
                        <br />
                    </div>

                    <hr />

                    <h3>Current Product & Service Categories Selected</h3>
                    <div class="tags" id="show-tags">

                    </div>

                </div>
            </div>


            <div class="col-md-9 article form-panel">
                <div class="page-header">
                    <h2>Step 3 : Company Address and Contact Details</h2>
                </div>



                <div class="form-horizontal">


                    <div class="form-group">
                        @Html.LabelFor(model => model.Listing.Country, new { @class = "control-label col-md-2" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Listing.Country, new
                       {
                           htmlAttributes =
                               new
                               {
                                   @title = "Enter Country",
                                   placeholder = "Country",
                                   @class = "form-control"
                               }
                       })
                            @Html.ValidationMessageFor(model => model.Listing.Country)
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.Listing.Address1, "Address 1", new { @class = "control-label col-md-2" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Listing.Address1, new
                       {
                           htmlAttributes =
                               new
                               {
                                   @title = "Enter Address 1",
                                   placeholder = "Address 1",
                                   @class = "form-control"
                               }
                       })
                            @Html.ValidationMessageFor(model => model.Listing.Address1)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Listing.Address2, "Address 2", new { @class = "control-label col-md-2" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Listing.Address2, new
                       {
                           htmlAttributes =
                               new
                               {
                                   @title = "Enter Address 2",
                                   placeholder = "Address 2",
                                   @class = "form-control"
                               }
                       })
                            @Html.ValidationMessageFor(model => model.Listing.Address2)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Listing.Address3, "Address 3", new { @class = "control-label col-md-2" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Listing.Address3, new
                       {
                           htmlAttributes =
                               new
                               {
                                   @title = "Enter Address 3",
                                   placeholder = "Address 3",
                                   @class = "form-control"
                               }
                       })
                            @Html.ValidationMessageFor(model => model.Listing.Address3)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Listing.Town, new { @class = "control-label col-md-2" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Listing.Town, new
                       {
                           htmlAttributes =
                               new
                               {
                                   @title = "Enter Town",
                                   placeholder = "Town",
                                   @class = "form-control"
                               }
                       })
                            @Html.ValidationMessageFor(model => model.Listing.Town)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Listing.County, new { @class = "control-label col-md-2" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Listing.County, new
                       {
                           htmlAttributes =
                               new
                               {
                                   @title = "Enter County",
                                   placeholder = "County",
                                   @class = "form-control"
                               }
                       })
                            @Html.ValidationMessageFor(model => model.Listing.County)
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.Listing.PostCode, "Postal Code", new { @class = "control-label col-md-2" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Listing.PostCode, new
                       {
                           htmlAttributes =
                               new
                               {
                                   @title = "Enter Postal Code",
                                   placeholder = "Postal Code",
                                   @class = "form-control"
                               }
                       })
                            @Html.ValidationMessageFor(model => model.Listing.PostCode)
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.Listing.Telephone, new { @class = "control-label col-md-2" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Listing.Telephone, new
                       {
                           htmlAttributes =
                               new
                               {
                                   @title = "Enter Telephone",
                                   placeholder = "Telephone",
                                   @class = "form-control"
                               }
                       })
                            @Html.ValidationMessageFor(model => model.Listing.Telephone)
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.Listing.Email, new { @class = "control-label col-md-2" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Listing.Email, new
                       {
                           htmlAttributes =
                               new
                               {
                                   @title = "Enter Email",
                                   placeholder = "Email",
                                   @class = "form-control"
                               }
                       })
                            @Html.ValidationMessageFor(model => model.Listing.Email)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Listing.Website, new { @class = "control-label col-md-2" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Listing.Website, new
                       {
                           htmlAttributes =
                               new
                               {
                                   @title = "Enter Website",
                                   placeholder = "Website",
                                   @class = "form-control"
                               }
                       })
                            @Html.ValidationMessageFor(model => model.Listing.Website)
                        </div>
                    </div>


                </div>



            </div>
            <div style="padding:20px 0;">
                <br />
                <br />
                <div class="col-md-9 clearfix">
                    <a href="@Url.Action("Index", "Listings")" class="btn btn-default btn-lg">Cancel</a>
                    <button class="btn btn-primary btn-lg" name="submit" type="submit" value="draft">Save as draft</button>
                    <button class="btn btn-success btn-lg" name="submit" type="submit" value="upload">Submit</button>
                </div>

                <br />

                <hr />
            </div>
            <br />

            <br />

            <hr />
            <br />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/Assets/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Assets/Scripts/jquery.validate.unobtrusive.min.js")

    <script src="~/Assets/js/dropzone.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {



            $('.subcat-div').hide();
            $('#cat-loader').hide();

            //$('#MainCategoryId').attr('disabled', true)

            $('#MainCategoryId').change(function () {
                if ($("#MainCategoryId").val() != "") {
                    $('#cat-loader').show();
                    $("#SubCategoryId > option").remove();
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("GetSubTagLists")',
                        dataType: 'json',
                        data: { selectedId: $("#MainCategoryId").val() },
                        success: function (result) {
                            if (result != null) {
                                $("#SubCategoryId").append($("<option></option>").val("").html("--Please Select--"));
                                for (var i = 0; i < result.length; i++) {
                                    $("#SubCategoryId").append($("<option></option>").val(result[i].Id).html(result[i].DisplayText));
                                }
                                $('#cat-loader').hide();
                                $('.subcat-div').show();
                            }
                        },
                        error: function (ex) {
                            console.log('Category error occured : ' + ex);
                        }
                    });
                }
                return false;
            });

            //add category and subcategory
            var item = 0;
            $('#add-category').click(function () {
                if ($('#MainCategoryId').val() != "") {
                    item++;
                    $('#cat-loader').show();
                    //get value
                    //var selectedTags = $('#SelectedTags').val();
                    var mainCategory = $('#MainCategoryId').val();
                    var subCategory = $('#SubCategoryId').val();
                    //if (selectedTags != "") {
                    //    selectedTags = selectedTags + ",";
                    //}
                    //console.log(selectedTags);
                    //selectedTags = selectedTags + (subCategory != "") ? subCategory : mainCategory;
                    console.log(mainCategory);
                    console.log(subCategory);
                    var newValue = (subCategory != "") ? subCategory : mainCategory;
                    console.log(newValue);

                    //show-tags
                    var content = "";

                    content += '<input id="SelectedTags" name="SelectedTags" value="' + newValue + '" type="hidden"> <br /><a href="javascript:void()">' + $('#MainCategoryId > option:selected').html() + '</a>';
                    if (subCategory != "") {
                        content += '> &nbsp;';
                        content += '<a href="javascript:void()">' + $('#SubCategoryId > option:selected').html() + '</a>';
                    }
                    content += '&nbsp; <button type="button" class="btn btn-warning btn-xs" onclick="removeTag(' + item + ')">&times;</button>';
                    content += '<br />';
                    $('#show-tags').append($('<div id="tag' + item + '"></div>').html(content));
                    setTimeout(function () {
                        $('#MainCategoryId').val("").removeAttr('required');
                        $('#SubCategoryId').val("");
                        $('#cat-loader').hide();
                        $('#MainCategoryId').removeAttr('disabled');
                    }, 1000);
                }
                return false;
            });
        });

        //remove tag
        function removeTag(x) {
            $('#tag' + x).remove();
        }
    </script>
}
