﻿@{
    ViewBag.Title = "Listing Confirmation";
}
<div class="container">
    <div class="row">
        <div class="col-md-10 article form-panel">
            <div class="page-header">
                <h2>Confirmation</h2>
            </div>

            <section>
                <h4>Thank you for adding your listing</h4>
                <p>
                    Your standard free company listing has been sent for moderation. You will receive a notification once it is live on our site.
                </p>
                <b>Upgrade your listing to stand out from the crowd</b>
                <ul>
                    <li>Generate more response than free entries</li>
                    <li>Appear at the top of search and browse results</li>
                    <li>Add a logo and extended description to your entry</li>
                    <li>Video profile and document downloads</li>
                    <li>Publish your press releases with your entry</li>
                    <li>Appear in featured listings on the home page</li>
                    <li>Display advertising</li>
                </ul>
                <p><strong>Any images, files or video that you uploaded will be available with your premium listing.</strong></p>
                <a href="/Listings/ListWithUs" class="btn btn-lg">View premium options</a>

            </section>

        </div>
    </div>
</div>

