﻿@using SD.Core.Common.Constants
@using Frontend.Helpers.HtmlExtensions
@using SD.Core.Common.Utils;
@using SD.Core.Common.Utilities.Extensions.Html
@model Frontend.Models.ListingViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="row">
    <div class="container">
        <div class="col-md-8 col-md-offset-2 article">
            <div class="page-header">
                <h1 class="col-md-8">@Model.Listing.CompanyName</h1>
                <div class="col-md-4">
                    @if (Model.Listing.PrimaryMedia != null)
                    {
                        <img src="@Html.GetMediaUri(MediaProfile.size_600x300,Model.Listing.PrimaryMedia )" alt="@Model.Listing.PrimaryMedia.Title" title="@Model.Listing.PrimaryMedia.Title" class="edit-media-item-image img-responsive" /><br />
                    }                    
                </div>
            </div>

            <div class="article-body clearfix">
                <div class="intro">
                    @if (Model.Longitude.HasValue && Model.Latitude.HasValue)
                    {
                        <div class="col-md-6">                          
                            <div id="map" style="width: 300px; height: 300px;"></div>                       
                        </div>
                    }
                    <div class="col-md-6">
                        <ul class="list-unstyled list-icons">
                            @if (!string.IsNullOrEmpty(Model.Listing.Telephone))
                            {
                                <li class="link-icon tel"><a href="tel:@Model.Listing.Telephone">@Model.Listing.Telephone</a></li>
                            }
                            @if (!string.IsNullOrEmpty(Model.Listing.Email))
                            {
                                <li class="link-icon email"><a href="mailto:@Model.Listing.Email">@Model.Listing.Email</a></li>
                            }
                            @if (!string.IsNullOrEmpty(Model.Listing.Website))
                            {
                                <li class="link-icon www"><a href="@Model.Listing.Website" target="blank">@Model.Listing.Website</a></li>
                            }
                            @if (Model.Listing.Member != null)
                            {
                                <li class="link-icon contact">
                                    <p>
                                        Contact: @Model.Listing.Member.Firstname @Model.Listing.Member.Surname
                                    </p>
                                </li>
                            }

                            <li class="last location">

                                @Model.FullAddress

                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sd-panel clearfix">

                    <div class="social-profiles col-md-8">
                        <ul class="list-inline social-tools">

                            @if (!string.IsNullOrEmpty(Model.Listing.Twitter))
                            {
                                <li><a href="@Model.Listing.Twitter"><i class="fa fa-twitter"></i></a></li>
                            }
                            @if (!string.IsNullOrEmpty(Model.Listing.Facebook))
                            {
                            <li><a href="@Model.Listing.Facebook"><i class="fa fa-facebook"></i></a></li>
                            }
                            @if (!string.IsNullOrEmpty(Model.Listing.LinkedIn))
                            {
                                <li><a href="@Model.Listing.LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                            }
                            @if (!string.IsNullOrEmpty(Model.Listing.GooglePlus))
                            {
                                <li><a href="@Model.Listing.GooglePlus"><i class="fa fa-google-plus"></i></a></li>
                            }
                        </ul>
                    </div>
                    <div class="col-md-4">
    <a href="mailto:@Model.Listing.Email" class="btn btn-lg  pull-right">Contact Company</a>
</div>
                </div>
            </div>
            @if (Model.Listing.ListingType == ListingType.Premium || Model.Listing.ListingType == ListingType.PremiumPlus)
            {
                <div class="premium">
                    @Html.Raw(Model.Listing.StandFirst)
                </div>

                    
                    <div class="premium">
                        @Html.Raw(Model.Listing.Body)
                    </div>
                    }

                    <div class="sd-panel tag-group company-tags clearfix">
                        <h3><i class="fa fa-tags" aria-hidden="true"></i> Industry sectors</h3>
                        <ul class="tags list-unstyled list-inline">
                            @foreach (var category in Model.Listing.RelatedTags.ToList())
                            {                                
                                <li><a href="/listings/category?submit=browse&categoryurl=@category.UrlSlug">@category.DisplayText</a></li>
                            }
                        </ul>
                    </div>

                    @if (Model.Listing.ListingType == ListingType.PremiumPlus)
                    {
                        <div class="premium-plus">

                            <div class="tab-system">
                                <ul class="nav nav-tabs">
                                    @if (!string.IsNullOrEmpty(Model.Listing.VideoUrl))
                                    {
                                        <li class="active">
                                            <a data-toggle="tab" href="#Video">
                                                Videos
                                            </a>
                                        </li>
                                    }
                                    @if (Model.Listing.RelatedMedia.ToList().Exists(x => FileUtilities.FormatIsInGroup(x.Format, FileFormatGroup.Document)))
                                    {

                                        <li>
                                            <a data-toggle="tab" href="#Downloads">Downloads</a>

                                        </li>
                                    }
                                    @if (Model.Listing.RelatedMedia.ToList().Exists(x => !FileUtilities.FormatIsInGroup(x.Format, FileFormatGroup.Document)))
                                    {
                                        <li>
                                            <a data-toggle="tab" href="#Media">Related Media</a>

                                        </li>
                                    }
                                </ul>

                                <div class="tab-content">
                                    @if (!string.IsNullOrEmpty(Model.Listing.VideoUrl))
                                    {
                                        <div id="Video" class="tab-pane fade in active">
                                            <h4>Video title</h4>
                                            <p>
                                                <iframe width="560"
                                                        height="315"
                                                        src="@Model.Listing.VideoUrl"
                                                        frameborder="0"
                                                        allowfullscreen></iframe>
                                            </p>
                                        </div>
                                    }
                                    @if (Model.Listing.RelatedMedia.ToList().Exists(x => !FileUtilities.FormatIsInGroup(x.Format, FileFormatGroup.Document)))
                                    {
                                        <div id="Media" class="tab-pane fade">

                                            <ul class="files">
                                                @foreach (var media in Model.Listing.RelatedMedia.ToList().FindAll(x => !FileUtilities.FormatIsInGroup(x.Format, FileFormatGroup.Document)))
                                                {

                                                    <li>
                                                        <span>@media.Title</span>
                                                        @Html.GetMedia(MediaProfile.size_600x300, media, 300, 600, false, false, true)
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                    @if (Model.Listing.RelatedMedia.ToList().Exists(x => FileUtilities.FormatIsInGroup(x.Format, FileFormatGroup.Document)))
                                    {
                                        <div id="Downloads" class="tab-pane fade">

                                            <ul class="files">
                                                @foreach (var download in Model.Listing.RelatedMedia.ToList().FindAll(x => FileUtilities.FormatIsInGroup(x.Format, FileFormatGroup.Document)))
                                                {

                                                    <li>
                                                        @Html.GetMedia(MediaProfile.size_600x300, download, 300, 600, false, true, false)
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    }

                                </div>
                            </div>

                        </div>
                    }
                </div>
    </div>
</div>


@*<script>
    $(document).ready(function () {
        initMap();
    });
                                var map;
                                function initMap() {
                                    map = new google.maps.Map(document.getElementById('map'), {
                                        center: { lat: @Model.Latitude.Value, lng: @Model.Longitude.Value },
                                        zoom: 8
                                    });
                                }
</script>*@
@*<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>*@
@*<script type="text/javascript">

   $(document).ready(function () {
     initialize();
   });
   function initialize() {
     var mapOptions = {
       center: new google.maps.LatLng(6.9167, 79.8473),
       zoom: 10,
       mapTypeId: google.maps.MapTypeId.ROADMAP
     };
     var map = new google.maps.Map(document.getElementById("map"),
       mapOptions);
     // create a marker
     var latlng = new google.maps.LatLng(6.9167, 79.8473);
     var marker = new google.maps.Marker({
       position: latlng,
       map: map,
       title: 'My Place'
     });
   }
</script>*@ 
<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyBxN-_4qF8gcfuX7tOBs5w6Wo-RIxnYSrc&sensor=false"></script>
@if (Model.Longitude.HasValue && Model.Latitude.HasValue)
{
<script type="text/javascript">

   $(document).ready(function () {
     initialize();
   });
    
            function initialize() {
                var mapOptions = {
         center: new google.maps.LatLng(@Model.Latitude.Value, @Model.Longitude.Value),
       zoom: 10,
       mapTypeId: google.maps.MapTypeId.ROADMAP
              };
            var map = new google.maps.Map(document.getElementById("map"),
              mapOptions);
            // create a marker
            var latlng = new google.maps.LatLng(@Model.Latitude.Value, @Model.Longitude.Value);
            var marker = new google.maps.Marker({
       position: latlng,
       map: map,
       title: 'My Place'
     });
   }
</script> 

}