﻿@using SD.Core.Common.Constants
@using SD.Core.Common.Utilities.Extensions.Html
@using Frontend.Helpers.HtmlExtensions
@using X.PagedList.Mvc
@model Frontend.Models.ListingResultViewModel
@{
    ViewBag.Title = "All listings";
    string tagId = "";
    string t = "&t=";
    string c = "&c=";
    string r = "&r=";
    if (Model.SearchType == "search" && Model.SearchFilter.Category != null)
    {
        tagId = Model.SearchFilter.Category.Id;
    }
    else
    {
        if (Model.BrowseFilter.SelectedTags.Count > 0)
        {
            t = Model.BrowseFilter.SelectedTags.Aggregate(t, (current, tag) => current + ("+" + tag.UrlSlug));
        }

        if (Model.BrowseFilter.SelectedCountries.Count > 0)
        {
            c = Model.BrowseFilter.SelectedCountries.Aggregate(c, (current, country) => current + ("+" + country.UrlSlug));
        }

        if (Model.BrowseFilter.SelectedRegions.Count > 0)
        {
            r = Model.BrowseFilter.SelectedRegions.Aggregate(r, (current, region) => current + ("+" + region.UrlSlug));


        }
    }
}
@section Head
{
    <script src="@Url.Content("~/Assets/Scripts/app/search.js")" type="text/javascript"></script>
}


<div class="row">
    <div class="boost">
        <div class="container">
            <div class="sd-panel-s">
                <h1>Search</h1>

                <div class="col-md-9">

                    @{Html.RenderPartial("SearchListings", Model);}
                    <div class="col-md-3">
                        <h5>
                            Sign up for a free listing!
                        </h5>
                        <a href="/listings/post" class="btn btnalt">Add your Company</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="container">
        <div class="col-md-12 ">
            <h1 class="results">
                @if (Model.Results.Count == 0)
            {
                    <text>There are no listings matching your criteria</text>
                }
                else
                {
                    if (Model.SearchType == "search")
                    {
                        var category = Model.SearchFilter.Category == null ? "" : Model.SearchFilter.Category.DisplayText;
                        var location = Model.SearchFilter.Location == null ? "" : Model.SearchFilter.Location.Name;
                        var searchText = string.Format("Results for '{0} {1} {2}'", Model.SearchFilter.Keyword, category, location);
                    }
                }
            </h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="col-lg-4 col-md-4 offset-top-20 aside-right">
            <div class="listing tag-group">
                <h5>Filter by sub-category</h5>
                <p> Refine your content by clicking on one of the tags below.</p>
                <ul class="tags list-unstyled list-inline">
                    @if (Model.BrowseFilter.Tags != null)
                    {
                        foreach (SD.Core.Data.Model.Tags tag in Model.BrowseFilter.Tags)
                        {
                            var urlslug = string.Format("{0}{1}{2}{3}+{4}", "/listings/results?", r, c, t, tag.UrlSlug);
                            // var urlslug = string.Format("{0}{1}&t=  +{2}", "/listings/results?", r,tag.UrlSlug);
                            <li>
                                <a href="@urlslug&submit=browse">
                                    <i class="fa fa-plus"></i>@tag.DisplayText
                                </a>
                            </li>
                        }
                    }

                </ul>

            </div>
            <div class="listing tag-group">
                <h5>Filter by location</h5>
                <p> Refine your content by clicking on one of the locations below.</p>
                <ul class="tags list-unstyled list-inline">
                    @if (Model.BrowseFilter.Countries.Count > 0)
                    {
                        foreach (SD.Core.Data.Model.Country country in Model.BrowseFilter.Countries)
                        {
                            var urlslug = string.Format("{0}{1}{2}{3}+{4}", "/listings/results?", t, r, c, country.UrlSlug);
                            <li><a href="@urlslug&submit=browse"><i class="fa fa-plus"></i>@country.Name</a></li>
                        }
                    }
                    else
                    {
                        foreach (SD.Core.Data.Model.Region region in Model.BrowseFilter.Regions)
                        {
                            var urlslug = string.Format("{0}{1}{2}+{3}", "/listings/results?=", t, r, region.UrlSlug);
                            <li><a href="@urlslug&submit=browse"><i class="fa fa-plus"></i>@region.Name</a></li>
                        }
                    }
                </ul>

            </div>
            <a href="/listings/category" class="btn btn-primary">Reset</a>
        </div>


        <div class="col-lg-8 col-md-8 col-xs-12 offset-top-20">
            <div class="tag-group-s company-tags clearfix">
                @if (Model.BrowseFilter.SelectedTags.Count > 0 || Model.BrowseFilter.SelectedCountries.Count > 0 || Model.BrowseFilter.SelectedRegions.Count > 0)
                {
                    <i>Currently filtered by:</i>
                }
                @if (Model.BrowseFilter.SelectedTags.Count > 0)
            {
                    <span>
                        Selected tags
                    </span>
                    <ul class="tags list-unstyled list-inline">
                        @foreach (var tag in Model.BrowseFilter.SelectedTags)
                {

                    var newt = "";
                    newt = Model.BrowseFilter.SelectedTags.Count == 1 ? "" : t.Replace("+" + tag.UrlSlug, "");

                    var urlslug = string.Format("{0}{1}{2}", "/listings/results?", r, newt);

                            <li>
                                <a href="@urlslug&submit=browse" title="View Topics labelled @tag.DisplayText">

                                    @tag.DisplayText
                                    <i class="fa fa-times"></i>
                                </a>
                            </li>
                        }
                    </ul>
                }
                @if (Model.BrowseFilter.SelectedCountries.Count > 0 || Model.BrowseFilter.SelectedRegions.Count > 0)
            {
                    <span>
                        Selected Locations
                    </span>
                    <ul class="tags list-unstyled list-inline">

                        @foreach (var region in Model.BrowseFilter.SelectedRegions)
                        {

                            var newt = "";
                            newt = Model.BrowseFilter.SelectedRegions.Count == 1 ? "" : r.Replace("+" + region.UrlSlug, "");

                            var urlslug = string.Format("{0}{1}{2}", "/listings/results?", t, c, newt);

                            <li>
                                <a href="@urlslug&submit=browse" title="View Topics labelled @region.Name">

                                    @region.Name
                                    <i class="fa fa-times"></i>
                                </a>
                            </li>
                        }
                        @foreach (var country in Model.BrowseFilter.SelectedCountries)
                        {

                            var newt = "";
                            newt = Model.BrowseFilter.SelectedCountries.Count == 1 ? "" : c.Replace("+" + country.UrlSlug, "");

                            var urlslug = string.Format("{0}{1}{2}", "/listings/results?", t, r, newt);

                            <li>
                                <a href="@urlslug&submit=browse" title="View Topics labelled @country.Name">

                                    @country.Name
                                    <i class="fa fa-times"></i>
                                </a>
                            </li>
                        }

                    </ul>

                }
            </div>

            
            @if (Model.Results.Count > 0)
            {
                @Html.PagedListPager((X.PagedList.IPagedList)ViewBag.ResultsPage, page => Url.Action("Category", new { page }))
                <div class="featured">

                    @foreach (var listing in Model.Results)
                    {
                        if (listing.ListingType == ListingType.Premium || listing.ListingType == ListingType.PremiumPlus)
                        {
                        <div class="listing row">
                            <div class="col-md-4">
                                @if (listing.PrimaryMedia != null)
                                {
                                    <a href="/listings/detail/@listing.UrlSlug"><img src="@Html.GetMediaUri(MediaProfile.size_600x300, listing.PrimaryMedia)" alt="@listing.PrimaryMedia.Title" title="@listing.PrimaryMedia.Title" class="img-responsive" /></a>
                                }
                            </div>
                            <div class="col-md-8">
                                <h4><a href="/listings/detail/@listing.UrlSlug">@listing.CompanyName</a></h4>
                                @if (listing.ListingType != ListingType.Standard)
                                {
                                    @listing.StandFirst
                                }
                            </div>
                            @if (listing.RelatedTags.Count > 0)
                            {
                                <div class="col-md-12">
                                    <div class="tag-group-s company-tags clearfix">
                                        <ul class="tags list-unstyled list-inline">
                                            @foreach (var tag in listing.RelatedTags)
                                            {
                                                <li><a href="/listings/category?submit=browse&categoryurl=@tag.UrlSlug">@tag.DisplayText</a></li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            }

                        </div>
                        }
                        else
                        {
                            <div class="listing row">
                                <div class="col-md-4">
                                    @if (listing.PrimaryMedia != null)
                                    {
                                        <a href="/listings/detail/@listing.UrlSlug"><img src="@Html.GetMediaUri(MediaProfile.size_600x300, listing.PrimaryMedia)" alt="@listing.PrimaryMedia.Title" title="@listing.PrimaryMedia.Title" class="img-responsive" /></a>
                                    }
                                </div>
                                <div class="col-md-8">
                                    <h4><a href="/listings/detail/@listing.UrlSlug">@listing.CompanyName</a></h4>                                    
                                </div>
                            </div>
                        }
                    }
                </div>

            }
            else
            {
                <h2>No Results Found</h2>
            }


            @*FEATURED COMPANIES*@

            @*Latest listings*@
            @*<h2>Latest listings</h2>

            @if (Model.LatestListings.Count > 0)
            {
                foreach (var listing in Model.LatestListings)
                {
                    
                }
            }
            else
            {
                <div class="free-listing row">
                    <h4>No Latest Lising Found</h4>
                </div>
            }*@
            @Html.PagedListPager((X.PagedList.IPagedList)ViewBag.ResultsPage, page => Url.Action("Category", new { page }))
        </div>


    </div>
</div>

<script>

    @*$.ajax({
        url: '/category-viewed/' + "@(Model.SearchFilter.Category != null ? Model.Category.Id : "")"
    });*@
    $.ajax({
        url: '/category-viewed/' + "@tagId"//statscontroller/categoryviewed
    });


</script>