﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Listing with us";
}

<div class="row">
    <div class="container">

        <h1>Listing with us</h1>

        <h3>Not listed yet on the People Management Online Directory?</h3>
        <h5>The People Management Online Directory provides a marketplace for buyers in the HR industry. It is the most comprehensive online directory in the HR industry with suppliers listed from a number of different sectors including software, training and learning, healthcare, and many more. </h5>
        <ul>
            <li>Promote awareness of your company, brand and products or services to a senior HR audience.     </li>
            <li>Generate sales leads     </li>
            <li>Improve the search optimisation of your own web site through inbound links from the Directory     </li>
            <li>Huge audience potential – the People Management Online Directory is aggressively marketed as a companion service to the People Management Content Site.    </li>

        </ul>
        <p class="offset-below-20 offset-top-20">
            <a href="/listings/post" class="btn btn-lg">Create your listing now</a> 
            </p>
        <p>
            A basic entry is free and it only takes a few minutes to create one. 
        </p>
        <h3>
            Enhance your entry to stand out from the crowd:
        </h3>
        <ul>
            <li>Appear above basic (free) listings on search results and category pages, with eye-catching highlighting and company logo.</li>
            <li>Extended description on company details page, which can include testimonials, list of recent clients or projects, key people, company statistics, accreditation's and memberships, worldwide office locations and links to specific products or pages on your own web site, etc. </li>
            <li>Logo on company details page. </li>
            <li>Video profile. </li>
            <li>Downloads: PDF brochures, catalogues, etc.</li>
            <li>Upload your press releases – additional distribution channel for company news. Latest press releases are featured on the directory Home page.</li>
        </ul>

        <h4>Additional options:</h4>
        <ul>
            <li>
                Raise your profile further and generate more sales leads by increasing your presence on the People Management Online Directory. 
            </li>
            <li>
                Inclusion in Featured listings on Home page. 
            </li>
            <li>
                Display advertising (Leaderboard banners, MPUs).
            </li>
            <li>
                Category sponsorship.
            </li>
        </ul>
</div>
</div>