﻿@using SD.Core.Data.Model
@model List<Listing>

    @{
        ViewBag.Title = "My Listings";
    }



    <div class="container">
        <div class="row">
            <h1>My Listings</h1>

            <div class="col-md-8 col-xs-12 offset-top-20">

                @if (Model.Count() > 0)
                {
                    foreach (var listing in Model)
                    {
                        <div class="listing row">
                            @if (listing.CompanyLogo != null)
                            {
                                <div class="col-md-4">
                                    @*<img src="@Html.GetMediaUri(MediaProfile.size_600x300, listing.RelatedMedia[0])" alt="@listing.RelatedMedia[0].Title" title="@listing.RelatedMedia[0].Title" class="edit-media-item-image" />*@
                                    <img src="~/Uploads/Listings/@listing.CompanyLogo" class="edit-media-item-image pull-left img-responsive" />
                                    <br />
                                </div>
                            }


                            <div class="@(listing.CompanyLogo != null ? "col-md-8" : "col-md-12")">
                                <div class="pull-right">
                                    @if (listing.Status == SD.Core.Common.Constants.PublicationStatus.Draft)
                                    {
                                        <span class="btn btnsec pull-right">Draft</span>
                                    }
                                    &nbsp;
                                    @if (listing.Status == SD.Core.Common.Constants.PublicationStatus.UnPublished && !listing.IsModerated)
                                    {
                                        <span class="btn btnalt pull-right">Awaiting Moderation</span>
                                    }
                                    else if(listing.IsModerated)
                                    {
                                        <span class="btn btnok pull-right"><i class="glyphicon glyphicon-ok"></i> Moderated</span>
                                    }
                                </div>

                                <h2>@listing.CompanyName</h2>
                                (@listing.ListingType) <br /><br />

                                    <blockquote>
                                        @listing.StandFirst
                                    </blockquote>

                                <div class="pull-right">
                                    <a href="/listings/edit/@listing.Id" class="btn btn-primary">Edit</a> &nbsp;
                                    <a href="/listings/detail/@listing.UrlSlug" class="btn btn-warning">Details</a>
                                </div>
                            </div>


                        </div>
                    }
                }
                else
                {
                    <h2>You have no listings yet. <a href="/listings/post">Click here to post a listing</a></h2>
                }
            </div>

            <div class="col-md-4 offset-top-20">
                @Html.Partial("~/Views/Profile/_ProfileSideBar.cshtml")
            </div>
        </div>
    </div>
