﻿@using SD.Core.Common.Constants;
@using Frontend.Models;

@model ListingFormModel

@{
    ViewBag.Title = (Model.Listing.Id == null)? "Post a Listing" : "Edit Listing";
}
<link href="~/Assets/css/dropzone.css" rel="stylesheet" />
<style type="text/css">
    #DropZoneArea {
        background: #DDD;
        border: black dashed 2px;
    }
</style>
@using (Html.BeginForm("Post", "Listings", FormMethod.Post, new {@id= "postlistingform", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row">
            <h1>@ViewBag.Title</h1>
            @Html.ValidationSummary(true)
            <div class="col-md-3 pull-right">
                @Html.Partial("~/Views/Profile/_ProfileSideBar.cshtml")
            </div>
        <div class="col-md-10 article form-panel">
                
                <section>
                    <h4>Create a free Standard listing on PM Suppliers Directory.</h4>
                    <ul>
                        <li>Promote awareness of your company and products</li>
                        <li>Generate sales leads</li>
                        <li>Improve the search optimisation of your own web site through inbound links</li>
                        <li>Huge audience potential – PM Suppliers Directory is part of CIPD</li>
                    </ul>
                    <p><strong>A basic entry is free and it only takes a few minutes to create one. Just fill in your details in the form below.</strong></p>
                </section>
                <div class="promoted">

                    <h4>Or upgrade to a Premium Listing - Call us on 0208-267-4474.</h4>
                    <h5>Premium Listing - £1,250*</h5>
                    <ul>
                        <li>Appear above basic (free) listings on search results and category pages, with eye catching highlighting and company logo.</li>
                        <li>Extended description on company details page, which can include testimonials, list of recent clients or projects, key people, company statistics, accreditation and memberships, worldwide office locations and links to specific products or pages on your own web site etc</li>
                        <li>Logo on company details page</li>
                    </ul>
                    <h5>Premium PLUS Listing - £1,850*</h5>
                    <ul>
                        <li><strong>All of the above Premium features PLUS...</strong></li>
                        <li>Video Profile</li>
                        <li>Downloads: PDF brochures, catalogues, etc</li>
                        <li>Upload press releases - additional distribution channel for company news. latest press releases are featured on the directory home page.</li>
                    </ul>
                    <h4>To book your listing please contact the People Management sales team on 0208-267-4474</h4>
                    <p>*Cost can be paid either up front or in 12 monthly installments. Prices are for a 12 month upgrade.</p>

                </div>

                <div style="clear:both;">
                    <br /> <br />

                    <div class="pull-right">
                        <a href="@Url.Action("Index", "Listings")" class="btn btn-default btn-lg">Cancel</a>
                        <button class="btn btn-primary btn-lg" name="submit" type="submit" value="draft">Save as draft</button>
                        <button class="btn btn-success btn-lg" name="submit" type="button" onclick="submitpost()">Submit</button>
                        <br /> <br />
                    </div>
                    <br />
                </div>
                <br />

                @Html.ValidationSummary(true)
                <br />

                <div class="form-horizontal">
                    <div class="page-header">
                    <h2>Step 1 : Company Name & Business Description</h2>
                </div>

                    <div class="form-group">
                        @Html.HiddenFor(model => model.Listing.MemberId)
                        @Html.HiddenFor(model => model.Listing.Id)
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.Listing.CompanyName, new { @class = "control-label col-md-2" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Listing.CompanyName, new
                       {
                           htmlAttributes =
                               new
                               {
                                   @title = "Enter Company Name",
                                   placeholder = "Company Name",
                                   @class = "form-control"
                               }
                       })
                            @Html.ValidationMessageFor(model => model.Listing.CompanyName)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Listing.StandFirst, "Company Abstract", new { @class = "control-label col-md-2" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Listing.StandFirst, new
                       {
                           htmlAttributes =
                               new
                               {
                                   @title = "Enter Company Abstract",
                                   placeholder = "Company Abstract",
                                   @class = "form-control"
                               }
                       })
                            @Html.ValidationMessageFor(model => model.Listing.StandFirst)
                        </div>
                    </div>

                    @*<div class="form-group">
                            @Html.Label(model.Listing.MetaDescription, "Business Description (Premium or higher)", new { @class = "control-label col-md-2" })
                            @Html.LabelFor(model => model.Listing.MetaDescription, new { @class = "control-label col-md-2" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Listing.MetaDescription)
                                @Html.ValidationMessageFor(model => model.Listing.MetaDescription)
                            </div>
                        </div>*@


                    <div class="form-group">
                        @Html.LabelFor(model => model.Listing.Body, "Business Description (Premium or higher)", new { @class = "control-label col-md-2" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Listing.Body, new
                       {
                           htmlAttributes =
                               new
                               {
                                   @title = "Enter Business Description",
                                   placeholder = "Business Description",
                                   @class = "form-control",
                                   rows = "5"
                               }
                       })
                            @Html.ValidationMessageFor(model => model.Listing.Body)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Listing.CompanyLogo, "Company Logo", new { @class = "control-label col-md-2" })
                        <div class="col-md-9">
                            @*@Html.EditorFor(model => model.Listing.CompanyLogo)*@
                            <input name="CompanyLogo" type="file" class="form-control" />
                            @Html.ValidationMessageFor(model => model.Listing.CompanyLogo)
                        </div>
                    </div>

                </div>

            </div>


            <div class="col-md-9 article form-panel">
                <div class="page-header">
                    <h2>Step 2 : Select Product or Service Categories</h2>
                </div>

                <div class="promoted-alt">

                    Please select products or services from the lists below relevant to your company that will drive valuable enquiries.
                    Please note, you can only add a maximum of 3 sub categories to a company.
                </div>


                <div style="clear:both;"> <br /> <br /> </div>

                <div class="form-horizontal">

                    <div class="form-group">
                        @Html.LabelFor(model => model.MainCategoryId, "Main Category", new { @class = "control-label col-md-2" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.MainCategoryId, Model.MainCategoryList, "--Please Select--",
                            new { @class = "form-control", data_ajax_show_div = "tag-selected", @title = "Select Listing Category" })

                            @Html.ValidationMessageFor(model => model.Listing.ListingType)
                        </div>
                    </div>

                    @*@Html.HiddenFor(model => model.SelectedTags)*@

                    <div class="form-group subcat-div">
                        @Html.LabelFor(model => model.SubCategoryId, "Sub Category - Level 1", new { @class = "control-label col-md-2" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.SubCategoryId, Model.SubCategoryList, "--Please Select--",
                            new { @class = "form-control", data_ajax_show_div = "tag-selected", @title = "Select Sub Category" })

                            @Html.ValidationMessageFor(model => model.Listing.ListingType)
                        </div>
                    </div>

                    <div style="clear:both;">
                        <div style="color:red; text-align:center;" id="cat-loader">Loading...</div>
                        <button type="button" class="btn btn-warning pull-right" id="add-category">Add</button>
                        <br />
                    </div>

                    <hr />

                    <h3>Current Product & Service Categories Selected</h3>
                    <div class="tags" id="show-tags">
                        @if (Model.Listing.RelatedTags.Count() > 0)
                        {
                            foreach (var tag in Model.Listing.RelatedTags)
                            {
                                <div id="CurrentTags@(tag.Id)">
                                    <input id="SelectedTags" name="SelectedTags" value="@tag.Id" type="hidden">
                                    @tag.DisplayText &nbsp;
                                    <button type="button" class="btn btn-warning btn-xs" onclick="removeCurrentTag(@tag.Id)">&times;</button>
                                    <br /> <br />
                                </div>
                            }
                        }
                    </div>

                </div>
            </div>


            <div class="col-md-9 article form-panel">
                <div class="page-header">
                    <h2>Step 3 : Company Address and Contact Details</h2>
                </div>



                <div class="form-horizontal">


                    <div class="form-group">
                        @Html.LabelFor(model => model.Listing.CountryId, "Country", new { @class = "control-label col-md-2" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.Listing.CountryId, new SelectList(ViewBag.Countries, "Value", "Text", Model.Listing.CountryId), "--Choose One--",
                            new { @class = "form-control", @title = "Select Country" })

                            @*@Html.EditorFor(model => model.Listing.Country, new
                       {
                           htmlAttributes =
                               new
                               {
                                   @title = "Enter Country",
                                   placeholder = "Country",
                                   @class = "form-control"
                               }
                       })*@

                            @Html.ValidationMessageFor(model => model.Listing.CountryId)
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.Listing.Address1, "Address 1", new { @class = "control-label col-md-2" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Listing.Address1, new
                       {
                           htmlAttributes =
                               new
                               {
                                   @title = "Enter Address 1",
                                   placeholder = "Address 1",
                                   @class = "form-control"
                               }
                       })
                            @Html.ValidationMessageFor(model => model.Listing.Address1)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Listing.Address2, "Address 2", new { @class = "control-label col-md-2" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Listing.Address2, new
                       {
                           htmlAttributes =
                               new
                               {
                                   @title = "Enter Address 2",
                                   placeholder = "Address 2",
                                   @class = "form-control"
                               }
                       })
                            @Html.ValidationMessageFor(model => model.Listing.Address2)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Listing.Address3, "Address 3", new { @class = "control-label col-md-2" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Listing.Address3, new
                       {
                           htmlAttributes =
                               new
                               {
                                   @title = "Enter Address 3",
                                   placeholder = "Address 3",
                                   @class = "form-control"
                               }
                       })
                            @Html.ValidationMessageFor(model => model.Listing.Address3)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Listing.Town, new { @class = "control-label col-md-2" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Listing.Town, new
                       {
                           htmlAttributes =
                               new
                               {
                                   @title = "Enter Town",
                                   placeholder = "Town",
                                   @class = "form-control"
                               }
                       })
                            @Html.ValidationMessageFor(model => model.Listing.Town)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Listing.County, new { @class = "control-label col-md-2" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Listing.County, new
                       {
                           htmlAttributes =
                               new
                               {
                                   @title = "Enter County",
                                   placeholder = "County",
                                   @class = "form-control"
                               }
                       })
                            @Html.ValidationMessageFor(model => model.Listing.County)
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.Listing.PostCode, "Postal Code", new { @class = "control-label col-md-2" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Listing.PostCode, new
                       {
                           htmlAttributes =
                               new
                               {
                                   @title = "Enter Postal Code",
                                   placeholder = "Postal Code",
                                   @class = "form-control"
                               }
                       })
                            @Html.ValidationMessageFor(model => model.Listing.PostCode)
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.Listing.Telephone, new { @class = "control-label col-md-2" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Listing.Telephone, new
                       {
                           htmlAttributes =
                               new
                               {
                                   @title = "Enter Telephone",
                                   placeholder = "Telephone",
                                   @class = "form-control"
                               }
                       })
                            @Html.ValidationMessageFor(model => model.Listing.Telephone)
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.Listing.Email, new { @class = "control-label col-md-2" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Listing.Email, new
                       {
                           htmlAttributes =
                               new
                               {
                                   @title = "Enter Email",
                                   placeholder = "Email",
                                   @class = "form-control"
                               }
                       })
                            @Html.ValidationMessageFor(model => model.Listing.Email)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Listing.Website, new { @class = "control-label col-md-2" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Listing.Website, new
                       {
                           htmlAttributes =
                               new
                               {
                                   @title = "Enter Website",
                                   placeholder = "Website",
                                   @class = "form-control"
                               }
                       })
                            @Html.ValidationMessageFor(model => model.Listing.Website)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Listing.Facebook, new { @class = "control-label col-md-2" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Listing.Facebook, new
                       {
                           htmlAttributes =
                               new
                               {
                                   @title = "Enter Facebook Url",
                                   placeholder = "Facebook Url",
                                   @class = "form-control"
                               }
                       })
                            @Html.ValidationMessageFor(model => model.Listing.Facebook)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Listing.Twitter, new { @class = "control-label col-md-2" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Listing.Twitter, new
                       {
                           htmlAttributes =
                               new
                               {
                                   @title = "Enter Twitter Url",
                                   placeholder = "Twitter Url",
                                   @class = "form-control"
                               }
                       })
                            @Html.ValidationMessageFor(model => model.Listing.Twitter)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Listing.LinkedIn, new { @class = "control-label col-md-2" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Listing.LinkedIn, new
                       {
                           htmlAttributes =
                               new
                               {
                                   @title = "Enter LinkedIn Url",
                                   placeholder = "LinkedIn Url",
                                   @class = "form-control"
                               }
                       })
                            @Html.ValidationMessageFor(model => model.Listing.LinkedIn)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Listing.GooglePlus, new { @class = "control-label col-md-2" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Listing.GooglePlus, new
                       {
                           htmlAttributes =
                               new
                               {
                                   @title = "Enter GooglePlus Url",
                                   placeholder = "GooglePlus Url",
                                   @class = "form-control"
                               }
                       })
                            @Html.ValidationMessageFor(model => model.Listing.GooglePlus)
                        </div>
                    </div>


                </div>



            </div>



            <div class="col-md-9 article form-panel">
                <div class="page-header">
                    <h2>Step 4 : Add product images, videos or PDFs</h2>
                </div>

                <h3>Upload Images and PDFs</h3>

                <p>
                    Add files to the upload queue and click the start button. Only .pdf, .gif, .png, .jpg, .jpeg files are allowed, below 3MB.<br />
                    Upload limit, max 0 image, max 0 document
                </p>



                <div class="form-horizontal">
                    <div class="form-group">
                        @*action="~/Listings/UploadFiles" method="post" enctype="multipart/form-data"*@
                        <div class="dropzone" id="DropZoneArea">
                            <div class="fallback">
                                <input name="file" type="file" multiple />
                                <input type="submit" value="Upload" />
                            </div>
                        </div>

                        @*<label for="CompanyName" class="col-sm-2 control-label">Upload files</label>
                            <div class="col-sm-10">
                                drag and drop?
                            </div>*@
                    </div>
                </div>


                @*<h4>Currently Uploaded Images and PDF Documents</h4>
                <p>Images and .pdf files are displayed on your item listing page in the order they appear in below. Please note that any .pdf uploaded will appear as a pdf icon.</p>*@
                <div id="media-container">
                    @*<p>There are currently no uploaded files.</p>*@
                    <ul id="uploadList"></ul>

                    @if (Model.Listing.RelatedMedia.Count() > 0)
                    {
                        foreach (var media in Model.Listing.RelatedMedia)
                        {
                            <div id="CurrentMedia@(media.Id)" style="width: auto; display: inline-block;">
                                <img src="~/Uploads/Listings/@media.FileName" width="120" height="120" />
                                <input id="SelectedTags" name="SelectedTags" value="@media.Id" type="hidden"> <br />
                                @media.Format
                                <button type="button" class="btn btn-warning btn-xs" onclick="removeMedia(@media.Id)">&times;</button>
                                <br />
                            </div>
                        }
                    }

                </div>
                <h3>Add Video</h3>
                <p>Upload your video to YouTube then paste the URL of your uploaded video in here.</p>

                <div class="form-horizontal">

                    <div class="form-group">
                        @Html.LabelFor(model => model.Listing.VideoTitle, "Video Title", new { @class = "control-label col-md-2" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Listing.VideoTitle, new
                    {
                        htmlAttributes =
                        new
                        {
                            @title = "Enter Video Title",
                            placeholder = "",
                            @class = "form-control"
                        }
                    })
                            @Html.ValidationMessageFor(model => model.Listing.VideoTitle)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Listing.VideoUrl, "Video Url", new { @class = "control-label col-md-2" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Listing.VideoUrl, new
                    {
                        htmlAttributes =
                        new
                        {
                            @title = "Enter Video Url",
                            placeholder = "Video Url (E.g: https://www.youtube.com/embed/watch?v=Kl5wzvFClgU)",
                            @class = "form-control"
                        }
                    })
                            @Html.ValidationMessageFor(model => model.Listing.VideoUrl)
                        </div>
                    </div>


                </div>


            </div>


            <div class="col-md-9 article form-panel">
                <div class="page-header">
                    <h2>Step 5 : Grade</h2>
                </div>

                Select Free (Standard), Premium or Premium Plus


                <div class="form-group">
                    @Html.LabelFor(model => model.Listing.ListingType, new { @class = "control-label col-md-2" })
                    <div class="col-md-9">

                        <select class="form-control" id="ListingType" name="Listing.ListingType" title="Select Listing Grade">
                            @foreach (ListingType val in Enum.GetValues(typeof(ListingType)))
                            {
                                if (Model.Listing.ListingType == val)
                                {
                                    <option selected="selected" value="@val.ToString()">@val.ToString()</option>
                                }
                                else
                                {
                                    <option value="@val.ToString()">@val.ToString()</option>
                                }
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.Listing.ListingType)
                    </div>


                </div>
            </div>


            <div class="col-md-9 article form-panel">
                <div class="page-header">
                    <h2>Step 6 :Preview</h2>
                </div>

                @if (Model.Listing.Id != null)
                {
                    <a href="#listingDetail" data-toggle="modal" data-target="#listingDetail" class="btn btnalt">Preview Listing</a>
                    @*@Html.ActionLink("Preview Listing", "Detail", "Listings", new { urlSlug = Model.Id }, new { @class = "btn btnalt" })*@
                }
                else
                {
                    <a href="javascript;" onclick="alert('Please save your listing first.'); return false;" class="btn btnalt">Preview Listing</a>
                }

                <p class="offset-top-20"><a href="/home/termsandconditions"> View terms & conditions</a></p>
                <div class="row offset-top-20 offset-below-20">
                    <div class="col-lg-6">
                        <div class="input-group">
                            <label>
                                <input type="checkbox" id="chkTerms" required aria-label="I accept the terms and conditions">
                                I accept the terms and conditions
                            </label>
                        </div>
                    </div>

                    @*<div class="col-md-12 clearfix">
                        <a href="@Url.Action("Edit", "Listings", new { id = Model.Id})" class="btn btn-default btn-lg">Edit</a>
                        <button class="btn btn-success btn-lg" name="submit" type="submit" value="finalsubmit">Submit</button>
                    </div>*@

                    <br />

                    <hr />
                    <br />
                </div>


                <br />

                <br />
                <br />
            </div>


            <br />
            <br />
            <div class="col-md-9 clearfix" style="margin: 30px 0;">
                <a href="@Url.Action("Index", "Listings")" class="btn btn-default btn-lg">Cancel</a>
                <button class="btn btn-primary btn-lg" name="submit" type="submit" value="draft">Save as draft</button>
                <button class="btn btn-success btn-lg" name="submit" type="button" onclick="submitpost()" >Submit</button>
                <button class="btn btn-success btn-lg" style="display:none" id="submitForm" name="submit" type="submit" value="submit">Submit</button>
            </div>

            <br />

            <hr />
            <br />

            <br />

            <hr />
            <br />
        </div>
    </div>
}

@if (Model.Listing.Id != null)
{
    <!-- Modal -->
    <div class="modal fade" id="listingDetail" tabindex="-1" role="dialog" aria-labelledby="supplierDir" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4><span class="glyphicon glyphicon-list"></span> <span class="logine--title">Listing Detail : @Model.Listing.CompanyName</span></h4>
                </div>
                <div class="modal-body">

                    <dl class="dl-horizontal">
                        @*<dt>
                            @Html.DisplayNameFor(model => model.Listing.Title)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Listing.Title)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Listing.SEOTitle)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Listing.SEOTitle)
                        </dd>*@

                        <dt>
                            @Html.DisplayNameFor(model => model.Listing.UrlSlug)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Listing.UrlSlug)
                        </dd>

                        @*<dt>
                            @Html.DisplayNameFor(model => model.Listing.MetaDescription)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Listing.MetaDescription)
                        </dd>*@

                        <dt>
                            @Html.DisplayNameFor(model => model.Listing.StandFirst)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Listing.StandFirst)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Listing.Body)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Listing.Body)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Listing.CompanyName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Listing.CompanyName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Listing.County)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Listing.County)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Listing.Address1)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Listing.Address1)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Listing.Address2)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Listing.Address2)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Listing.Address3)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Listing.Address3)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Listing.Town)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Listing.Town)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Listing.PostCode)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Listing.PostCode)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Listing.Email)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Listing.Email)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Listing.Telephone)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Listing.Telephone)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Listing.Website)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Listing.Website)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Listing.Facebook)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Listing.Facebook)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Listing.Twitter)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Listing.Twitter)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Listing.LinkedIn)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Listing.LinkedIn)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Listing.GooglePlus)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Listing.GooglePlus)
                        </dd>

                        @if (Model.Listing.CompanyLogo != null)
                        {
                        <dt>
                            @Html.DisplayNameFor(model => model.Listing.CompanyLogo)
                        </dt>

                        <dd>
                            <img src="~/Uploads/Listings/@Html.DisplayFor(model => model.Listing.CompanyLogo)" width="120" height="120" />
                        </dd>
                        }

                        @*<dt>
                            @Html.DisplayNameFor(model => model.Listing.MemberId)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Listing.MemberId)
                        </dd>*@

                        <dt>
                            @Html.DisplayNameFor(model => model.Listing.Country)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Listing.Country)
                        </dd>

                        @*<dt>
                            @Html.DisplayNameFor(model => model.Listing.CountryId)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Listing.CountryId)
                        </dd>*@

                        <dt>
                            @Html.DisplayNameFor(model => model.Listing.VideoTitle)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Listing.VideoTitle)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Listing.VideoUrl)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Listing.VideoUrl)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Listing.Grade)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Listing.Grade)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Listing.IsModerated)
                        </dt>

                        <dd>
                            @(Model.Listing.IsModerated ? "Yes" : "No")
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Listing.Status)
                        </dt>

                        <dd>
                            @(Model.Listing.Status == PublicationStatus.Draft ? "Yes" : "No")
                        </dd>

                        @*<dt>
                                @Html.DisplayNameFor(model => model.ViewCount)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ViewCount)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.LiveFrom)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.LiveFrom)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CreatedOn)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CreatedOn)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.UpdatedOn)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.UpdatedOn)
                            </dd>*@

                    </dl>

                </div>
                <div class="modal-footer">
                    <div class="pull-right">
                        <button type="button" class="close" data-dismiss="modal">&times; Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@section Scripts {
    @*@Scripts.Render("~/Assets/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Assets/Scripts/jquery.validate.unobtrusive.min.js")*@

    <script src="~/Assets/js/dropzone.js"></script>

    <script type="text/javascript">
        function submitpost()
        {
            if( $('#chkTerms').is(':checked') )
            {
                $("#submitForm").click();
            }
            else
                alert('You must accept the terms and conditions before submitting')
        }
        $(document).ready(function () {
            $('.subcat-div').hide();
            $('#cat-loader').hide();
            $('#MainCategoryId').change(function () {
                if ($("#MainCategoryId").val() != "") {
                    $('#cat-loader').show();
                    $("#SubCategoryId > option").remove();
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("GetSubTagLists")',
                        dataType: 'json',
                        data: { selectedId: $("#MainCategoryId").val() },
                        success: function (result) {
                            if (result != null) {
                                $("#SubCategoryId").append($("<option></option>").val("").html("--Please Select--"));
                                for (var i = 0; i < result.length; i++) {
                                    $("#SubCategoryId").append($("<option></option>").val(result[i].Id).html(result[i].DisplayText));
                                }
                                $('#cat-loader').hide();
                                $('.subcat-div').show();
                            }
                        },
                        error: function (ex) {
                            console.log('Category error occured : ' + ex);
                        }
                    });
                }
                return false;
            });

            //upload file
            Dropzone.options.DropZoneArea = {
                maxFilesize: 2, // MB
                maxFiles: 5,
                addRemoveLinks: true,
                url: '@Url.Action("UploadFiles")',
                init: function () {
                    this.on("complete", function (data) {
                        var res = eval('(' + data.xhr.responseText + ')');
                        alert(res.Message);
                    });
                    this.on("success", function (file, response)
                    {
                        console.log(response.Files.length);

                        if (response.Files.length > 0) {
                            response.Files.forEach(function (item) {
                                $('#uploadList').append('<input id="' + file.name + '" name="mediaFiles" value="' + item + '" type="hidden">');
                                //$('#uploadList').append('<li><input id="mediaFiles" name="mediaFiles" value="' + item + '" type="hidden"> ' + item + ' &nbsp; <button type="button" class="btn btn-warning btn-xs" onclick="deleteFile(' + item + ')" title="Delete file">&times;</button></li>');
                            });
                        }
                    });
                },
                removedfile: function (file) {
                    $("input[type='hidden'][name='mediaFiles']").each(function ()
                    {
                        if($(this).attr('id') == file.name)
                        {
                            var mediaId = $(this).val();
                            RemoveMedia(mediaId);
                        }
                    })
                    var _ref;
                    return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
                },
                acceptedFiles: "image/png,application/pdf,image/gif,image/jpg,image/jpeg"
            };
            function RemoveMedia(id)
            {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("DeleteMedia")',
                    dataType: 'json',
                    data: { mediaId: id },
                    success: function (result) {
                        
                    }
                });
            }

            //add category and subcategory
            var item = 0;
            $('#add-category').click(function () {
                if ($('#MainCategoryId').val() != "") {
                    item++;
                    $('#cat-loader').show();
                    $('#add-category').attr('disabled', true)
                    //get value
                    //var selectedTags = $('#SelectedTags').val();
                    var mainCategory = $('#MainCategoryId').val();
                    var subCategory = $('#SubCategoryId').val();
                    //if (selectedTags != "") {
                    //    selectedTags = selectedTags + ",";
                    //}
                    //console.log(selectedTags);
                    //selectedTags = selectedTags + (subCategory != "") ? subCategory : mainCategory;
                    console.log(mainCategory);
                    console.log(subCategory);
                    var newValue = (subCategory != "") ? subCategory : mainCategory;
                    console.log(newValue);

                    //show-tags
                    var content = "";

                    content += '<input id="SelectedTags" name="SelectedTags" value="' + newValue + '" type="hidden"> <br /><a href="javascript:void()">' + $('#MainCategoryId > option:selected').html() + '</a>';
                    if (subCategory != "") {
                        content += '> &nbsp;';
                        content += '<a href="javascript:void()">' + $('#SubCategoryId > option:selected').html() + '</a>';
                    }
                    content += '&nbsp; <button type="button" class="btn btn-warning btn-xs" onclick="removeTag(' + item + ')">&times;</button>';
                    content += '<br />';
                    $('#show-tags').append($('<div id="tag' + item + '"></div>').html(content));
                    setTimeout(function () {
                        $('#MainCategoryId').val("");
                        $('#MainCategoryId').removeAttr('required');
                        $('#SubCategoryId').val("");
                        $('#cat-loader').hide();
                        $('#add-category').removeAttr('disabled');
                    }, 1000);
                }
                return false;
            });
        });

        //remove tag
        function removeTag(x) {
            $('#tag' + x).remove();
        };

        //remove tag
        function removeCurrentTag(x) {
            alert(x);
            $('#CurrentTags' + x).remove();
        };
    </script>
}
