﻿@model SD.Core.Data.Model.Listing

@{
    ViewBag.Title = "Preview Listing";
}@using (Html.BeginForm("Post", "Listings", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
<div class="container">
    <div class="row">

        <div class="col-md-10 article form-panel">
            <div class="page-header">
                <h2>Step 6 :Preview</h2>
            </div>



            <div class="form-group">
                @Html.HiddenFor(model => model.MemberId)
                @Html.HiddenFor(model => model.Id)
            </div>

            @if (Model.Id != null)
            {
                <a href="#listingDetail" data-toggle="modal" data-target="#listingDetail" class="btn btnalt">Preview Listing</a>
                @*@Html.ActionLink("Preview Listing", "Detail", "Listings", new { urlSlug = Model.Id }, new { @class = "btn btnalt" })*@
            }

            <p class="offset-top-20"><a href="terms"> View terms & conditions</a></p>
            <div class="row offset-top-20 offset-below-20">
                <div class="col-lg-6">
                    <div class="input-group">
                        <label>
                            <input type="checkbox" required aria-label="I accept the terms and conditions">
                            I accept the terms and conditions
                        </label>
                    </div>
                </div>

                <div class="col-md-12 clearfix">
                    <a href="@Url.Action("detail", "Listings", new { urlSlug = Model.UrlSlug})" target="_blank" class="btn btn-default btn-lg">Edit</a>
                    <button class="btn btn-success btn-lg" name="submit" type="submit" value="finalsubmit">Submit</button>
                </div>

                <br />

                <hr />
                <br />
            </div>


            <br />

            <br />
            <br />
        </div>

    </div>
</div>
    
}

<!-- Modal -->
<div class="modal fade" id="listingDetail" tabindex="-1" role="dialog" aria-labelledby="supplierDir" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><span class="glyphicon glyphicon-list"></span> <span class="logine--title">Listing Detail : @Model.CompanyName</span></h4>
            </div>
            <div class="modal-body">

                <dl class="dl-horizontal">
                    @*<dt>
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Title)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SEOTitle)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SEOTitle)
                    </dd>*@

                    <dt>
                        @Html.DisplayNameFor(model => model.UrlSlug)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.UrlSlug)
                    </dd>

                    @*<dt>
                        @Html.DisplayNameFor(model => model.MetaDescription)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MetaDescription)
                    </dd>*@

                    <dt>
                        @Html.DisplayNameFor(model => model.StandFirst)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.StandFirst)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Body)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Body)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CompanyName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CompanyName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.County)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.County)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Address1)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Address1)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Address2)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Address2)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Address3)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Address3)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Town)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Town)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PostCode)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PostCode)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Telephone)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Telephone)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Website)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Website)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Facebook)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Facebook)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Twitter)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Twitter)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LinkedIn)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LinkedIn)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.GooglePlus)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.GooglePlus)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CompanyLogo)
                    </dt>

                    <dd>
                        <img src="~/Uploads/Listings/@Html.DisplayFor(model => model.CompanyLogo)" width="120" height="120" />
                    </dd>

                    @*<dt>
                        @Html.DisplayNameFor(model => model.MemberId)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MemberId)
                    </dd>*@

                    <dt>
                        @Html.DisplayNameFor(model => model.Country)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Country)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CountryId)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CountryId)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.VideoTitle)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.VideoTitle)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.VideoUrl)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.VideoUrl)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Grade)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Grade)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.IsModerated)
                    </dt>

                    <dd>
                        @(Model.IsModerated ? "Yes" : "No")
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.IsDraft)
                    </dt>

                    <dd>
                        @(Model.IsDraft ? "Yes" : "No")
                    </dd>

                    @*<dt>
                        @Html.DisplayNameFor(model => model.ViewCount)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ViewCount)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LiveFrom)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LiveFrom)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CreatedOn)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CreatedOn)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.UpdatedOn)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.UpdatedOn)
                    </dd>*@

                </dl>

            </div>
            <div class="modal-footer">
                <div class="pull-right">
                    @Html.ActionLink("Edit", "Edit", "Listings", new { id = @Model.Id }, new { @class = "btn btn-default" })
                    &nbsp;
                    <button type="button" class="btn btn-default close" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
