﻿@using SD.Core.Common.Constants;
@using Frontend.Models;

@model ListingFormModel

@{
    ViewBag.Title = "Post a Listing > Upload Files";
}
<link href="~/Assets/css/dropzone.css" rel="stylesheet" />
<style type="text/css">
    #DropZoneArea {
        background: #DDD;
        border: black dashed 2px;
    }
</style>
@using (Html.BeginForm("Post", "Listings", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row">
            <h1>Post a listing</h1>
            @Html.ValidationSummary(true)
            <div class="col-md-3 pull-right">
                @Html.Partial("~/Views/Profile/_ProfileSideBar.cshtml")
            </div>



            <div class="col-md-9 article form-panel">
                <div class="page-header">
                    <h2>Step 4 : Add product images, videos or PDFs</h2>
                </div>

                <h3>Upload Images and PDFs</h3>

                <p>
                    Add files to the upload queue and click the start button. Only .pdf, .gif, .png, .jpg, .jpeg files are allowed, below 3MB.<br />
                    Upload limit, max 0 image, max 0 document
                </p>



                <div class="form-horizontal">
                    <div class="form-group">
                        @*action="~/Listings/UploadFiles" method="post" enctype="multipart/form-data"*@
                        <div class="dropzone" id="DropZoneArea">
                            <div class="fallback">
                                <input name="file" type="file" multiple />
                                <input type="submit" value="Upload" />
                            </div>
                        </div>

                        @*<label for="CompanyName" class="col-sm-2 control-label">Upload files</label>
                            <div class="col-sm-10">
                                drag and drop?
                            </div>*@
                    </div>
                </div>


                <h4>Currently Uploaded Images and PDF Documents</h4>
                <p>Images and .pdf files are displayed on your item listing page in the order they appear in below. Please note that any .pdf uploaded will appear as a pdf icon.</p>
                <div id="media-container">
                    @*<p>There are currently no uploaded files.</p>*@
                    <ul id="uploadList"></ul>
                </div>
                <h3>Add Video</h3>
                <p>Upload your video to YouTube then paste the URL of your uploaded video in here.</p>

                <div class="form-horizontal">

                    <div class="form-group">

                        @Html.HiddenFor(model => model.Listing.Id)

                        @Html.LabelFor(model => model.Listing.VideoUrl, "Video Url", new { @class = "control-label col-md-2" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Listing.VideoUrl, new
                    {
                        htmlAttributes =
                        new
                        {
                            @title = "Enter Video Url",
                            placeholder = "Video Url (E.g: www.youtube.com/ijksadjusaw286)",
                            @class = "form-control"
                        }
                    })
                            @Html.ValidationMessageFor(model => model.Listing.VideoUrl)
                        </div>
                    </div>


                </div>


            </div>

            <div class="col-md-9 article form-panel">
                <div class="page-header">
                    <h2>Step 5 : Grade</h2>
                </div>

                Select Free (Standard), Premium or Premium Plus


                <div class="form-group">
                    @Html.LabelFor(model => model.Listing.ListingType, new { @class = "control-label col-md-2" })
                    <div class="col-md-9">

                        <select class="form-control" id="listingStatus" name="Listing.Status" title="Select Listing Grade">
                            @foreach (ListingType val in Enum.GetValues(typeof(ListingType)))
                            {
                                if (Model.Listing.ListingType == val)
                                {
                                    <option selected="selected" value="@val.ToString()">@val.ToString()</option>
                                }
                                else
                                {
                                    <option value="@val.ToString()">@val.ToString()</option>
                                }
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.Listing.ListingType)
                    </div>


                </div>
            </div>


            <div style="padding:20px 0;">

                <br />
                <br />
                <div class="col-md-9 clearfix">
                    <a href="@Url.Action("Index", "Listings")" class="btn btn-default btn-lg">Cancel</a>
                    @*<button class="btn btn-primary btn-lg" name="submit" type="submit" value="draft">Save as draft</button>*@
                    <button class="btn btn-success btn-lg" name="submit" type="submit" value="submit">Submit</button>
                </div>
                <br />

                <hr />
                <br />

                <br />
            </div>

                <hr />
                <br />
            </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/Assets/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Assets/Scripts/jquery.validate.unobtrusive.min.js")

    <script src="~/Assets/js/dropzone.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            //upload file
            Dropzone.options.DropZoneArea = {
                maxFilesize: 2, // MB
                maxFiles: 5,
                url: '@Url.Action("UploadFiles", new { listingId = Model.Listing.Id })',
                init: function () {
                    this.on("complete", function (data) {
                        console.log(data);
                        if (data.Files.length > 0) {
                            for (var i = 0; i <= data.Files.length; i++) {
                                $('#uploadList').append('<li><input id="mediaFiles" name="mediaFiles" value="' + Files[i].FileName + '" type="hidden"> ' + Files[i].FileName + ' &nbsp; <button type="button" class="btn btn-warning btn-xs" onclick="deleteFile(' + Files[i].FileName + ')" title="Delete file">&times;</button></li>');
                            }
                        }
                        var res = eval('(' + data.xhr.responseText + ')');
                        alert(res.Message);
                    });
                },
                acceptedFiles: "image/png,application/pdf,image/gif,image/jpg,image/jpeg"
            };

        });
    </script>
}

