﻿@model IList<SD.Core.Data.Model.Company>

@foreach (var company in Model)
{
    <li>
        <span class="result-heading">@company.name</span>
        <a href="#" class="add-result btn" rel="@company.id">Add</a>
    </li>
}