﻿@using SD.Core.Data.Model
@model IList<SD.Core.Data.Model.Page>

@foreach (var page in Model)
{
    <li>
        <span class="result-heading">@page.SEOTitle</span>
        <a href="#" class="add-result btn" rel="@page.Id">Add</a>
    </li>
}