﻿
@using SD.Core.Common.Constants
@using SD.Core.Common.Utils
@using SD.Core.Data.Model
@using SD.Core.Services.Security
@using SD.Core.Common.Extensions.Web
@using CMS.Helpers.HtmlExtensions;
@using SD.Core.Data.Model
@model IList<DocumentFile>
    
    

    @foreach (var documentFile in Model)
        {
        <li>
            <span class="result-heading">
            <a style="float:left; text-decoration:underline" href="@Html.GetDocumentDownloadUri(documentFile)" target="_blank" >
                @documentFile.Title
            </a>     
                </span>
            <a href="#" class="add-result btn" rel="@documentFile.Id">Add</a>
        </li>
        }
