﻿@using SD.Core.Data.Model
@model IList<Tags>


    <p>Add search term as tag <a href="#" class="add-newtag btn">Add new tag</a></p>
    

    @foreach (var tag in Model)
        {
        <li>
            <span class="result-heading">@tag.DisplayText</span>
            <a href="#" class="add-result btn" rel="@tag._id">Add</a>
        </li>
        }
