﻿@using CMS.Models
@using SD.Core.Common.Config
@using SD.Core.Common.HtmlExtensions
@using SD.Core.Data.Model
@using SD.Core.Common.Constants
@using SD.Core.Services.Security
@using ScriptRegistrar = SD.Core.Common.Utils.ScriptRegistrar


@* Register the media selector scripts and styles *@
@{ 
    ScriptRegistrar.RegisterScript("~/Scripts/jquery.tag-selector.js");
    ScriptRegistrar.RegisterScript("~/Scripts/jquery.jqote2.js");
    
    ScriptRegistrar.RegisterStyle("~/Content/Styles/TagSelector.css");
}

<!-- Tag Selector -->

    <script type="text/x-jqote-template" id="tagSelectorTemplate">
    <![CDATA[
    <div id="tagSelector<*= this.instanceNumber *>" class="modal" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3><*= this.heading *></h3>
        </div>
        
        <div class="tag-selector-search">
            <input type="text" class="tag-search" name="mediaSearch" placeholder="search..." />
        </div>
        
        <div class="tag-selector-results">
            <label>Results</label>
             <ul class="list-unstyled">
                <li class="empty-list-notice">Type something into the search box</li>
            </ul>
        </div>
        <div class="tag-selector-selected-results">
            <label>Selected</label>
             <ul class="list-unstyled">
                <li class="empty-list-notice">Nothing selected yet</li>
            </ul>
        </div>
        <div class="modal-footer">
            <div class="outer-btn-group">
                <div class="btn-group">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                    <a href="#" class="btn done-btn" data-dismiss="modal">Done</a>
                </div>
            </div>
        </div>
    </div>
    ]]>
    </script>

    
<!-- End Tag Selector -->