﻿/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS cross-browser background resize */
/* rounded corner, default set to 5px */
/* CSS cross-browser box shadow, IE & non-IE considerations met */
/* CSS cross-browser box sizing */
/* CSS cross-browser gradient */
/* CSS cross-browser filter blur */
/* min-height cross-browser solution, default height set to 90px */
/* opacity, IE & non-IE opacity set at 50 and 0.5 respectively */
/* CSS cross-browser text-shadow */
/* rotate CSS transformation, default rotation set at 90deg */
/* scale CSS transformation, default x,y at 1.5,1.5 */
/* translateY CSS transformation, default x at 0px */
/* skew CSS transformation, default x,y at 20deg, 20deg */
/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS Cross-browser Solutions */
/* CSS Spares */
/* CSS Spares */
/* CSS Spares */
/* CSS Spares */
/* circle, default height & width set to 100px. Uses .rounded_corner mixin */
/* CSS cross-browser clear fix */
/* CSS cross-browser ellipsis treatment */
/* CSS cross-browser 100%-width/auto-height images */
/* CSS cross-browser ratio */
/* CSS cross-browser text selection */
/* CSS transition, speed set at .150s, and action set to ease-out by default */
/* CSS Spares */
/* CSS Spares */
/* CSS Spares */
/* CSS Spares */
/* Colors library */
/* Colors library */
/* Colors library */
/* Colors library */
/* colors/social */
/*Facebook*/
/*Twitter*/
/*Google+*/
/*YouTube*/
/*LinkedIn*/
/*Instagram*/
/*Pinterest*/
/* */
/* */
/*Vimeo*/
/*Spotify*/
/*RSS*/
/* colors/social */
/* Colors library */
/* Colors library */
/* Colors library */
/* Colors library */
@font-face {
  font-family: 'stolz1';
  src: url('../../Fonts/307740_0_0.eot') format('embedded-opentype'), url('../../Fonts/307740_0_0.ttf') format('truetype'), url('../../Fonts/307740_0_0.woff') format('woff');
}
@font-face {
  font-family: 'stolz2';
  src: url('../../Fonts/307740_1_0.eot') format('embedded-opentype'), url('../../Fonts/307740_1_0.ttf') format('truetype'), url('../../Fonts/307740_1_0.woff') format('woff');
}
@font-face {
  font-family: 'stolz3';
  src: url('../../Fonts/307740_2_0.eot') format('embedded-opentype'), url('../../Fonts/307740_2_0.ttf') format('truetype'), url('../../Fonts/307740_2_0.woff') format('woff');
}
@font-face {
  font-family: 'stolz4';
  src: url('../../Fonts/307740_3_0.eot') format('embedded-opentype'), url('../../Fonts/307740_3_0.ttf') format('truetype'), url('../../Fonts/307740_3_0.woff') format('woff');
}
@font-face {
  font-family: 'stolz5';
  src: url('../../Fonts/307740_4_0.eot') format('embedded-opentype'), url('../../Fonts/307740_4_0.ttf') format('truetype'), url('../../Fonts/307740_4_0.woff') format('woff');
}
@font-face {
  font-family: 'stolz6';
  src: url('../../Fonts/307740_5_0.eot') format('embedded-opentype'), url('../../Fonts/307740_5_0.ttf') format('truetype'), url('../../Fonts/307740_5_0.woff') format('woff');
}
body {
  font-family: stolz4, sans-serif;
}
h1 {
  font-family: stolz4, sans-serif;
  color: #0055a4;
  font-size: 2em;
}
h2 {
  font-family: stolz2, sans-serif;
  color: #0055a4;
  font-size: 2em;
}
h3,
h4 {
  margin-top: 5px;
  font-family: stolz5, sans-serif;
}
a {
  color: #0055a4;
}
label {
  display: block;
  padding-top: 5px;
}
.affix-row {
  width: 100%;
}
.affix {
  background-color: rgba(255, 255, 255, 0.85);
  border-bottom: 1px solid #ddd;
  left: 0;
  top: 50px;
  padding: 20px 25px 0;
  margin: 0 0 0 16.66666667%;
  width: 83.33333333%;
}
.affix .col-md-6 {
  width: auto;
}
.margin-bottom-5 {
  margin-bottom: 5px;
}
.margin-right-10 {
  margin-right: 10px;
}
[class^="col-"].no-padding {
  padding-left: 0;
  padding-right: 0;
}
.buttons {
  padding-top: 10px;
}
.buttons .btn {
  margin-bottom: 5px;
  margin-right: 5px;
}
.divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.edit-media-item-image {
  width: 100%;
  max-width: 400px !important;
}
.input-append {
  display: block;
  height: auto;
  overflow: hidden;
  padding-bottom: 40px;
}
.list-group .list-group-item:nth-child(odd) {
  background-color: #fafafa;
}
.list-group .list-group-item .btn-group.pull-right {
  margin-left: 10px;
}
.list-group .list-group-item .list-unstyled {
  margin-bottom: 0;
}
.offset-below-10 {
  margin-bottom: 10px;
}
.offset-below-20 {
  margin-bottom: 20px;
}
.tab-content {
  border: 1px solid #ddd;
  border-top-width: 0;
  margin-bottom: 40px;
  padding: 15px;
}
.nav-sidebar li.nav-header {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
}
.nav-sidebar li.nav-header:first-child {
  padding-top: 0;
}
.nav-sidebar li i {
  width: 20px;
}
.cmslogo {
  float: left;
  margin: 0 10px;
}
.tab-content.row {
  border-top: 1px solid #ddd;
}
.tab-content.row h2 {
  margin-top: 0;
}
/* FORMS */
.required_star {
  color: #ff0000;
}
.tags {
  padding-left: 1em;
  margin: 1.5em;
}
.tags .subtags {
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}
.top-group-item {
  background-color: #ececec;
  padding: 0.7em 1.4em;
  clear: both;
}
.sm2_actions a,
.sm2_status a {
  padding-right: 0.3em;
}
.sm2_actions span,
.sm2_status span {
  padding-right: 0.3em;
}
.list-group-item {
  clear: both;
  overflow: auto;
  margin-bottom: 7px;
}
.alert-error {
  color: #ff0000;
}
.field-validation-error {
  color: #ff0000;
}
.ui-datepicker {
  background-color: #ececec;
  padding: 0.7em;
}
/* lists */
.list-module {
  margin: 1.5em 0;
}
.list-module li {
  margin-bottom: 0.4em;
}
/* space-top */
.base-module {
  margin-top: 1.7em;
}
.section-bcg {
  background-color: #ececec;
  padding: 0.3em 0.2em;
}
.module-bcg {
  background-color: #ececec;
  padding: 1em 1.5em;
}
/* media */
.media-item {
  padding-left: 0;
}
@media (min-width: 992px) {
  .media-item.col-md-2:nth-child(6n+1) {
    clear: left;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .media-item.col-md-2:nth-child(4n+1) {
    clear: left;
  }
}
@media (max-width: 768px) {
  .media-item.col-md-2:nth-child(2n+1) {
    clear: left;
  }
}
/* for header */
.for-header > [class^="col-md"] {
  padding-left: 0;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 700px;
    margin: 30px auto;
  }
}
#authorList .list-group-item {
  margin-bottom: -1px;
}
#authorList .list-group-item .pull-left {
  margin-right: 10px;
}
#authorList .list-group-item p {
  margin-bottom: 0;
}
.modal-content a.add-media-item:hover .thumbnail {
  background-color: #ececec;
}
.modal-content .media-selector-tab-view-recent-media .add-media-item {
  display: block;
  min-height: 80px;
  height: auto !important;
  height: 80px;
}
.modal-content .media-selector-tab-view-recent-media .add-media-item img.thumbnail {
  box-sizing: border-box;
  display: block;
  height: auto;
  width: 100%;
  max-width: 100%;
}
@media only screen and (min-width: 992px) {
  .modal-content .media-selector-tab-view-recent-media > li:nth-child(4n-3) {
    clear: left;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .modal-content .media-selector-tab-view-recent-media > li:nth-child(3n-2) {
    clear: left;
  }
}
@media only screen and (max-width: 768px) {
  .modal-content .media-selector-tab-view-recent-media > li:nth-child(2n-1) {
    clear: left;
  }
}
.modal-content #mediaRatioPreviewContainer {
  display: none;
}
.modal-content .modal-footer {
  clear: both;
}
.inlinemedia-selector-tab-views {
  display: block;
  height: auto;
  width: 100%;
}
.inlinemedia-selector-tab-views .dropMedia {
  border: 1px solid #cccccc;
  cursor: move;
  width: 200px;
  height: 100px;
  background-size: 200px 100px;
  float: left;
  margin: 10px 10px 0px 0;
  padding: 10px;
}
#Article_brands div {
  display: inline;
  width: 150px;
  padding-right: 25px;
}
.mce-content-body table.mce-item-table thead {
  background-color: #cccccc;
  font-weight: bold;
  font-size: 1.1em;
}
.mce-content-body table.mce-item-table td {
  font-weight: 100;
  height: auto;
  overflow: hidden;
  padding: 10px 8px;
  min-height: 20px;
  font-size: 0.77em;
}
.mce-content-body table.mce-item-table tr:nth-child(even) {
  background-color: #fafafa;
}
.mce-content-body ul {
  list-style: none;
  position: relative;
  padding: 0;
  margin: 1em 0;
}
.mce-content-body ul li {
  padding-left: 1em;
  margin-left: 1.5em;
  margin-bottom: 0.4em;
  color: #666666;
  position: relative;
}
.mce-content-body ul li:before {
  position: absolute;
  font-family: FontAwesome;
  font-size: 0.5em;
  content: "\f111";
  left: 0;
  top: 0.8em;
}
.tn-fa-file-pdf-o,
.tn-fa-file-excel-o,
.tn-fa-file-word-o,
.tn-fa-file-text-o,
.tn-file-o,
.tn-fa-file-powerpoint-o {
  box-sizing: border-box;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  min-height: 80px;
  height: auto !important;
  height: 80px;
}
.tn-fa-file-pdf-o i,
.tn-fa-file-excel-o i,
.tn-fa-file-word-o i,
.tn-fa-file-text-o i,
.tn-file-o i,
.tn-fa-file-powerpoint-o i {
  color: #ffffff;
  font-size: 20px;
  line-height: 40px;
}
.tn-fa-file-pdf-o span,
.tn-fa-file-excel-o span,
.tn-fa-file-word-o span,
.tn-fa-file-text-o span,
.tn-file-o span,
.tn-fa-file-powerpoint-o span {
  display: block;
}
.tn-fa-file-pdf-o {
  background-color: #434343 !important;
}
.tn-fa-file-excel-o {
  background-color: #ff0000 !important;
}
.tn-fa-file-word-o {
  background-color: #0055a4 !important;
}
.tn-fa-file-text-o,
.tn-file-o {
  background-color: #fafafa !important;
  color: #000000 !important;
}
.tn-fa-file-text-o i,
.tn-file-o i {
  color: #000000 !important;
}
.tn-fa-file-powerpoint-o {
  background-color: #0055a4 !important;
}
